.category-content{ 
  .banner{
    height: 200px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: relative;
    display: flex;
    align-items: center;
    &::before{
      content: " ";
      background-color: rgba(48, 58, 75, 0.685);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .container2{
      position: sticky;
     
      .banner-title{
      h1{
        font-weight: 600;
        letter-spacing: $leter;
        font-size: calc(3rem + 2vw);
        display: block;
        line-height: 3rem;
        color: white;
      }
      .meta-description{
        color:white;
      }
    }
    .breackumbs_category{
      
      .breacrumbs{
        list-style: none;
        li {
          display: inline-block;
          a{
            color: white;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  }
  .container{
    .items{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      grid-gap: 10px;
      margin: 10px;
      >.item{
        background: white;
        padding: 2px;
        box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        margin-top: 4em;
         .img{
           width: 100%;
           height: 200px;
             img{
               width: 100%;
               height: 100%;
               object-fit: cover;
               border-radius: 2em;
             }
           }
           .description{
            padding: 10px;
            .title-tour-index{
               font-size: 17px;
               line-height: 17px;
            }
            .descriptiondetails{
             display: grid;
             grid-template-columns:1fr;
             >.item{
               display: grid;
               grid-template-columns: 1fr 2fr;
               margin: 2px 0;
               dt{
                 
                 font-size: 10px;
                 text-transform: uppercase;
                 color: #869099;
                 line-height: 13px;
               }
               dd{
                 font-size: 12px;
                 line-height: 13px;
               }
             }
            }
            .details{
             margin-top: 10px;
             display: grid;
             grid-template-columns: 1fr 1fr;
             grid-template-rows: auto;
             border-bottom: 1px solid rgb(179, 179, 179);
             .duration{
               dl{
                 font-size: .8rem;
                 color:$text-gray-color;
                 line-height: 14px;
                 font-weight: 300;
               }
               dd{
                 font-size: .9rem;
               }
             }
             .price{
               
               dl{
                font-size: .8rem;
                 line-height: 15px;
                 font-weight: 300;
                 color:$text-gray-color;
               }
               dd{
                color: #41c4ab;
                font-size: 20px;
                span{
                  font-size: .8rem;
                  color:$text-gray-color;
                  line-height: 14px;
                  margin-right: 5px;
                }
               }
             }
            }
            .details1{
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-template-rows: auto;
              
              .brochure{
                padding-right: 5px;
              }
              .view-tour{
                padding-left: 5px;
                a{
                  position: relative;
                }
              }
 
            }
          }
      }
    }
  }
}
