.contenedor-texto-404{
    text-align: center;
    padding: 3em;
        h1{
            font-size: 2rem;
    line-height: 4.4rem;
        }
        p{
            font-size: 18px;
        }
}
.contenedor-imagen-404{
    text-align: center;
    .imagenerror{
        width: 400px;
    }
}
.contenedor-toures-404{
    text-align: center;
    padding: 5em;
        h2{
            font-size: 2.2rem;
            line-height: 4.4rem;
        }
}