.contanienewsle{
    background-color: #2a2d32;
    .subnewle{
      justify-content: space-between;
      display: flex;
      align-items: center;
      padding: 50px 0;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      .newlesub{
        color: #fff;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.2;
      }
      .newlesubp{
        color: #fff;
      font-size: 18px;
      padding-bottom: 5px;
      padding-right: 50px;
      }
      .formnewle{
        display: flex;
      align-items: center;
      flex: 60% 0;
        .forminput{
          border-radius: 4px 0 0 4px;
          border: 1px solid #ccc;
          transition: border-color .3s;
          width: 100%;
          box-sizing: border-box;
          height: 45px;
          padding: 0 15px;
        }
        .buttonnewle{
          height: 45px;
          padding: 0;
          border-radius: 0 4px 4px 0;
          background: #868686 !important;
          cursor: auto!important;
          color: #fff;
          font-weight: 500;
          border: none;
          box-shadow: 3px 3px 3px 0 rgba(0,0,0,.1);
          width: 100%;
          margin: 25px 0;
          font-size: 1.1em;
          line-height: 1.5;
        }
      }
    }
  }
footer{
    border-top: 1px solid #ddd;
    display: inline-block;
    width: 100%;
    
    .contenedorfooter{
        width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .subcont{
        display: flex;
        margin-top: 15px;
        .subfoo{
            width: 100%;
            margin-right: 5%;
            h4{
                margin-bottom: 16px;
                font-weight: 500;
            }
            .contenedora{
                margin-bottom: 10px;
                a{
               
                    color: #4a5a5a;
                    .icons-footer{
                        font-size: 22px;
                        margin-right: 10px;
                        vertical-align: top;
                        .svg-footer{
                            width: 1em ;
                        }
                    }
                }
            }
           .whassa{
            color: #4a5a5a;
            .icons-footer{
                font-size: 22px;
                margin-right: 10px;
                vertical-align: top;
                .svg-footer{
                    width: .875em;
                    display: inline-block;
                    font-size: inherit;
                    height: 1em;
                    overflow: visible;
                    vertical-align: -0.125em;
                }
            }
            span{
                vertical-align: text-bottom;
            }
           }
        }
     }
     .copy{
        margin: 50px 0;
        text-align: center;
        border-top: 1px solid #ddd;
        padding-top: 10px;
        div{
            margin-top: 15px;
        }
     }
    }
}