

/*
  @ Estilos lang 
*/
.language_es_lang_ico,.language_en_lang_ico{
    
    width: 24px;
    height: 16px;
    padding: 0 !important;
    display: inline-block;
    position: relative;
    bottom: -4px;
    background-position: -1px -28px;
}
.language_en_lang_ico{
    background-position: -49px -100px;
}

/* 
@Estilos de textos 
*/
.text-linght{
    font-weight: 300;
}

.px-4{
    padding-left: 20px;
    padding-right: 20px;
}
.py-2{
    padding-bottom: 5px;
    padding-top: 5px;
}


/*
@Colores de Textos 
*/
.text-green-linght{
   color: #63797f;
   font-size: 13px;
   padding-left: 0.3em;
   font-weight: 500;
}

/*
@font awesome XD
*/

.tour_title_icon{
    svg{
        width:30px;
        
        .fa-secondary{
            color: #96bc34;
        }
    }
}
.donwload_pdf_icon{
    svg{
        width:12px;
        .fa-primary{
            color:white;
        }
        .fa-secondary{
            color:#409cd1;
        }
    }
}
#btn_add_manifest{
    background-color: #fff;
    padding: 10px;
    font-size: 15px;
    line-height: 18px;
    border: 0;
    border-radius: 0;
    width: 80%;
    margin: 20px 0;
    height: 39px;
    color: #1a2a4a;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
}
@keyframes scales{
    from{
     transform : scale(0.9);
    }
    to{
        transform : scale(1.02);
    }
}
 p a{
    letter-spacing: .2px;
    color: #0a7bbd;
    &:hover{
        text-decoration: underline;
    }
}
.loading{
    background: url('https://www.tourradar.com/im/r/pw/tr-loader-small.gif');
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    background-position: center;
    background-size: cover;
}
.empty{
    border:solid 2px red ;
    &input[type="text"],&input[type="email"]{
        border:solid 2px red;
    }
}


.menssage_help{
    position: fixed;
    left: 10px;
    bottom: 20px;
    z-index: 12;
    .whatsapp{
        position: absolute;
        bottom: 10px;
        left: 20px;
        #btn_help_send_message_whatsapp{
            height: 60px;
            background: #4dc247;
            width: 60px;
            cursor: pointer;          
            box-shadow: 1px 1px 3px#1a2a4a;                   
            border-radius: 50%;
            &:hover{
                box-shadow: 1px 2px 8px#1a2a4a;
            }
            i svg{
                fill: white;
            }
        }
    }
}

  
  .slideInUp {
    animation-name: slideInUp;

  }
 
  
@keyframes slideInUp {
    from {
      transform: translate3d(0, 200%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }