/******************** Estilos Index ******************/
.main{
  background: #F1F1F1;
  padding-bottom: 10px;
  position: relative;
  .banner-index{
    height: 70vh;
    position: relative;
   
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: middle;
      border-style: cover;
    };
    span{
      position: absolute;
      top: 30%;
      left: 2%;
      font-size: 3em;
    color: #fff;
    font-weight: 600;
    text-align: left;
    text-shadow: 2px 2px 6px #1a2d4c;
    line-height: 50px;
    .Subsli{
      font-size: 23px;
      font-weight: 600;
      color: #eae9e9;
    }
    }
  }
}

.page-header{
  
  .Header-page{
   
    .container-header{
      display: flex;
   
    .header-cont{
      flex-basis: calc(100% - 128px);
      margin-top: 2em;

      .header-text{
        text-align: center;
        div{
         
    .icons-header{
      margin: 0 auto;
      max-width: 100%;
      height: 25px;
  
    }
        }
        .header-h2{
          font-size: 13px;
    line-height: 2rem;
    color: #9b9a9d;
 
        }
        .header-par{
          font-size: .875rem;
          line-height: 1.25rem;
          color: #6d7688;
        }
      }
       }
    }
  }
  
}

.InfoCon{
  margin-bottom: 40px;
  margin-top: 4em;
  .subcon{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 96px;
    padding-right: 96px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    .grcon{
      border-right: 16px solid transparent;
      width: 50%;
      img{
        width: 100%;
    display: block;
      }
      
    }
    .descon{
      border-left: 16px solid transparent;
    width: 50%;
    h1{
      font-size: 4rem;
    font-weight: 500;
    margin: 0;
    text-align: left;
    line-height: 4.75rem;
    }
    p{margin-bottom: 16px;
      text-align: left;
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 0 0 2px;}
    }
  }
}
.container{
  
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
    width: 100%;
    background: #e2e2e2;
    position: relative;
    box-shadow: 0 0px 5px 1px #789090;
    .menu-categori{
      .slider-items-categori{
     
        .contenedor-items-categoria{
          display: flex;
        .CajaDesti{
          width: 26em;
          padding: 5px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
    .Cov{
      text-align: center;
      font-size: 19px;
      margin: 2em;     
      p{
        color: #808080;
        font-size: 16px;
        line-height: 30px;
      }
      a{
        color: #01b3a7;
        font-size: 14px;
        text-decoration: underline;
      }
      .titlecov{
        font-size: 20px;
        margin-bottom: 13px;
        color: #4e4e4e;
      }
    }
    .categor-index{
      display: grid;
      grid-template-columns: 1fr 1fr;
      .categor-cont{
         
         height: 305px;
         background-size: cover;
        background-position: center;
        text-align: center;
        border-radius: 5em;
        margin: 1em;
        box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.44);
        h3{
          position: relative;
          top: 40%;
        }
        span{
          
          font-size: 42px;
          color: white;
          text-shadow: -2px 6px 11px #000000;
         
    
        }
      }
    }
}


/****************** Categoryus index *************/
.Abaout1{
  text-align: center;
  background: white;
  max-width: 45%;
  margin: 0 auto;
  margin-top: 5em;
  h3{
    font-size: 23px;
    border-bottom: 3px solid #2a2d2c !important;
    line-height: 1.5em;
  }
  p{
    font-size: 18px;
    line-height: 1.75;
    margin: 36px 0px 0px 0px;
    color: #858f99;
  }
  .p2{
    font-size: 23px;
    
    line-height: 1.5em;
  }
  hr{
    border-color: #eaeaea;     width: 90px;
                border-top-width: 2px;margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
}


.categor-title-index{
  padding: 30px 0;
  h1 , h2{  
    span{
      display: block;
      &:nth-child(1){
        font-size: 22px;
        padding: 0.8em;
        font-weight: 500;
      }
      &:nth-child(2){
        font-size: 20px;
      }
    }
  }
}

.slideshow-container{
  max-width: 1400px;
  position: relative;
  margin: auto;
  .mySlides1{
    display: none;
    .mical{
      margin-right: 25px;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 20px;
      text-align: center;
      color: #4a5a5a;
      line-height: 1.6666666667em;
      background: white;
      img{
        border-radius: 50px;
          width: 100px;
          margin-bottom: 15px;
      }
      strong{
        font-weight: 600;
      }
    }
    .mical1{
      margin-right: 25px;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 20px;
      text-align: center;
      color: #4a5a5a;
      line-height: 1.6666666667em;
      background: white;
      img{
        border-radius: 50px;
          width: 100px;
          margin-bottom: 15px;
      }
      strong{
        font-weight: 600;
      }
    }
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(255, 1, 64, 0.66);
      color: #fff;
  }
  .next{right: 0;
    border-radius: 3px 0 0 3px;}
}
.catergorys-index{

  .items{
    margin-top: 10px;
    .item{
     
      
      
      .description{

       
        font-size: 16px;
        height: 255px;
        box-shadow: 0px 12px 24px -6px rgb(0 0 0 / 40%);
        border-radius: 0 0 6px 6px;

        .details{            
          line-height: 18px;
          padding: 0.8em;    
          .footeritems{
            align-items: flex-end;
            display: flex;
            justify-content: space-between;
            margin-top: auto;
            padding: 0px 16px;
          .PriceDs{
            color: #1a2b49;
            text-align: right;
            
            p{
              margin-bottom: 0;
              font-size: .75rem;
              line-height: .75rem;
              color: #6d7688;
            }
            .curationtourprice{
              p{
                margin-bottom: 0;
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: 900;
                color: #1a2b49;
                white-space: nowrap;
                margin: 0 0 2px;
              }
            }
          }
        }
             .fronreviews{
              font-size: 15px;
              color: rgb(26, 43, 73);
              font-weight: 900;
             }
             .reviers{
              color: rgb(109, 118, 136);
              font-size: 10px;
              line-height: 0.75rem;
            }
        }
        .duration{
          padding: 4px 5px 7px 8px;
              
              .reviews{
                margin-top: 1em;
                
              }
          .rcotn{
            display: flex;
            .titletourin{
              display: block;
              color: #161A2B;
              width: calc(87% - 60px);
              margin: 0;
              padding: 0;
              font-size: 11px;
            }
            
          }
            
            

          .titletourin{
            padding-bottom: 5px;
            color: #080867;
            margin-top: 5px;
            padding-left: 5px;
          }
          .describciontour{
            display: block;
            margin:20px 0 18px;
            color: #444;
            opacity: 0.9;
            line-height: 20px;
            font-size: 14px;
          }
          
          }
          .describiciontourin{
            top: 0;
            right: 0;
          
           
            justify-content: space-between;
            width: 100%;
            .tourdestinoin{
              font-size: 14px;
              color: #444;
              padding-top: 14px;
              .titlesdescribci{
                margin-left: 6px;
              }
            }
            .icondescripcion{
              width: 14px;
            }
            .durationtourin{
              
              font-size: 14px;
              color: rgb(26, 43, 73);;
              padding-top: 11px;
              .titlesdescribci{
                margin-left: 6px;
              }
            }
            
          }
        }
      
      .img{
        height: 190px;
        border-radius: 6px 6px 0 0;
       background-size: cover;
       box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.4);
      .subimg{
        padding: 5px;
    border-radius: 6px;
    color: #fff;
    width: -moz-max-content;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.65rem;
    line-height: 0.75rem;
    background-color: rgba(255, 1, 64, 0.66);
    letter-spacing: 0.5px;
   
    position: absolute;
    margin: 1em;
      }
      
      }  
     .Desitns{
      margin-bottom: -10px;
      margin-top: -25px;
      padding: 0 8px;    
      z-index: 1;
      position: absolute;
      .desitntex{
      
      
        padding: 5px;
        border-radius: 6px;
        color: #fff;        
        width: -moz-max-content;
        width: max-content;        
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .65rem;
        line-height: .75rem;
        background-color: #1593ffa3;
        letter-spacing: 0.5px;
      }
      }
    }
  }
} 
