/************************ Media Querys  Begin **************************/
// Extra small devices (portrait phones, less than 576px)
@media only screen and (min-width : 480px) {
  .logo-header{
   
   
    .header-logo{
      img{
        margin-left: 0px !important;
        
      }
    }
    }
}
@media  only screen and (max-width: 575.98px) {
  .subnav{
    .container1{
      display: none!important;
      .header{
        display: none!important;
        nav{
          ul{
            li{
              display: none!important;
            }
          }
        }
      }
     }
    .logo-header{
    margin-left: -3em !important;
   
    .header-logo{
      img{
        margin-left: 0px !important;
        
      }
    }
    }
  }
  .container{
    max-width: 100% !important;
    #included{
      padding: 1em!important;
      .BarrainferiorBox{
        display: block!important;
      }
    }
    .Header-page{
      padding-left: 2px;
       padding-right: 2px;
      
    }
    
    .subcon{
      display : block!important;
      padding-left: 20px;
      padding-right: 20px;
      .grcon{
        width: fit-content;
      }
      .descon{
        width: fit-content;
      }
    }
    .contenedor-items-categoria{
      left: 5%!important;
      .slider{
        width: 8em!important;
        a{
          position: revert!important;
        }
      }
    }
    .mical1{
      display: none;
    }
    .Abaout1{
      max-width: 75%;
    }
    .reserva20{
      left: 20%;
    }
 
  }
  .subnewle{
    display: block!important;
  }
  .catergorys-index{
   
    .items{
      .item{
        margin: 36px;
      }
    }
  }

  .tour_item{
    padding: 0 0em;
    .tour-item-title{
      h1{
        font-size: 2rem;
      }
    }
  }
  // footer
  footer{
    .subcont{
      display: block!important;
      .subfoo{
        padding: 1em;
      }
    }
 }  
 .container_email{
  grid-template-columns: 1fr;
 }


 #highlights{
  background: white;
  padding: 20px;
 
  .div-highlights{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .map_hilights{
      img{
        object-fit: cover;
        width: 100%;
      }

  }
}
.details-table-highlights{
  table{
    tbody{
      display: grid;
      grid-template-columns: 1fr 1fr;
      tr{
        display: flex;
        justify-content: flex-start;
        th{
          margin-right: 20px;
        }
      }
    }

  }
}
}
.Table-meta{
  .googlemaps-i{
    width: 100%!important;
  }
 }
 }

// Small devices (landscape phones, less than 768px)
@media only screen and (max-width: 767.98px) {
  .subnav{
    .container1{
     .header{
       nav{
         ul{
           li{
             display: none;
           }
         }
       }
     }
    }
    .logo-header{
    margin-left: 0em;
   
    .header-logo{
      img{
        margin-left: -24px !important;
        
      }
    }
    }
  }

  .Descripcionweb{
      .subdescweb{
        margin-left: 1em!important;
        .iconosmen{
          font-size: 10px!important;
        }
      }
  }
  .categor-index{
    display: block!important;
  }
  .content_nav{
      position: fixed;
      display: block;
      transition: all .5s ease;
      width: 0px;
      height: 0px;
      z-index: 8;
      top:0;
    &.active{
      background: white;
      left: 0;
      width: 100%;
      height: 100%;     
    }
   
  }
  header .header{
    nav{
      ul{  
        
        .menu-nav-nav{
          display: none;
        }  
        
        li{
          display: contents;
          margin: 0px !important;
          img{
            display:none;
          }
          span{
            padding: 0px !important;
            &.language a{
              padding: 0px !important;
            }
          }
          .text_nav{
            display: none;
          }
        }
      }
    }
 
  }

 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  // .header nav{
  //   display: none;
  // }
   // menu estyle

 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

 }

 // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container{

    padding: 0px 20px;
    
  }
  .catergorys-index{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .items{
         grid-template-columns: 1fr 1fr 1fr 1fr;
         &:nth-child(odd), &:nth-child(even){
           .category{
             grid-column: 1 / 3;
             grid-template-columns: 1fr 1fr 1fr 1fr;
           }
         }
    }
}




/* Tour Estilos Medias querys *****/
  .tour_item{
    .activity-top{
      display: grid;
      grid-template-columns: 2fr 1fr;
       h1{
         font-size: 45px;
       }
    }
  }

  #highlights{
    background: white;
    padding: 20px;
 
    .div-highlights{
      display: grid;
      grid-template-columns: 1fr 1fr;
      .map_hilights{
        img{
          object-fit: cover;
          width: 100%;
        }

    }
  }
  .details-table-highlights{
    table{
      tbody{
        display: grid;
        grid-template-columns: 1fr 1fr;
        tr{
          display: flex;
          justify-content: flex-start;
          th{
            margin-right: 20px;
          }
        }
      }

    }
  }
}


.tour-conten-details{
  .box-details{
    .price_bokking_data{
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
}

#itinerary{
  .itinerary-details{
    ol{
      li{
        .i{
          .description-div{
            
            
            &:nth-child(even){
              grid-template-columns: 2fr 3fr !important;
              .description-img{
                grid-column: 1 / 1;
                grid-row: 1 / 1;
                grid-template: 1fr;

              }
            }

          }
        }
      }
    }
  }
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 736px) {
  /*------------------- Tour lista cajita xd ------------------*/
.day-trip .day-tour .trips .trip{
  grid-template-columns: 1fr 1fr !important;
  .item:nth-child(1){
    grid-column:  auto !important;
     grid-row: auto !important;
  }
}
  .container{
    padding-right: 32px;
    padding-left: 32px;
  }


  .form-group{
    grid-template-columns: 1fr 1fr;
  }

  // footer
  footer{
    .footer-row{
        grid-template-columns: repeat(3,1fr);
        
    }
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 1024px) {

  .tour_item{
    .content-header-wper2{
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 20px;
      #box-reserv{
        margin:0px !important;
      }
    }
    .content-header-wper{
      #box-reserv{
        margin:0px !important;
      }
    }
  }
  #box-reserv   #reservas-tour{
      position: absolute;
      z-index: 3;
      border-radius: 24px;
      margin-top: -10px;
      width: 61%;
      background: #ffffff;
  }
  .container{
    padding-right: 82px;
    padding-left: 82px;
  }
  .catergorys-index{
    .items{
      display: grid;
      grid-gap: 32px;
      grid-template-rows: auto;
        &:nth-child(odd){
          .category{
            grid-column: 1 / 4;
            grid-row: 1 / 3;
              grid-template-columns: 1fr 1fr;
          }
        }
        &:nth-child(even){
          .category{
            grid-column: 2 / 6;
            grid-row: 1 / 3;
              grid-template-columns: 1fr 1fr;
          }
        }
       .item{
         margin: 0;
         padding: 0;
       }
    }
  }

  .tour-conten-details{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    .box-details{
      grid-column: 1;
      grid-row: 1;
    }
  }

  // efecto scroll {}
    #box-reserv   #reservas-tour.efectoScrool{
      position: fixed !important;
      top:20px;
      width: 100%;
      max-width: 400px;;
    }

  footer{
    .footer-row{
        grid-template-columns: repeat(5,1fr);
    }
  }

  .PasarelaPago{
    .day-trip{
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 20px;
      .my-trips{
        margin: 0 !important;
      }
    }
    .traveler-detail{
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 20px;
      .item{
        .traveler{
          .travelers{
            padding: 20px 44px !important;
            margin-right: 152px !important;
          }
        }
      }

    }
    .detail-pago{
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 20px;
    }
  }
   // menu estyle
   .menu-tour_movil{
     &.efectoScrool{
       top:0 !important;
       bottom: auto !important;
     }
      .div_content_title_movil{
        background: #161A2B;
        color:white;
        display: grid;
        padding: 10px 5px;
        
        grid-template-columns: 3fr 1fr;
        .title_content_movil{
          font-size: 2.5em;
          padding-left: 1.4em;
          display: block !important;
        }
      }
      .list_ul_nav_tour{
        display: block !important;
      }
   }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1336px) {
  .container{  
    padding-left: 150px;
    padding-right: 150px;
  }
  
  .catergorys-index{
    .items{
      display: grid;
      grid-gap: 1em;
      grid-template-rows: auto;
        &:nth-child(odd){
          .category{
            grid-column: 1 / 3;
            grid-row: 1 / 3;
              grid-template-columns: 1fr;
          }
        }
        &:nth-child(even){
          .category{
            grid-column: 3 / 5;
            grid-row: 1 / 3;
              grid-template-columns: 1fr;
          }
        }
       .item{
         margin: 0;
         padding: 0;
       }
    }
  }
}


/************************ Media Querys End **************************/
