
.PasarelaPago{
	padding: 20px;
	.day-trip{
		.day-tour{
			padding: 15px;
			background: white;
			.title{
				display: flex;
			}
			.trips{
				.trip{
					margin: 20px 0;
					display: grid;
					grid-template-columns: 1fr;
					.item:nth-child(2){
						padding: 1.5em;
						position: relative;
						border: 1px solid;
						.start-tour-date{
							font-size: 1.6em;
							font-weight: bold;
							display: block;
							margin-block-start: 0.83em;
    					    margin-block-end: 0.83em;
						}
						.red-icon{
							position: absolute;
							top:0;
							right: 0;
							width: 30px;
							height: 30px;
							text-align: center;
							line-height: 20px;
							cursor: pointer;
							background: #ff475e;
							font-size: 12px;
							color: white;
							border: 1px solid;
							border-radius: 100%;
							padding: 5px;
						}
					}
					.item:nth-child(1){
						padding: 10px;
						border: 1px solid;
						font-size: 13px;
						grid-column:  1;
						grid-row: 2;
						p{
							display: flex;
							img.check-icon{
								width: 14px;
						    margin-right: 10px;
						    display: block;
						    height: 20px;
							}
							.label{
								font-weight: bolder;
							}
						}
						

					}
				}
			}
			.add_information{
				//width: 100%;
				//max-width: 500px;
				.form-group{
					display: grid;
				    grid-template-columns: 1fr 2fr;
					margin: 5px;
					label{
						line-height: 40px;
						display: flex;
						justify-content: flex-start;
						padding-right: 30px;
						padding-left: 20px;
					}
					input{
						vertical-align: middle;
						padding-left: 15px;
						height: 45px;
						border: 1px solid #c7d0d9;
						border-radius: 3px;
						font-size: 14px;
						line-height: 1;
						width:100%;
						max-width: 300px;
						outline: none;
					}
					textarea{
						vertical-align: middle;
						padding-left: 15px;
						padding-top: 10px;
						height: 75px;
						border: 1px solid #c7d0d9;
						border-radius: 3px;
						font-size: 14px;
						line-height: 1;
						width:100%;
						max-width: 500px;
						outline: none;
					}
				}
			}
			
		}
		.my-trips{
			background: white;
			padding: 20px 15px;
			margin-top: 30px;
			.title{
			font-weight: 700;
		    color: #409cd1;
		    line-height: 24px;
		    padding: 12px 0;
		    border-top: 1px solid #c7d0d9;
		    border-bottom: 1px solid #c7d0d9;
		    margin: 15px 0;
			}
			.totaltrip{
		    display: flex;
			justify-content: space-between;
			font-weight: 700;
		    color: #409cd1;
		    line-height: 24px;
		    padding: 12px 0;
		    border-top: 1px solid #c7d0d9;
		    border-bottom: 1px solid #c7d0d9;
		    margin: 15px 0;
			}
			.my-trip{
				.trip{
					padding-left: 1em;
					.trip-title{
						font-weight: 900;
						font-size: 14px;
					}
					.tripdetail{
						display: flex;
						justify-content: space-between;
							opacity: 0.7;
					}
				}
			}
		}
	}
	.traveler-detail{
		margin: 30px 0;
		// padding: 20px;
		.item:first-child{
			background: white;
		}
		.title{
			display: flex;
			padding: 10px;
			border-bottom: 1px solid #c7d0d9;
		}
		.traveler{
			.travelers{
				padding: 20px;
				.form-group{
					display: grid;
					// grid-template-columns: 1fr 2fr;
					margin: 10px;
					label{
						line-height: 40px;
						display: flex;
						justify-content: flex-start;
						padding-right: 30px;
					}
					input{
						vertical-align: middle;
						padding-left: 15px;
						height: 45px;
						border: 1px solid #c7d0d9;
						border-radius: 3px;
						font-size: 14px;
						line-height: 1;
						width:100%;
						max-width: 300px;
						outline: none;
					}
				}
			}
		}
	}
	.detail-pago{
	 //		background: white;
		// padding: 20px;
		.item:first-child{
			background: white;
		}
		.title{
			display: flex;
			margin: 10px 0;
			padding: 5px 10px;
			border-bottom: 1px solid #c7d0d9;
		}
		.seguity-pay{
			width: 100%;
			background-color: #bdede4;
			color: #206054;
			position: relative;
			line-height: 29px;
			margin-bottom: 10px;
			img{
				width: 15px;
				margin: 8px 8px 8px 2px;
				float: left;
				opacity: 0.5;
			}
			p{
				line-height: 16px;
		    text-align: justify;
		    font-weight: 100;
		    padding: 10px;
			}
		}
		.subtitulado{
			font-weight: 700;
   		margin-bottom: 10px;
			padding: 0 20px;
		}
		.pay-card{
			border: 1px solid #c7d0d9;
			border-radius: 3px;
			margin: 10px;
			padding: 10px;
			margin-top: 0;
			&:hover{
				border: 1px solid #66b0da;
			}
			.pay-img{
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				padding-left: 20px;
				display: block;
				.img-card{
					img{
						max-width: 33px;
						max-height: 22px;
						margin-left: 20px;
					}
				}
			}
			.form-pay-card{
				border-top: 1px solid #c7d0d9;
				max-height: 0px;
				overflow: hidden;
				transition: max-height .3s,padding-top 1s;
				&.active{
					max-height: 999px;
				}
				.form-group{
					display: grid;
					// grid-template-columns: 1fr 2fr;
					margin: 10px;
					label{
						line-height: 40px;
						display: flex;
						justify-content: flex-start;
						padding-right: 30px;
						.iconosTarjetas{
							max-width: 77px;
						    max-height: 31px;
						    margin-left: 28px;
						}
					}
					input{
						vertical-align: middle;
						padding-left: 15px;
						height: 45px;
						border: 1px solid #c7d0d9;
						border-radius: 3px;
						font-size: 14px;
						line-height: 1;
						width:100%;
						max-width: 300px;
						outline: none;
					}
				}
			}
		}
		.pay-paypal{
			border: 1px solid #c7d0d9;
			border-radius: 3px;
			margin: 10px;
			padding: 10px;
			margin-top: 0;
			&:hover{
				border: 1px solid #66b0da;
			}
			.pay-img{
				padding: 6px;
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				padding-left: 20px;
				.img-card{
					img{
						width: 30px;
					}
				}

			}
			.form-paypal{
				border-top: 1px solid #c7d0d9;
				max-height: 0px;
				overflow: hidden;
				transition: max-height .3s,padding-top 1s;
				.paypalImg{
					img{
						height: 42px;
				    margin: 3px 0 0;
				    cursor: pointer;
					}
				}
				&.active{
					max-height: 999px;
				}
			}
		}
		.condiciones{
		  padding: 1em;
			.but{
				display: block;
				text-align: center;
				box-shadow: 1px 2px 8px rgba(0,0,0,.3);
				font-size: 18px;
				line-height: 22px;
				padding: 15px;
				width: 240px;
				margin: 40px auto 0;
				border-color: #66b0da;
				background: #66b0da;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}




.PasarelaPagoFr{
	.containerG{
		padding: 50px;

		#cuadricula{
			display: grid;
    		grid-template-columns:2fr 2fr;
    		grid-gap:12em;

    		.item1{
				 padding:1.5em;
      			width: 650px;
        		background:white;

				.contenedortitulov{
					padding: 1em;
				}
				.point{
					width: 30px;
      				height: 30px;
      				border: 2px solid #409cd1;
      				line-height: 26px;
      				text-align: center;
	      			border-radius: 50%;
	     			 display: inline-block;
	      			margin-right: 20px;
	      			color: #409cd1;
	      			font-weight: 700;
				}
				#cuadricula1{
					display: grid;
     				 grid-template-columns:1fr 1fr 1fr;

						.item2{
							  padding:1.5em;
   							  border: 1px solid;
                              width: 231px;
                              font-size: 15px;
                              text-decoration: none;
								.link2{
									text-decoration: none;
								}
						}
						.item3{
							border: 1px solid;
    						width: 372px;
   							font-size: 13px;
    						height: 153px;

								.icon-letras{
									line-height: 16px;
     								margin-top: 19px;
								}
								.icons{
									  width: 15px;  margin: 8px 8px 8px 2px;float: left;
   									 opacity: 0.5;
								}
								.empujon-letra{
									display: inline-block;
								}
								.icon-letras{
									line-height: 16px;
     								margin-top: 19px;
								}

						}
						.item4{
								width: 186px;
   								font-size: 13px;
    							height: 30px;
    							text-align: center;

								.Icon2{
										width: 15px;
								}
						}
				}
    		}
    		.item{
						padding:2em;
      					width: 370px;
        				background:white;

				.tituloPasajeros{
						font-size: 30px;
     					line-height: 32px;
      					margin-bottom: 15px;
      					font-weight: 700;
				}
				.icon-letras{
					line-height: 16px;
    				 margin-top: 19px;

					.ulviajeros{
						margin: 0;
      					padding: 0;
      					list-style: none;

						.liViajeros{
							padding-top: 0;
      						padding-bottom: 0;
      						margin-bottom: 5px;
      						line-height: 0.5px;

							.pViajeros{
								font-weight: 900;
    							padding: 1em;
							}
							.spanViajeros{
								opacity: 0.7;
    							padding-left: 1em;
							}
						}
					}
				}
    		}
		}
  }
		.containerG{
			padding: 50px;

			#cuadricula2{
				display: grid;
     			grid-template-columns:1fr 1fr;
       			grid-gap:12em;

				.item5{
						padding:1.5em;
    					width: 650px;
      					background:white;

					.contenedortitulov{
						padding: 1em;

						.point{
							width: 30px;
      						height: 30px;
      						border: 2px solid #409cd1;
      						line-height: 26px;
      						text-align: center;
      						border-radius: 50%;
      						display: inline-block;
      						margin-right: 20px;
      						color: #409cd1;
      						font-weight: 700;
						}
						.Empujon-letra{
							display: inline-block;
						}
					}
					.FoPago{
						 padding: 15px 30px 20px 15px;
      					border-top: 1px solid #c7d0d9;
      					max-height: 500px;
      					transition: all .2s ease-in;
      					overflow: hidden;

						.b{
							padding-right:7em;
						}
						.diviajes{
							width: 26%;
    						display: inline-block;

							.botonesMyM{
							color: #c7d0d9;
    						border-color: #c7d0d9;
      						cursor: auto;
          					width: 32px;
      						height: 32px;
      						border: 2px solid #409cd1;
      						line-height: 28px;
      						border-radius: 50%;
      						display: inline-block;
      						color: #409cd1;
      						background: #fff;
      						text-align: center;
      						z-index: 1;
      						position: relative;
							}
						}
						.sectionFormulario{
								 vertical-align: middle;
    							display: block;

							.containerFormulario{
								 vertical-align: middle;
    							 display: table-row;

									.Formulario-pr{
										padding-right: 30px;
     									padding-top: 10px;
      									vertical-align: top;
      									min-width: 200px;position: relative;
      									display: table-cell;
      									padding-bottom: 10px;
      									line-height: 23px;
									}
									.Textformulariofd{
										 position: relative;
     									 display: table-cell;
      									padding-bottom: 10px;
      									line-height: 23px;

										.TxtFormulario{
										vertical-align: middle; padding-left: 15px;
     									height: 45px;
      									border: 1px solid #c7d0d9;
     									border-radius: 3px;
      									font-size: 14px;
      									line-height: 1;
      									width: 260px;
     									outline: none;
      									-webkit-appearance: none;
										}
									}

						    }
						}
					}
				}
			.item6{
				padding:1.5em;
    			width: 370px;
      			background:white;
      			height: 270px;

				.TitutoNumero{
					font-weight: 700;
     				color: #409cd1;
      				line-height: 24px;
      				padding: 12px 0;
      				border-top: 1px solid #c7d0d9;
      				border-bottom: 1px solid #c7d0d9;
      				margin: 15px 0;

					.NumeroPasajeros{
						 float: right;
      					max-width: 40%;
					}
				}
				.icon-letras{
					line-height: 16px;
     				margin-top: 19px;

					.ulviajeros{
						 margin: 0;
     					padding: 0;
     					 list-style: none;

						.liViajeros{
							padding-top: 0;
     						 padding-bottom: 0;
      						margin-bottom: 5px;
      						line-height: 0.5px;

							.pViajeros{
								font-weight: 900;
    								padding: 1em;
							}
							.spanViajeros{
								opacity: 0.7;
    							padding-left: 1em;
							}
							.NumeroPasajeros{
								 float: right;
      							max-width: 40%;
							}
						}
					}
					.TitutoNumero{
						font-weight: 700;
      					color: #409cd1;
      					line-height: 24px;
      					padding: 12px 0;
      					border-top: 1px solid #c7d0d9;
      					border-bottom: 1px solid #c7d0d9;
      					margin: 15px 0;

						.NumeroPasajeros{
								float: right;
    						  max-width: 40%;
						}
					}
				}
			}
		.item7{
				 padding:1.5em;
   				 width: 650px;
    			  background:white;
        		  height: 720px;

				.contenedortitulov{
						padding: 1em;

						.point{

								 width: 30px;
      								height: 30px;
      								border: 2px solid #409cd1;
     								 line-height: 26px;
      								text-align: center;
      								border-radius: 50%;
      								display: inline-block;
     								 margin-right: 20px;
     								 color: #409cd1;
     								 font-weight: 700;
						}
						.Empujon-letra{
								display: inline-block;
						}
					}
				.seguridadP{
						 width: 100%;
     						 background-color: #bdede4;
     						 color: #206054;
     						 position: relative;
     						 line-height: 29px;
     						 margin-bottom: 20px;

						.icons{
							width: 15px;  margin: 8px 8px 8px 2px;float: left;
   							 opacity: 0.5;
						}
					}
				.Subtitulo{
						font-weight: 700;
      					margin-bottom: 10px;
					}
				.CajadetextoP{
					 padding: 0;
     				 border: 1px solid #c7d0d9;
     				 border-radius: 3px;
     				 padding: 20px;
     				 margin-top: 0;

						.contenedorpago{
							display: block;
     						 position: relative;
     						 z-index: 2;
      						padding: 0 0 0 40px;
      						margin: 0 auto;
      						line-height: 24px;
      						cursor: pointer;

							.ContenedorImgP{
								width: 100%;
      								display: flex;
      								justify-content: space-between;
							}
							.iconosTarjetas{
								 max-width: 33px;
      							max-height: 22px;
      							margin-left: 20px;
							}
						}
						.FoPago{
							padding: 15px 30px 20px 15px;
     						 border-top: 1px solid #c7d0d9;
      						max-height: 500px;
      						transition: all .2s ease-in;
      						overflow: hidden;

							.containerFormulario{
								vertical-align: middle;
     							display: table-row;

								.Formulario-pr{
									 		padding-right: 30px;
      										padding-top: 10px;
     								 		vertical-align: top;
     										 min-width: 200px;position: relative;
     								 		display: table-cell;
     								 		padding-bottom: 10px;
     										 line-height: 23px;
									.iconosTarjetas1{
												max-width: 83px;
      										max-height: 40px;
     										 margin-left: 40px;
										}
									}
								.Textformulariofd{
									 position: relative;
      										display: table-cell;
      										padding-bottom: 10px;
      										line-height: 23px;
									.TxtFormulario{
												vertical-align: middle; padding-left: 15px;
    										  height: 45px;
     										 border: 1px solid #c7d0d9;
     												 border-radius: 3px;
     										 font-size: 14px;
     										 line-height: 1;
     												 width: 260px;
     										 outline: none;
     										 -webkit-appearance: none;
									}
								}
							}
						}
					}
				.CajadetextoP1{
					  padding: 0;
     				 border: 1px solid #c7d0d9;
      				border-radius: 3px;
      				padding: 20px;
      				margin-top: 0;
      				height: 145px;
						.contenedorpago{
							display: block;
     						 position: relative;
     						 z-index: 2;
     						 padding: 0 0 0 40px;
      						margin: 0 auto;
      								line-height: 24px;
      								cursor: pointer;
							.ContenedorImgP{
										 width: 100%;
     								 display: flex;
      								justify-content: space-between;
								.iconosTarjetas{
										max-width: 33px;
     										 max-height: 22px;
      										margin-left: 20px;
								}
							}
						}
						.FoPago{
							  padding: 15px 30px 20px 15px;
      							border-top: 1px solid #c7d0d9;
      						max-height: 500px;
      							transition: all .2s ease-in;
      						overflow: hidden;
							.containerPaypal{
								.Letraspaypal{

								}
							.paypalImg{
								display: inline-block;
								.pypalimane{
										height: 42px;
     										 margin: 3px 0 0;
      										cursor: pointer;
										}
								}
							}
						}
						.condiciones{
								padding: 1em;
						}
					}
				}
			}
		}
	}
