.PoliticasContainer{
    padding-right: 72px;
  padding-left: 72px;
  font-family: "GT Eesti",Arial,sans-serif;
  padding: 2em;
  .MenuLateral{
      
      width: 25%;
      .ListaMenuLateral{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        li{
    padding: 5px 0;
  }
      }
    }
  .MenuDerecho{
        
       width: 75%;
       .titlepoliticas{
            overflow: hidden;
            border-bottom: 1px solid #d3d3d4;
            padding-bottom: 5px;
            margin-bottom: 10px;
            .titleh1p{
                  
                  margin: 0;
                  font-size: 28px;
                  font-weight: 500;
            }
       }
        h2{
            margin-top: 30px;
            padding-bottom: 3px;
            font-size: 16px;
            font-weight: 500;
            border-bottom: 1px solid #d3d3d4;
            }
        h3{
            margin: 20px 0 0 0;
        }
    } 
  }