
.barrasub{
  height: 3px;
    background-color: #01b3a7;
    position: sticky;
  top: 0px;
  z-index: 2;
}

header{
  
  position: relative;
    width: 100%;
    height: 55px;
    background: #fff;
    border-bottom: 1px solid #eee;
    z-index: 999;
    margin-top: -2px;
  .subnav{
    display: flex;
    .logo-header{  
      width: 100%;
      
      .header-logo{
       
        height: $height-header;
        display: block;
        margin-left: 150px;
        position: absolute;
        top: -8.5px;
        img{
          object-fit: cover;
          height: 100%;
          padding: 17px;
        }
      }
    }
    .container1{

      width: 100%;
     
    
    
    .header{  
      nav{      
        ul{         
          li{
            display: inline-block;         
            border:3px solid transparent;
            border-radius: 4px;
            padding: 8px 12px;
            margin: 0 4px;
            white-space: nowrap;
            cursor: pointer;
            position: relative;
          
            a{
              color:#4a5a5a;
              font-size: .955rem;
              font-weight: 400; 
              padding: 10px;
             
              img{
                width: 20px;
              }
            }
            &.menu-nav-nav{
              &:hover{
                .destinos-nav{
                  visibility: visible;
                  display: block
                }
              }
             .destinos-nav{
               background: white;
               border-top:1px solid #ebeef2;
               position: absolute;
               visibility: hidden;
               z-index: 3;
               width: 100%;
               display: none;
               right: 0;
               padding: 20px 0;
               box-shadow:0px 5px 8px rgba(23, 43, 73, 0.2);
               nav{
               
                 .list-ul-menu{
                   display: grid;
                   grid-template-columns: repeat(3,1fr);
                   list-style: none;
                   padding-left: 7em;
                 
                   li{
                     
                     .title-ul-menu{
                       color: #2c3e50;
                       font-weight: 600;
                       padding: 13px 20px;
                       width: 100%;
                       font-size: 25px;
                       letter-spacing: 0;
                       line-height: inherit !important;
                       margin: 0 auto 10px;
                    
                       &:hover{
                         color: #409cd1;
                       }
                      
                     }
                     ul{
                       list-style: none;
                       display: grid;
                       grid-gap: 5px;
                         
                       li{
                         text-align: left;                         
                         a{
                           display: block;
                           padding: 12px 20px 12px 5px;
                           color: #2c3e50;
                           line-height: 17px;
                           font-weight: 300;
                           border:none;
                           transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
                           border-radius: 3px;                        
                           &:hover{
                             box-shadow: 1px 2px 8px rgba(144, 146, 148, 0.438);
                             background: #409cd1;
                             color: white;
                             border:none;
                           }
                         }
                         
                       }
                     }
                   }
                 }
               }
             }
            }
          
            &.li-language{
             position: relative;
             font-weight: 500;
             border:1px solid transparent;
             border-bottom: 0px;
             cursor: pointer;
             font-size: .955rem;
             span:nth-child(1){
               padding: 6px;
               font-weight: 400;
               color: #2a2d32;
             }
             &:hover{           
               .language{
                 display: block;
                 opacity: 1;
               }
             }
              .language{
                position: absolute;
                z-index: 2;
                bottom: -95px;
                left: 10px;
                width:75%;  
                text-align: center;              
                background: white;
                line-height: 45px;               
                border-radius: 0px 0px 5px 5px;
                opacity: 0;
                transition: max-height .5s,padding-top 1s;
                a{
                  padding: 15px;
                  border: none;
                  width: 100%;
                  border-bottom: 0px !important;
                }
              }
              
            }
            
         }
         .carritoic{
          
          position: relative;
          top: 3px;
        
      }
       }
     }
   }
  }

}
}




/************************ Estilos Del Nav  End **************************/
