
	.header1{
 			background: transparent url('../images/hero.jpg') no-repeat center center / cover;
            height: 500px;
            overflow: hidden;
            position: relative;
		.TituloC{
			width: 100%;
            max-width: 1164px;
            margin: 0 auto;
            padding: 0 12px;

			.playV{
				background: transparent url("../images/play.png") no-repeat center center / cover;
            	width: 150px;
           		 height: 150px;
           		 position: absolute;
            	left: 50%;
           		 top: 50%;
            	margin: -75px 0 0 -75px;
            	outline: none;
			}
			.tituloCpo{
				 width: 377px;
          		margin: 172px 0 20px;
             	font-size: 36px;
             	line-height: 56px;
             	color: #fff;
			}
			.parrafoC{
				 color: #fff;
            font-size: 18px;
             line-height: 24px;
			}
			p{
				 text-decoration: none;
    			cursor: pointer;
			}
		}
	}/**Fin header**/
	.Imgad{
			background-image: url(../images/depos.jpg);
            display: flex;
    		justify-content: center;
   			 align-items: center;
    		height: 250px;
    		vertical-align: middle;
    		color: #fff;
    		background-position: 50%;
    		background-repeat: no-repeat;
    		background-size: cover;
    		font-weight: 700;

			.ImgadParra{
				max-width: 600px;
   			 padding: 0 20px;
   			 text-align: center;

				.ParraTItu{
					font-size: 36px;
   					 padding-bottom: 8px;   
				}
				.ImgParrafo{
					  color: #fff;
    				font-size: 14px;
    				font-weight: 400;
    				line-height: 23px;
    				margin: 0;
				}
			}
		}/**Fin Imgad**/
	.seleccion{
			 padding: 30px 0 20px;
            overflow: hidden;
            background-color: #fff;
            .seccionImgP{
            	.grid{
					float: left;
            		width: 56%;
            		height: 513px;
            		margin-bottom: 20px;
            		overflow: hidden;
            		background-color: #c7d0d9;

            		.galeriai{
						float: right;
           				 height: 100%;
            		}
            	}
            	.block{
                    padding-bottom: 60px;
    margin-left: 6%;
    width: 26%;
    max-width: 310px;
    float: left;
            		h3{
							position: relative;
          				 	 font: 700 18px/22px Helvetica,Arial,FreeSans,sans-serif;
           					 margin: 0 0 20px;
            			.check{
								width: 20px;
   								 height: 20px;
    							position: absolute;
    							left: -30px;
            			}
            			p{
							 line-height: 20px;
            			}
            		}
            	}
            }
		}/**Fin seleccion**/
	.Pricea{
		  background-color: #409cd1;
            color: #fff;
            padding: 60px 0;
            .tituloPricea{
            	 background-color: #409cd1;
    			color: #fff;
                margin-bottom: 30px;
                text-align: center;
    font-size: 35px;
            }
            .why{
            	 background-color: #409cd1;
    			color: #fff;
    			text-align: center;
    			.conaI{
    				 width: 100%;
             			max-width: 1164px;
            			margin: 0 auto;
            			padding: 0 12px;
            			.t{
							 display: inline-block;
    						width: 32%;
    						margin-right: 2%;
    						vertical-align: top;
    						.iconowg{
    							text-decoration: none;
            					cursor: pointer;
            					color: #409cd1;
    							.atitu{
           						 	display: block;
    								color: #fff;
    								margin-top: 10px;
    						}
            	}
            				.contenidoI{
            					line-height: 23px;
            					color: #ebeef2;
            					.h3titu{
            						color: #fff;
    								font-size: 18px;
    								font-weight: 700;
   									 padding: 0;
   									 margin: 20px 0;
   									 white-space: nowrap;
            					}
            					.atitu{
            						display: block;
    								color: #fff;
    								margin-top: 10px;
            					}
            				}
    		}

        }
	}
	}/**FIN DE Pricea**/
	.payment{
		text-align: center;
		.imgbl{
			 background-image: url('../images/qwe.jpg');
            height: 250px;
   			 line-height: 250px;
    		vertical-align: middle;
    		color: #fff;
   			 background-position: 50%;
   			 background-repeat: no-repeat;
    			background-size: cover;
    		font-weight: 700;
    		font-size: 36px;
		}
		.reason{
			background-color: #fff;
    		padding: 40px 0;
    		.listap{
    			margin: 0;
    			padding: 0;
    			list-style: none;
    			.li{
    				 position: relative;
    				display: inline-block;
    				vertical-align: top;
    				max-width: 400px;
    				padding: 0 30px;
    				text-align: left;
    				.check{
    					 width: 20px;
    					height: 20px;
    					position: absolute;
    					left: -30px;
    				}
    				.logo{
    					  display: inline-block;
    						margin-right: 10px;
    					vertical-align: middle;
    					width: auto;
    					height: 25px;
    				}
    				.descripcion{
    					 font-size: 14px;
    					line-height: 23px;
    					padding-bottom: 20px;
    					text-align: left;
    					color: #2c3e50;
    				}
    			}
    		}
		}
	}/**Fin de payment**/
	.cs{
		 padding: 60px 0;
    background-color: #ebeef2;
    .titlecs{
			 font-size: 28px;
            line-height: 36px;
            font-family: Helvetica,Arial,FreeSans,sans-serif;
            font-weight: 700;
            margin: 0 0 50px;
            text-align: center;
    	}
    .schedule{
			font-size: 10px;
    		color: #818d99;
    		text-align: center;
    		.horanu{
    			margin-right: 60px;
            display: inline-block;
            .number{
				 color: #2c3e50;
    			font: 700 36px/42px Helvetica,Arial,FreeSans,sans-serif;
            	}
    		}
    	}
    .fazw{
    	padding-top: 60px;
   		 overflow: hidden;
   		 .cf{
            overflow: auto;
            .imgleft{
                float: left;
                width: 48%;
                margin-bottom: 0;
            }
            .textright{
                float: left;
                width: 34%;
                margin-top: 12px;
                margin-right: 0;
                margin-left: 12%;
                text-align: left;
                .buttona{
					border-color: #409cd1;
    				color: #409cd1;
    				max-width: 140px;
    				width: 100%;
    				background: #fff;
    				border: 1px solid #c7d0d9;
    				border-radius: 1px;
    				text-align: center;
    				padding: 7px 0;
    				display: block;
    				clear: both;
    				}
   			 	}
            }
			.imgcf{
				float: right;
    			width: 60%;
    			margin-bottom: 64px;
    			overflow: hidden;
    			.imgfca{
					width: 100%;
    				}
   			 	}
   			 .textocf{
				  float: right;
    				width: 32%;
    			max-width: 350px;
    			margin-top: 57px;
    			margin-right: 5%;
    			.tituclocf{
    				font: 700 18px/22px Helvetica,Arial,FreeSans,sans-serif;
    				margin: 0 0 30px;
    				}
    			.letrapa{
				margin-bottom: 20px;
    			line-height: 23px;
    				}
    			
			}
    	}
	}/**Fin de cs**/


