{% extends "template.twig" %}

{% block content %}

 <div class="deposit">
        <main>
            <div class="header1">
                <div class="TituloC">
                    <a href="" class="playV"></a>
                    <h1 class="tituloCpo"> Daily departures more than 15 places to visit.
                    </h1>
                    <p><a href="" class="parrafoC">Ayudando a los viajeros.</a></p>
                </div>
            </div>
            <section>
                <div class="Imgad">
                    <div class="ImgadParra">
                        <div class="ParraTItu">
                            Payment Methods
                        </div>
                        <p class="ImgParrafo"> We make it easy to pay for your trip. For selected departures, you can choose to pay for your trip online from your country. We set up the payment schedule for you, and each payment is automatically processed through your designated payment method. </p>
                    </div>
                </div>
            </section>

            <section class="seleccion">
                <h2>Best selection</h2>
                <div class="seccionImgP">
                   <div class="grid">
                        <img src="/src/images/grid.jpg" class="galeriai" alt="">
                   </div>
                   <div class="block">
                        <div>
                            <h3 ><img src="/src/images/c.svg" alt="" class="check">
                                More than 14 carefully selected locations</h3>
                            <p >Our strict selection process means that you are only seeing the best quality tours possible. We have an official partnership with each operator and constantly monitor the satisfaction of our travelers with the service of the operators through reviews.</p>
                        </div>
                   </div>
                   <div class="block">
                        <div>

                                <h3><img src="/src/images/c.svg" alt="" class="check">
                                    Genuine reviews of travelers from different countries</h3>
                                <p >
                                    Quickly compare thousands of routes by reading genuine reviews of real travelers. Don't worry if you rebook the right tour.</p>
                                <a href="" style="color: #818d99;">Verify the choice of trips</a>
                            </div>
                   </div>
                   <div class="block">
                        <div>

                                <h3><img src="/src/images/c.svg" alt="" class="check">
                                    More than 14 places and 30 tours</h3>
                                <p >With daily departures, you can explore more than 14 locations and experience destinations at a pace that suits your unique travel style.</p>
                            </div>
                   </div>   
                </div>
            </section>
            <section class="Pricea">
                <h2 class="tituloPricea">The best prices</h2>
                <div class="why">
                    <div class="conaI">
                        <div class="t">
                            <div class="iconowg">
                                <a href="" class="atitu"><img src="/src/images/123.svg" alt=""></a>
                            </div>
                            <div class="contenidoI">
                                <h3 class="h3titu">Easy online payment</h3>
                                You can pay from your country with a card you like.
                                <a href="" class="atitu">Learn more</a>
                            </div>
                        </div>
                        <div class="t">
                                <div class="iconowg">
                                    <a href="" class="atitu"><img src="/src/images/1234.svg" alt=""></a>
                                </div>
                                <div class="contenidoI">
                                    <h3 class="h3titu">Best price guarantee
</h3>
                                    

If you find the same route with the same departure date for a lower price elsewhere, we will match the price.
                                    <a href="" class="atitu">Learn more</a>
                                </div>
                            </div>
                            <div class="t">
                                    <div class="iconowg">
                                        <a href="" class="atitu"><img src="/src/images/123456.svg" alt=""></a>
                                    </div>
                                    <div class="contenidoI">
                                        <h3 class="h3titu">Returnable experiences</h3>
                                        
                                        You will not forget the landscapes of your trip and will return with more family and friends.
                                        <a href="" class="atitu">Learn more</a>
                                    </div>
                                </div>
                    </div>
                </div>
            </section>
            <section class="payment">
                <div class="imgbl">
                    Reliable payments
                </div>
                <div class="reason">
                    <ul class="listap">
                        <div class="li">
                            <h3><img src="/src/images/c.svg" alt="" class="check">Secure payment platform</h3>
                            <p class="descripcion">
                                We use Braintree, a PayPal subsidiary, to make convenient, secure, and secure payments.</p>
                        </div>
                        <div class="li">
                                <h3><img src="/src/images/c.svg" alt="" class="check">
                                    Payment Options</h3>
                                <p class="descripcion">You can pay by credit card or Paypal account to make sure your bookings are always easy.
.</p>
                                <div>
                                    <img src="/src/images/Visa.png" alt="" class="logo">
                                    <img src="/src/images/Maestro.png" alt="" class="logo">
                                    <img src="/src/images/MasterCard.png" alt="" class="logo">
                                    <img src="/src/images/PayPal.png" alt="" class="logo">
                                </div>
                            </div>
                        <div class="li">
                                <h3><img src="/src/images/c.svg" alt="" class="check">
                                    With confidence in our services</h3>
                                <p class="descripcion">Our service is safe every day. You can be sure knowing that your tours will be epic.</p>
                        </div>
                    </ul>
                </div>
            </section>
            <section class="cs"> 
                <h2 class="titlecs">24/7  Customer service</h2>
                <div class="schedule">
                    <div class="horanu">
                        <div class="number">24</div>                       
                        Hours of the day
                    </div>
                    <div class="horanu">
                   <div class="number">7</div>     
                   Days of the week
                    </div>
                    <div class="horanu">
                            <div class="number" >365</div>
                            Days of the year                    </div>
                </div>
                <div class="fazw">
                    <div class="cf">
                        <div class="imgcf">
                            <a href=""><img src="/src/images/faces.png" alt="" class="imgfca"></a>
                        </div>
                        <div class="textocf">
                            <h3 class="tituclocf">Tour experts at your service</h3>
                            <p class="letrapa">Our travel experts offer exceptional service, while providing an unbiased comparison of tours based on customers' personal and past experiences. We are available to answer any questions or concerns via online chat, phone or email.</p>
                        </div>
                    </div>
                    <div class="cf">
                        <div class="imgleft">
                            <img src="/src/images/phone.png" alt="" class="phoneimg">
                        </div>  
                        <div class="textright">
                            <h3 class="tituclocf" >Local Support</h3>
                            <p class="letrapa">Our travel experts are committed to ensuring that you receive excellent and timely support from tour operators, no matter where they are located.</p>
                            <a href="" class="buttona">Contact us</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

{% endblock %}
