{% extends "template.twig" %}

{% block content %}
<div class="contenedor-texto-404">
  <h1>
      Lost your way?
  </h1>
  <p>
      It seems the page you're looking for isn't here.
  </p>
</div>
<div class="contenedor-imagen-404">
  <img src="/src/images/404Imagen.svg" class="imagenerror" alt="Perdido">
</div>

    <div class="contenedor-toures-404">
        <h2>POPULAR TOURS</h2>
        
    </div>

    <div class="container mt-5">
        <div class="container_email">
          <div class="image">
            <img src="/src/images/trekking.jpg" alt="caminata">
          </div>
          <div class="contain">
            <h3 class="title_email">We can help you?</h3>
            <p class="content_email">We can send you our promotions, tour information and travel brochures to Peru.</p>
            <div class="submit_email">
                <input type="email" placeholder="e-mail">
                <button>Send me</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
