
{% block nav %}
<div class="barrasub">

</div>
<header>
  
<div class="subnav">
  <div class="logo-header">
    <a href="" class="header-logo">
      <img src="/src/images/logo.svg" alt="typicaltrips">
    </a>
    
  </div>
  <div class="container1">
    <div class="header">
      <nav>
        <ul>   
          <li> <a href="">Destinations
          </a> </li>
          <li> <a href="https://api.whatsapp.com/send?phone=+51930703646&text=Hello,%20TypicalTrips%20">Contacts</a> </li>
          <li>
           <a href="/blog/"><span>Blog</span></a>
         </li>
         <li class="li-language">
           <span><span class="text_nav">English</span><i style="padding:0px;" class="icon icon-chevron-down"></i></span>
           <span class="language">
             <a href="/en">English</a><br>
             <a href="{{association}}">Español</a>
           </span>
                    
         </li>
         <li class="carritoic">
           <a href="/es/carrito"><span><img src="src/images/card.svg" alt="booking" style="width:26px"></span> <span id="cant_carrito"></span></a>
         </li>

        </ul>
      </nav>
    </div>
  </div>
</div>
</header>



{% endblock %}
