{% extends "template.twig" %}

{% block content %}

<div class="PoliticasContainer">
    <div class="MenuLateral">
      <ul class="ListaMenuLateral">
        <li>Legal advice</li>
        <li>Privacy Policy</li>
        <li>General Terms and Conditions</li>
      </ul>
    </div>
    <div class="MenuDerecho" ¡>
      <div class="titlepoliticas">
        <h1 class="titleh1p">Privacy Policy</h1>
      </div>
      <strong>Privacy Statement</strong>
      <br>
     Typical Trips se toma muy en serio la protección de sus datos como Controlador de datos. Tratamos sus datos personales con confidencialidad y conforme a las disposiciones de la legislación de protección de datos. Esta declaración de privacidad le informa acerca de cómo, en qué medida y para qué fines tratamos los datos personales de clientes que utilicen el sitio web de Typical Trips.
      <br>
      N.º de versión: 1.0 
      <br>
      <h2 >I. SUBJECT OF DATA PROTECTION</h2>
    <br>
    El objeto de la protección de datos son datos personales. Los datos son personales si pueden asignarse a una persona física identificada o identificable. Esto incluye información sobre nombres, direcciones, direcciones de correo electrónico y números de teléfono.
    <br>
    <h2>II. COLLECTION, PROCESSING AND USE OF PERSONAL DATA UPON REQUEST</h2>
    <br>
    Normalmente se puede utilizar nuestro sitio web y nuestra aplicación sin proporcionar datos personales. Usted no está obligado a visitar este sitio web ni a proporcionar ningún tipo de datos personales. Si no nos proporciona sus datos personales, es posible que no pueda utilizar algunas funciones de este sitio web. Por lo demás, no sufrirá ninguna otra consecuencia. La recogida de datos personales de los usuarios en nuestro sitio siempre se produce de manera voluntaria, salvo en los casos descritos a continuación. Nos gustaría destacar que la transmisión de datos por internet (p. ej., la comunicación por correo electrónico) puede presentar brechas de seguridad. No es posible una protección completa de los datos frente al acceso de terceros.
    <br>
    Recogemos, procesamos y utilizamos los datos personales que nos proporcionó al realizar una reserva o al registrar una cuenta en nuestra área para miembros en la medida necesaria en cada caso para los siguientes fines:
    <br>
    <h3 >1. Registration and execution of the contract</h3>
    <br>
    Datos que usted proporciona al crear una cuenta, como su nombre, dirección de correo electrónico, número de teléfono, número de teléfono móvil, dirección y otros datos que se proporcionarán dependiendo del servicio que use 
    <br>
    Recogemos, tratamos y utilizamos datos de transacciones relacionados con sus actividades en los sitios web (p. ej., compras, contenido que usted genera o que tiene que ver con su cuenta) 
    <br>
    Datos de facturación y otros datos que usted proporciona para la compra
    <br>
    Datos recogidos en el contexto de reseñas, chats y correspondencia en el sitio web o por correo electrónico, fax y correo postal
    <br>
    Otros datos personales que podemos pedirle que proporcione para fines especiales
    <br>
    Si usted nos proporciona voluntariamente datos personales adicionales durante el registro, estos datos también se utilizarán para la implementación de la relación de uso 
    <br>
    <h3>2. Establishment of contact</h3>
    <br>
    Si usted nos proporciona datos personales para fines de contacto, utilizaremos estos datos como sea necesario con el fin de la comunicación respectiva.
    <br>
    <h3>3. Marketing</h3>
    <br> 
    Typical Trips puede tratar y utilizar sus datos personales para fines de marketing, p. ej., para enviar correos electrónicos de información general o de carácter publicitario (boletín) sobre la base de la declaración de consentimiento que usted nos ha dado.
    <br>
    Puede revocar las declaraciones de consentimiento que nos haya otorgado a este respecto en cualquier momento con efecto futuro. Si desea dejar de recibir este tipo de correos electrónicos enviados por Typical Trips, siga las instrucciones contenidas en alguno de dichos correos electrónicos que le enviemos, lo cual le permitirá darse de baja y dejar de seguir recibiendo estos tipos de comunicación por correo electrónico de nuestra parte. Además, puede objetar a esta utilización, siempre que usemos sus datos personales dentro del marco legal permisible, p. ej. para fines de marketing por correo postal. En ambos casos, un correo electrónico a la siguiente dirección es suficiente: support@typicaltrips.com.
    <br>
    <h3>4. Information you provide to payment processors</h3>
    <br>
    Todos los pagos realizados se procesan a través de un servicio de procesamiento de pagos contratado por typicaltrips y que cumple con PCI/DSS (las cuales son normas de seguridad en la industria de pagos con tarjeta). Toda la información recopilada por estos proveedores externos con fines de procesar sus pagos no está a nuestra disposición a no ser que usted nos haya proporcionado esta información de otro modo en relación con su uso de los sitios web o nuestros productos y servicios.
    <br>
    <h3>5. Aggregated information</h3>
    <br>
    Podemos compartir su información con terceros afiliados o no afiliados de manera anónima y agregada. Aunque esta información no le identificará personalmente, en algunos casos estos terceros podrían combinar esta información agregada con otros datos que tengan acerca de usted, o que reciban de terceros, de una manera que les permita identificarle personalmente. 
    <br>
    <h2>III. DATA PROCESSING TO ENABLE USE OF THE WEBSITE</h2>
    <br>Cuando usted visita nuestro sitio web, recogemos los datos necesarios para permitir que usted lo utilice (datos de uso). Esto incluye su dirección IP y datos sobre el inicio, final y objeto de su uso del sitio web, así como cual otro tipo de datos de identificación (p. ej., sus datos de inicio de sesión cuando usted entra en un área protegida). Estos datos se utilizan para ofrecer y diseñar el servicio conforme a las preferencias del usuario. Estos datos siempre se borran en el momento en el ya no se requieren y no existe ninguna obligación de conservarlos. Para obtener información sobre el tratamiento de perfiles de usuario con un pseudónimo, vea el punto VII.
    <br>
   <h2>VI. COOKIES</h2>
   <br>
   Cuando usted visita nuestro sitio web, se puede guardar información en su ordenador en forma de una cookie. 
   <br>
   Este apartado describe las cookies que utilizamos y explica por qué las utilizamos y cómo tratamos la información recopilada. También explica cómo las cookies permiten que nuestro sitio web y nuestra aplicación móvil funcionen correctamente y por qué no podrá disfrutar de la plena funcionalidad del sitio web si deshabilita el uso de cookies. Al visitar nuestro sitio web sin cambiar sus ajustes, usted acepta recibir todas las cookies y otras herramientas de recogida de datos; no obstante, si no acepta el uso de estas cookies, puede cambiar sus ajustes respecto a cookies en cualquier momento. Todas las compañías y redes con las que trabajamos tienen sus propias políticas de privacidad y ofrecen un mecanismo para que los usuarios se excluyan del rastreo y análisis de comportamiento a través del anuncio en sí o a mediante los mecanismos de exclusión que aparecen en el apartado «Cómo controlar o borrar cookies».
   <br>
   <h3>1. What are cookies??</h3>
   <br>
   Las cookies son archivos de texto que contienen pequeñas cantidades de información que se descargan en su ordenador o dispositivo móvil cuando usted visita una determinada página web. Las cookies se devuelven entonces a la página web generadora en cada visita subsiguiente, o a otra página web que reconozca tal cookie. Las cookies se utilizan en gran medida para hacer que nuestro sitio web funcione o para que lo haga más eficientemente, así como para proporcionar información a los propietarios del sitio web.
   <br>
    Las cookies hacen muchas cosas diferentes, como permitirle navegar entre páginas eficientemente, recordar sus preferencias y mejorar en general la experiencia del usuario. Las cookies pueden decirnos, por ejemplo, si usted ha visitado nuestro sitio web antes o si es un visitante nuevo. También pueden ayudar a asegurar que los anuncios que ve en internet sean más relevantes para usted y sus intereses.
    <br>
    Hay dos categorías principales de cookies:
    <br>
    cookies de origen, enviadas directamente por nosotros a su ordenador o dispositivo móvil;
    <br>
    cookies de terceros; enviadas por un tercero en nuestro nombre. Podemos utilizar cookies de terceros para fines de funcionalidad, rendimiento/análisis, publicidad/rastreo y redes sociales.
    <br>
    Las cookies pueden permanecer en su ordenador o dispositivo móvil durante diferentes períodos de tiempo. Algunas cookies son cookies de sesión, lo que quiere decir que se guardan solo temporalmente durante una sesión de navegación y caducan cuando usted cierra su navegador. Otras cookies son cookies persistentes, lo que significa que se guardan en su ordenador o dispositivo móvil durante un período fijo y no se borran cuando se cierra el navegador. Pueden ser utilizadas por nuestro sitio web para reconocer su ordenador o dispositivo móvil cuando usted abre su navegador o navega por internet de nuevo.
    <br>
    <h3>2. Why We Use Cookies?</h3>
    <br>
    Utilizamos cookies por diversas razones, entre las que se incluyen: 
    <br>
    habilitar, facilitar o agilizar el funcionamiento de nuestro sitio web y su acceso al mismo;
    <br>
    rastrear el flujo de tráfico y los patrones de desplazamiento en relación con nuestro sitio web;
    <br>
      comprender el número total de visitantes a nuestro sitio web de manera continua y los tipos de navegadores de internet (p. ej., Firefox, Chrome o Internet Explorer) y sistemas operativos (p. ej., Windows o Mac OS) utilizados por nuestros visitantes;
    <br>
    supervisar el rendimiento de nuestro sitio web y mejorarlo continuamente;
    <br>
    personalizar y mejorar su experiencia online.
    <br>
    <h3>3. What types of cookies do we use?</h3>
    <br>
      Los tipos de cookies que nosotros y nuestros socios utilizamos en relación con nuestro sitio web se pueden clasificar en una de cinco categorías, que son “cookies necesarias para nuestros fines esenciales”, “cookies de funcionalidad”, “cookies de rendimiento y de análisis”, “cookies de publicidad y rastreo” y “cookies de redes sociales”. En la siguiente tabla indicamos información adicional sobre cada categoría y los fines de las cookies que nosotros y terceros enviamos.
    <br>
    <h3>
      Cookies necesarias para nuestros fines esenciales:
    </h3>
    <br>
    Estas cookies son esenciales para ofrecerle nuestro sitio web y cualquier servicio disponible a través del mismo y para utilizar algunas de sus funciones, como el acceso a áreas protegidas. Sin estas cookies no sería posible proporcionarle servicios que usted ha solicitado, como páginas de transacciones o cuentas con inicio de sesión protegido.
    <br>
    <h3>Cookies de funcionalidad:</h3>
    <br>
      Las cookies de funcionalidad registran información sobre las elecciones que usted realiza y nos permiten personalizar el sitio web para usted. Estas cookies hacen que, cuando usted continúa usando el sitio web o regresa al mismo, podamos ofrecerle nuestros servicios de la manera que usted haya pedido que se le proporcionen. Por ejemplo, estas cookies nos permiten:
    <br>
    - Guardar su preferencia de ubicación, si usted ha configurado su ubicación en su página de inicio, si corresponde, para recibir una previsión meteorológica local;
    <br>
   
      -Recordar ajustes que usted ha configurado, como la distribución, el tamaño del texto, las preferencias y los colores;
    <br>
    - Mostrarle cuándo ha iniciado sesión, y
    <br>
      - Guardar opciones de accesibilidad.
    <br>
    <h3>Cookies de rendimiento y análisis:</h3>
    <br>
    Utilizamos cookies de rendimiento/análisis para analizar el acceso, uso y funcionamiento de nuestro sitio web con el fin de ofrecerle una mejor experiencia como usuario y para mantener, operar y mejorar continuamente el sitio web. Por ejemplo, estas cookies nos permiten:
    <br>
    - Comprender mejor a los visitantes de nuestro sitio web para mejorar la manera en que presentamos nuestro contenido;
    <br>
        - Probar diferentes ideas de diseño para páginas en particular, como nuestra página de inicio;
    <br>
   
    - Recoger información sobre los visitantes de nuestro sitio web, como dónde se encuentran y qué navegadores utilizan;
    <br>

    - Determinar el número de usuarios únicos de nuestro sitio web;
    <br>
      - Mejorar nuestro sitio web evaluando cualquier error que se produzca, y
    <br>
    Usamos Google Analytics y muchas otras herramientas de análisis de sitios web para ayudarnos a comprender cómo los usuarios interactúan con el sitio web. Como muchos servicios, estos servicios de análisis web usan cookies de origen para rastrear las interacciones de los usuarios, como es nuestro caso, donde se utilizan para recoger información sobre cómo usted utiliza nuestro sitio. Esta información se utiliza para compilar informes y crear servicios con el fin de ayudarnos a mejorar nuestro sitio web y los servicios asociados con el mismo. Los informes revelan tendencias del sitio web sin identificar a los visitantes individuales. Algunos servicios le permitirán excluirse de rastreo directamente a través de sus servicios. Por ejemplo, aunque no puede rechazar el uso de cookies con nuestro sitio, puede excluirse de Google Analytics sin que afecte a cómo usted visita nuestro sitio. Para obtener más información sobre cómo excluirse y no ser rastreado por Google Analytics en todos los sitios web que utilice, visite esta página de Google. 
    <br>
    <h3>Cookies de publicidad y rastreo:</h3>
    <br>
    Podemos permitir que terceros, incluyendo compañías de publicidad (como Google), depositen cookies en nuestro sitio web. Estas cookies permiten que tales compañías rastreen su actividad en varios sitios, donde muestran anuncios y registran sus actividades, para que puedan mostrarle mientras navega por internet anuncios que consideren relevantes para usted. Estas cookies guardan información sobre el contenido por el que usted navega junto con un identificador vinculado a su dispositivo o dirección IP.
    <br>
    Estas cookies también nos permiten a nosotros y a terceros saber si usted ha visto un anuncio o un tipo de anuncio y cuánto tiempo ha transcurrido desde que lo vio. Esta información se utiliza con fines de limitación de frecuencia, como ayuda para personalizar los anuncios que usted ve y para medir la efectividad de los anuncios.
       </div>
  </div>

{% endblock %}
