{% extends "template.twig" %}

{% block content %}
    <div class="PoliticasContainer">
            <div class="MenuLateral">
                    <ul class="ListaMenuLateral">
                        <a href="/es/politicas"><li>Privacy Policy</li></a>
                        <a href="/en/politicasreserva"><li>Reservation Policies</li></a> 
                    </ul>
                  </div>
            <div class="MenuDerecho">
                    <p>Dear tourist, thank you for choosing us and trusting us. Typical Trips hereby informs the general public of its Terms and Conditions of Service defined for PARTICIPANTS who are all travelers or users who contract any of our services. They will have to accept and abide by the clauses indicated in this document. Please read the following carefully as the system of services and products. It may be different than in your country:</p>
                    <br>
                    <div class="titlepoliticas">
                            <h1 class="titleh1p">Typical Trips</h1>
                          </div>
                          <p>
                                        has different services and differentiated packages, as it also operates in areas or regions where accommodation is rural or basic, transportation and services may not be what you need.          They are generally used or expected. However, we provide the best services for our clients, striving to choose the best service providers (hostels and restaurants) with great care, effort and diligence. Travel and itineraries within Peru require flexibility, judgment, patience, good humor and understanding of changes in services that could be made without notice due to circumstances beyond our control (Force Majeure). When booking any of the tours offered, you must agree to the changes that Typical Trips make without liability the following circumstances:
                          </p>
                          <br>
                          <div class="titlepoliticas">
                                        <h1 class="titleh1p">FORCE MAJOR:</h1>
                                      </div>
                               <P>This is any event that Typical Trips could not even avoid using all possible means to try to resolve it. This covers events such as wars or threats thereof, riots, diseases, natural disasters, adverse weather conditions, plagues, fires, accidental accidents or the like that are beyond our control. <br>In this case,Typical Trips will not be responsible for such events and reserves the right to modify, postpone or even cancel the tourist's trip (of course, this is the last option). In situations of force majeure such as mentioned, it is possible that we have to start the tour at dawn, a day before, or do it in fewer days by modifying the itinerary (usually in 3 days). These changes do not allow for a cash refund on our part and require the participant to pay any additional expenses such as train, food or other to continue the tour.</P>
                               <br>
                               <div class="titlepoliticas">
                                        <h1 class="titleh1p">Trip insurance</h1>
                                      </div>
                                      <p>Before you begin your trip, we recommend that you obtain travel insurance that covers medical accidents, expenses and emergency repatriation, including air rescue or air ambulance. We also recommend that you include cancellations and losses in your insured luggage. You can send a scanned copy of your policy to our email or order a copy from a trusted family member or friend.</p>
                                      <br>
                                      <div class="titlepoliticas">
                                                <h1 class="titleh1p">RISKS</h1>
                                              </div>
                                              <p>You understand the risks involved in booking any of our excursions or adventure tours (Inca Trail, Salkantay Trek, Ausangate Trek, Choquekirao Trek, Inca Jungle, Lares Trek, etc.) fully assuming the risks involved in making such excursions. Typical Trips does not accept any liability with respect to events that may occur during the trip through tourist negligence or events beyond our control.</p>
                                              <br>
                                     <div class="titlepoliticas">
                                             <h1 class="titleh1p">RESPONSIBILITY:</h1>
                                          </div>
                                          <p>Typical Trips declares that it does not assume any responsibility or obligation in Absolute due to accidents, damages, illnesses, death, delays, injuries to other people or goods. None assumes responsibility for causes of force majeure, strikes, weather conditions, earthquakes, political situations, etc. to determine cancellations, changes, delays, etc.. If the client pays any expenses caused by this situation. Also, is not responsible for loss of belongings, theft or damage to luggage. Typical Trips reserves the right to cancel or modify the scheduled itinerary when it considers that it is for a better development of the service and / or safety of travelers. <br>
                                                It is the responsibility of the passengers to have the corresponding documentation, passports, visas, TRAVEL INSURANCE, vaccines, vouchers, ISIC card, etc. Typical Trips. is not responsible for delays or expenses due to inappropriate documents or lack of travel documentation.When submitting your personal information for booking, your passport number or identification must be valid, please note, because the authorities that regulate access to the main tourist attractions of Peru are not flexible with respect to the verification of the number of passports in the income control. Also the information you provide in the booking form of any of our web pages or by email will be certified as valid information delivered by the passenger in order to make the final booking. In the event that the information provided by the passenger is incorrect, we are not responsible for the penalty that may be charged by external service providers such as PERU RAIL and the MINISTRY OF CULTURE that controls access to the train and Machupicchu Archaeological Park respectively.  </p>
                                               <br> <div class="titlepoliticas">
                                                                <h1 class="titleh1p">PRICES AND RESERVATIONS (DEPOSIT):</h1>
                                                             </div>
                                                             <p>The prices of the tours are administered according to the season (high or low), the quantity (private or group), the seasons of the year (summer or winter), and forms of advance booking (on site, transfer, Paypal, Western Union, etc.), therefore, you understand and accept the price differences that may arise per passenger separately. To guarantee your reservation you must pay at least 50% of the total cost of the tour, the rest will be paid at our main office once you arrive in the city of Cusco. <br>To obtain the discount as a national university student (Peruvian), you must leave a photocopy and / or email us the scanned image of your respective notebook valid at the time of booking.           To obtain the discount as an international university student, you must leave a photocopy and / or send us by e-mail the scanned image of your respective ISIC card valid at the time of booking. The ISIC card (if applicable) must be valid, you must also present identity documents (ID or passport, ISIC card) before starting the contract and when entering the different tourist attractions (Machupicchu, Sacred Valley, etc.). Commissions for shipping the advance of 50% for the reservation and others must be covered by the client and are not included in the costs of our tours.           One or two nights before your excursion, there will be a preliminary briefing at your hotel, the time will be confirmed beforehand.</p>
                                                             <br>
                                                             <div class="titlepoliticas">
                                                                        <h1 class="titleh1p">Payment of the final balance:</h1>
                                                                     </div>
                                                                     <p>
                                                                                We require that you complete the remaining payment in our office and you must do so before beginning your tour. Payment must be in cash (U.S. dollars or local currency). We reserve the RIGHT to cancel your trip if you do not make payment within the established period.
                                                                     </p>
                                                        <br>

                                                        <div class="titlepoliticas">
                                                                        <h1 class="titleh1p"> Return to Cusco:</h1>
                                                                     </div>
                                                                     <p>The return train ticket offered by Typical Trips belongs to the EXPEDITIONS category and is subject to the variations of the return schedule reserved by the participant.If the participant wishes to use other categories such as VISTADOME or HIRAM BINGHAM, this service must be requested at the time of booking or in advance.</p>
                                                                     <br>
                                                                     <div class="titlepoliticas">
                                                                                <h1 class="titleh1p">Return with date change:</h1>
                                                                             </div>
                                                                             <p>If the passenger wishes to stay in Aguas Calientes for an extra night without having requested it at the time of booking during the tour, we can help you buy or change your train ticket for the next day, but the passenger must cover the fine for expenses involved in changing the date or purchasing the new ticket. All expenses associated with this change of date or time executed on behalf of the client (food, lodging, return transfer, etc).</p>
                                                                             <div class="titlepoliticas">
                                                                                        <h1 class="titleh1p">Train tickets:</h1>
                                                                                     </div>
                                                                        <p>Due to the fact that PERURAIL manages the sale of train tickets in its different schedules, we are subject to this modality, therefore, we can offer the following schedules with their respective price variants:</p>
                                                                                     <br>
                                                                                     <div class="titlepoliticas">
                                                                                                <h1 class="titleh1p">Category of train timetable EXPEDITIONS:</h1>
                                                                                             </div>
                                                                                        <p> Participants may request at the time of booking other categories VISTADOME or HIRAM BINGHAM We have no control over the exact time of departure of the train set by PERURAIL so that you agree to be in agreement with the reserved time of the return ticket. In case of wanting to change the schedule of train tickets and if there is the possibility that it is in the same category of train or In another category, the customer agrees to assume the additional charges that this implies.                                                                                                </p>
                                                                                             <br>
                                                                                             <ul>
                                                                                                     <li>1.<span>2:55 p.m. (+ 10 dollars)</span></li>
                                                                                                     <li>2.<span>4:22 pm (+15 dollars)</span> </li>
                                                                                                     <li>3.<span>6:45 pm (+ 5 dollars)</span> </li>
                                                                                                     <li>4.<span>9:30 p.m. (included)</span></li>
                                                                                             </ul>
                                                                                             <br>
                                                                                             <div class="titlepoliticas">
                                                                                                        <h1 class="titleh1p">CANCELLATIONS</h1>
                                                                                                     </div>
                                                                                                     <p>
                                                                                                                (1) The deposit sent for the reservation is non-refundable and non-transferable. <br>
                                                                                                                (2) Typical Trips must be notified by email or in person of any change in date at least 48 hours prior to the scheduled date of your tour (NOT APPLICABLE TO THE INCA TOUR ROAD). Typical Trips will attempt to make the requested modifications whenever available. The passenger will have to cover the additional expenses implied by these changes. Otherwise, Typical Trips will not be responsible for any result of such failure. <br>
                                                                                                                (3) If the passenger made the advance payment of 50% for the reservation of the tour and then decides to cancel the tour 30 days before the date booked Typical Trips Only can return 50% of the payment made by the participant. Otherwise, Typical Trips adverse or different E.I.R.L. will not refund any monetary amount to the participant thus covering the expenses arising from the reservation.  <br>
                                                                                                                (4) If the passenger made full payment of the tour reservation and then decided to cancel the tour less than 30 days before the date booked Typical Trips may refund 50% of the payment made by the participant.Otherwise, Typical Trips adverse or different E.I.R.L. can only return some resources purchased on behalf of the Passenger (ticket to Machupicchu Archaeological Park, train or bus ticket) <br>
                                                                                                                (5) We can also provide a letter of claim for your insurance company upon request. In addition, you must accept and accept the following clauses:
                                                                                                     </p>
                                                                                                     <br>
                                                                                                     <div class="titlepoliticas">
                                                                                                                <h1 class="titleh1p">PART I. CONDITIONS DURING COLLECTION
                                                                                                                        </h1>
                                                                                                             </div>
                                                                                                             <ul>
                                                                                                                     <li>
                                                                                                                                Pick up times are determined in the program, the participant must be ready and waiting in the hostel, if you do not find yourself ready in the established time the agency is not done responsible for the delays and / or abandonment by the transport, for following this schedule settled down.</li>
                                                                                                                     <li>If the participant is in a state of intoxication, the agency has the right to cancel and to the no refund of the payment for the service.</li>
                                                                                                                     <li>Cancellations due to emergency reasons such as: earthquakes, accidents, illness (terminals or infectious) or other serious have to be informed with a period of not less than 48 hours of anticipation to the pick up of the participant.</li>
                                                                                                                     <li>All cancellations have a penalty of 50% to 100% of the cost of the tour service, according to the reason cancellation (50% if it is illness or accident) (100% other reasons).</li>
                                                                                                                     <li>Refunds will be made in the form of cash or according to the purchases that the agency has made such as train tickets, entrance to Machu Picchu, etc.</li>  
                                                                                                             </ul>
                                                                                                             <br>
                                                                                                             <div class="titlepoliticas">
                                                                                                                        <h1 class="titleh1p">PART II.  CONDITIONS DURING TRANSPORTATION
                                                                                                                                </h1>
                                                                                                                     </div>
                                                                                                                     <p>
                                                                                                                             <ul>
                                                                                                                                     <li>Typical Trips is committed to providing private transportation to all its passengers, as well as number of seats according to the number of participants, both on and off and according to the itinerary of the program.</li>
                                                                                                                                     <li>Typical Trips agrees to deliver a return train ticket to the participant, after Your visit to the Sanctuary of Machu Picchu and how it is stipulated in the description of the tour.</li>
                                                                                                                                     <li>The return schedules are established by the private train company PERURAIL, Typical Trips is exempt from the variations of the schedule set by that company.</li>
                                                                                                                                     <li>Typical Trips is not responsible for any delays that may occur during the trip, due to climatic factors, landslides, strikes, mobilizations or others that alter the itinerary of the program or times of departure.</li>
                                                                                                                                     <li>Typical Trips will not be responsible for the loss of flights, accommodations or trips that the participant may have for the reasons mentioned in clause 4 of this chapter.                                                                                                                                        </li>
                                                                                                                             </ul>
                                                                                                                     </p>
                                                                                                                     <br>
                                                                                                                     <div class="titlepoliticas">
                                                                                                                                <h1 class="titleh1p">PART III. CONDITIONS OF THE BIKE TOUR, CANOTATION, AND ZIPLINE
                                                                                                                                        </h1>
                                                                                                                             </div>
                                                                                                                             <br>
                                                                                                                             <p>
                                                                                                                                     <ul>
                                                                                                                                             <li>Typical Trips will deliver in good conditions the equipment required for the descent in bicycle, canoeing and zipline, for its part the participant will be responsible for the entire team delivered either by loss, damage or forgetfulness caused by the participant to the team (bicycles, ATVs, cars) during the tour intentionally or intentionally.</li>
                                                                                                                                             <li>Typical Trips is not responsible for accidents that the participant may suffer due to the own imprudence or that of third parties, nor for the injuries that they may cause.</li>
                                                                                                                                             <li>Typical Trips will not be responsible for any delays that may occur during the travel either by climatic factors, landslides, strikes, mobilizations or others that alter the itinerary of the program or arrival times.</li>
                                                                                                                                     </ul>
                                                                                                                             </p>
                                                                                                                             <br>
                                                                                                                             <div class="titlepoliticas">
                                                                                                                                        <h1 class="titleh1p">PART IV. CONDITIONS ABOUT THE HOSPEDAJE DURING THE TOUR
                                                                                                                                                </h1>
                                                                                                                                     </div>
                                                                                                                                     <p>
                                                                                                                                             <ul>
                                                                                                                                                     <li>Typical Trips. will coordinate the nights of accommodation or camping during the realization of the tour according to as the program specifies.                                                                                                                                                        </li>
                                                                                                                                                     <li>The quality of the accommodation will be subject to the characteristics of the contracted tour. This means that the Participant may choose the type of accommodation he needs or prefers. Typical Trips offers Various types of accommodation for each tour.</li>
                                                                                                                                                     <li>The participant will follow the provision of the accommodation according to the package contracted.
                                                                                                                                                        </li>
                                                                                                                                             </ul>
                                                                                                                                     </p>
                                                                                                                                <br>
                                                                                                                                <div class="titlepoliticas">
                                                                                                                                                <h1 class="titleh1p">PART V. CONDITIONS DURING THE WALK
                                                                                                                                                        </h1>
                                                                                                                                             </div>
                                                                                                                                             <p>
                                                                                                                                                     <ul>
                                                                                                                                                             <li>The guide will always inform you of the details of the walk in advance.</li>
                                                                                                                                                             <li>The walks will take place on the stipulated dates and times.                                                                                                                                                                </li>
                                                                                                                                                             <li>Participants who for some reason do not wish to do the walk may skip it but the agency will not be responsible for transportation or food or other payments that participants make outside the walk.                                                                                                                                                                </li>
                                                                                                                                                             <li>The Agency is not responsible for delays or variations of the program of any kind that may occur during the walks, whether due to climatic factors, landslides, strikes, mobilizations or others that alter the program's itinerary or the established times.                                                                                                                                                                </li>
                                                                                                                                                     </ul>
                                                                                                                                             </p>
                                                                                                                                        <br>
                                                                                                                                        <div class="titlepoliticas">
                                                                                                                                                        <h1 class="titleh1p">PART VI. CONDITIONS ABOUT FOOD
                                                                                                                                                                </h1>
                                                                                                                                                     </div>
                                                                                                                                                     <p>
                                                                                                                                                             <ul>
                                                                                                                                                                     <li>Typical Trips will provide the participants with the food corresponding to the contracted tour; the feeding consists of three meals during the day but will be subject to different variations in each tour The number of breakfasts, lunches and dinners will be stipulated in the program.                                                                                                                                                                        </li>
                                                                                                                                                                     <li>All extra food will be paid by the participant.                                                                                                                                                                        </li>
                                                                                                                                                                     <li>Typical Trips will not include extra drinks outside the program.                                                                                                                                                                        </li>
                                                                                                                                                                     <li>The participant must inform in advance about the type of diet or diet that they want Take during the development of the tour.                                                                                                                                                                        </li>
                                                                                                                                                                     <li>The Agency is committed to provide the diet or type of food required by the participant of according to the availability of the producers of the place, in case of being a diet or feeding specify or medical the passenger should consult previously with the agency.                                                                                                                                                                        </li>
                                                                                                                                                             </ul>
                                                                                                                                                     </p>
                                                                                                                                                     <br>
                                                                                                                                                     <div class="titlepoliticas">
                                                                                                                                                                <h1 class="titleh1p">CONDITIONS DURING THE VISIT TO THE SANCTUARY OF MACHU PICCHU
                                                                                                                                                                        </h1>
                                                                                                                                                             </div>
                                                                                                                                                             <p>
                                                                                                                                                                     <ul>
                                                                                                                                                                             <li>The participant must abide by the rules established by the body in charge of maintenance and conservation of the archaeological park and any other tourist attraction included in the tour, these will be informed by the guide.</li>
                                                                                                                                                                             <li>The participant will have a guide that will accompany and explain in detail about each attraction during the 2 Guided hours in the Archaeological Park of Machupicchu.                                                                                                                                                                                </li>
                                                                                                                                                                             <li>During the tour the participant will always have free time to make a visit on their own, to take pictures, videos, enter other additional attractions or extras such as Huayna mountain Picchu or for things that he thinks fit.                                                                                                                                                                                </li>
                                                                                                                                                                             <li>Typical Trips does not guarantee climatic conditions during the course of any of our tours                                                                                                                                                                                </li>
                                                                                                                                                                        </ul>
                                                                                                                                                             </p>
                                                                                                                                                             <br>
                                                                                                                                                             <p>VERY IMPORTANT: We strongly suggest an acclimatization or permanence at high altitude (for over 3,000 meters, in Cusco or another high-altitude city) for 2 or 3 days (average) before undertake the tour. This in order to minimize the possible affections by height, you can also Help your body acclimatize by drinking a lot of liquid, adding a little more sugar to your drinks, eat foods rich in carbohydrates, avoiding tobacco and alcohol and drinking coca tea (leaf old and traditional). Please ask your doctor for the prescription of any additional medication.</p>
                                                                                                                                                             <span>*By confirming your reservation you expressly agree that you are fully accepting our terms and conditions. Note: The terms and conditions of service are subject to change without notice.</span>
                                                                                                                                                             

                                                                                                                                                             <div class="titlepoliticas">
                                                                                                                                                                        <h1 class="titleh1p">Thank you, we are sure you will have an unforgettable experience!
                                                                                                                                                                                </h1>
                                                                                                                                                                     </div>
           </div>
    </div>
{% endblock %}
