{% extends "template.twig" %}

{% block content %}

 <div class="deposit">
        <main>
            <div class="header1">
                <div class="TituloC">
                    <a href="" class="playV"></a>
                    <h1 class="tituloCpo"> Salidas diarias mas de 15 lugares para conocer.
                    </h1>
                    <p><a href="" class="parrafoC">Ayudando a los viajeros.</a></p>
                </div>
            </div>
            <section>
                <div class="Imgad">
                    <div class="ImgadParra">
                        <div class="ParraTItu">
                                Metodos de pago
                        </div>
                        <p class="ImgParrafo"> Facilitamos el pago de su viaje. Para salidas seleccionadas, puede optar por pagar su recorrido por pago online desde su pais. Configuramos el cronograma de pago para usted, y cada pago se procesa automaticamente a traves de su metodo de pago designado </p>
                    </div>
                </div>
            </section>

            <section class="seleccion">
                <h2>Mejor seleccion</h2>
                <div class="seccionImgP">
                   <div class="grid">
                        <img data-original="/src/images/grid.jpg" class="galeriai" alt="Galeria">
                   </div>
                   <div class="block">
                        <div>
                            <h3 ><img data-original="/src/images/c.svg" alt="lugares" class="check">
                                Más de 14 lugares cuidadosamente seleccionados</h3>
                            <p >Nuestro estricto proceso de selección significa que solo está viendo la mejor calidad de tours posible. Tenemos una asociación oficial con cada operador y monitoreamos constantemente la satisfacción de nuestros viajeros con el servicio de los operadores a través de revisiones.</p>
                        </div>
                   </div>
                   <div class="block">
                        <div>

                                <h3><img data-original="/src/images/c.svg" alt="" class="check">
                                        Reseñas genuinas de viajeros  de distintos paises</h3>
                                <p >
Compare rápidamente miles de recorridos leyendo reseñas genuinas de viajeros reales. No se preocupe si vuelve a reservar el recorrido correcto.</p>
                                <a href="" style="color: #818d99;">Verifique la elección de los viajes</a>
                            </div>
                   </div>
                   <div class="block">
                        <div>

                                <h3><img data-original="/src/images/c.svg" alt="" class="check">
                                       Mas de 14 lugares y 30 tours</h3>
                                <p >Con salidas diarias,puede explorar mas de 14 lugares y experimentar los destinos a un ritmo que se adapte a su estilo de viaje unico.</p>
                            </div>
                   </div>   
                </div>
            </section>
            <section class="Pricea">
                <h2 class="tituloPricea">Los mejores precios</h2>
                <div class="why">
                    <div class="conaI">
                        <div class="t">
                            <div class="iconowg">
                                <a href="" class="atitu"><img data-original="/src/images/123.svg" alt=""></a>
                            </div>
                            <div class="contenidoI">
                                <h3 class="h3titu">Facilidad de pago online</h3>
                        Puede pagar desde su pais con una tarjeta que le guste.
                                <a href="" class="atitu">Saber mas</a>
                            </div>
                        </div>
                        <div class="t">
                                <div class="iconowg">
                                    <a href="" class="atitu"><img data-original="/src/images/1234.svg" alt=""></a>
                                </div>
                                <div class="contenidoI">
                                    <h3 class="h3titu">Mejor precio garantizado
</h3>
                                    

Si encuentra el mismo recorrido con la misma fecha de salida por un precio más bajo en otro lugar, igualaremos el precio.
                                    <a href="" class="atitu">Saber mas</a>
                                </div>
                            </div>
                            <div class="t">
                                    <div class="iconowg">
                                        <a href="" class="atitu"><img data-original="/src/images/123456.svg" alt=""></a>
                                    </div>
                                    <div class="contenidoI">
                                        <h3 class="h3titu">Experiencias retornables</h3>
                                        
         No olvidara los paisajes de su viaje y volvera con mas familiares y amigos.
                                        <a href="" class="atitu">Saber mas</a>
                                    </div>
                                </div>
                    </div>
                </div>
            </section>
            <section class="payment">
                <div class="imgbl">
                       Pagos confiables
                </div>
                <div class="reason">
                    <ul class="listap">
                        <div class="li">
                            <h3><img data-original="/src/images/c.svg" alt="" class="check">Plataforma segura de pago</h3>
                            <p class="descripcion">
Utilizamos Braintree, una subsidiaria de PayPal, para hacer pagos convenientes, seguros y protegidos.</p>
                        </div>
                        <div class="li">
                                <h3><img data-original="/src/images/c.svg" alt="" class="check">
Opciones de pago</h3>
                                <p class="descripcion">Puede pagar con tarjeta de crédito o cuenta de Paypal para asegurarse de que sus reservas sean siempre fáciles
.</p>
                                <div>
                                    <img data-original="/src/images/Visa.png" alt="" class="logo">
                                    <img data-original="/src/images/Maestro.png" alt="" class="logo">
                                    <img data-original="/src/images/MasterCard.png" alt="" class="logo">
                                    <img data-original="/src/images/PayPal.png" alt="" class="logo">
                                </div>
                            </div>
                        <div class="li">
                                <h3><img data-original="/src/images/c.svg" alt="" class="check">
Con la confianza en nuestros servicios</h3>
                                <p class="descripcion">Nuestro servicio es seguro todos los dias .Puede estar seguro sabiendo que su tours seran epicos.</p>
                        </div>
                    </ul>
                </div>
            </section>
            <section class="cs"> 
                <h2 class="titlecs">24/7  Atención al cliente</h2>
                <div class="schedule">
                    <div class="horanu">
                        <div class="number">24</div>                       
                        Horas del dia
                    </div>
                    <div class="horanu">
                   <div class="number">7</div>     
        Dias de la semana
                    </div>
                    <div class="horanu">
                            <div class="number" >365</div>
                            Dias del año
                    </div>
                </div>
                <div class="fazw">
                    <div class="cf">
                        <div class="imgcf">
                            <a href=""><img data-original="/src/images/faces.png" alt="" class="imgfca"></a>
                        </div>
                        <div class="textocf">
                            <h3 class="tituclocf">Expertos en tours a su servicio</h3>
                            <p class="letrapa">Nuestros expertos en viajes ofrecen un servicio excepcional, al tiempo que proporcionan una comparación imparcial de los recorridos en base a experiencias personales y pasadas de los clientes. Estamos disponibles para responder cualquier pregunta o inquietud a través de chat en línea, teléfono o correo electrónico.</p>
                        </div>
                    </div>
                    <div class="cf">
                        <div class="imgleft">
                            <img data-original="/src/images/phone.png" alt="" class="phoneimg">
                        </div>  
                        <div class="textright">
                            <h3 class="tituclocf" >Soporte local</h3>
                            <p class="letrapa">Nuestros expertos en viajes se comprometen a garantizar que reciba un soporte excelente y oportuno de los operadores turísticos, sin importar dónde se encuentren.</p>
                            <a href="" class="buttona">Contactenos</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

{% endblock %}
