{% extends "template.twig" %}

{% block content %}
<div class="contenedor-texto-404">
  <h1>
      ¿Te has extraviado?
  </h1>
  <p>
      Parece que la página que buscas no está aquí.
  </p>
</div>
<div class="contenedor-imagen-404">
  <img data-original="/src/images/404Imagen.svg" class="imagenerror" alt="Perdido">
</div>

    <div class="contenedor-toures-404">
        <h2>TOURS POPULARES</h2>
        
    </div>

    <div class="container mt-5">
        <div class="container_email">
          <div class="image">
            <img data-original="/src/images/trekking.jpg" alt="caminata">
          </div>
          <div class="contain">
            <h3 class="title_email">Podemos Ayudarte</h3>
            <p class="content_email">Podemos enviarte nuestras promociones, informacion de los toures y folletos de viajes a Peru.</p>
            <div class="submit_email">
                <input type="email" placeholder="e-mail">
                <button>Enviar</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
