{% extends "template.twig" %}

{% block content %}
<div class="PoliticasContainer">
            <div class="MenuLateral">
                    <ul class="ListaMenuLateral">
                        <a href="/es/politicas"><li>Politicas de privacidad</li></a>
                        <a href="/es/reserva"><li>Politicas de reserva</li></a> 
                    </ul>
                  </div>
            <div class="MenuDerecho">
                    <p>Estimado turista, gracias por elegirnos y confiar en nosotros. Por la presente, la Agencia de Viajes TYPICAL TRIPS E.I.R.L informa al público en general de sus Términos y Condiciones de Servicio definidos para los PARTICIPANTES que son todos los viajeros o usuarios que contratan cualquiera de nuestros servicios. Tendrán que aceptar y acatar las cláusulas indicadas en este documento. Por favor, le recomendamos que lea detenidamente lo siguiente como el sistema de servicios y productos. Puede ser diferente que en su país:
                        </p>
                    <br>
                    <div class="titlepoliticas">
                            <h1 class="titleh1p">Typical Trips</h1>
                          </div>
                          <p>
                                tiene diferentes servicios y paquetes diferenciados, ya que también opera en áreas o regiones donde el alojamiento es rural o básico, el transporte y los servicios pueden no ser lo que usted necesita. Generalmente se usan o se esperan. Sin embargo, brindamos los mejores servicios para nuestros clientes, esforzándonos por elegir los mejores proveedores de servicios (hostales y restaurantes) con gran cuidado, esfuerzo y diligencia. Los viajes y los itinerarios dentro del Perú exigen flexibilidad, juicio, paciencia, buen humor y comprensión de los cambios en los servicios que podrían realizarse sin previo aviso debido a las circunstancias que están fuera de nuestro control (Fuerza mayor). Al reservar cualquiera de las excursiones ofrecidas, debe estar de acuerdo con los cambios que Typical Trips realizar sin responsabilidad las siguientes circunstancias:
                          </p>
                          <br>
                          <div class="titlepoliticas">
                                        <h1 class="titleh1p">FUERZA MAYOR:</h1>
                                      </div>
                               <P>Este es cualquier evento que Typical Trips No podría evitar incluso usar todos los medios posibles para tratar de resolverlo.Esto cubre eventos como guerras o amenazas de los mismos, disturbios, enfermedades, desastres naturales, condiciones climáticas adversas,plagas, incendios, accidentes accidentales o similares que están fuera de nuestro control.
                                    <br>En este caso, Typical Trips. no será responsable de tales eventos y se reserva el derecho de modificar, posponer o incluso cancelar el viaje del turista (por supuesto, esta es la última opción). En situaciones de fuerza mayor tales como se mencionó, es posible que tengamos que comenzar el recorrido al amanecer, un día antes, o hacerlo en menos días modificando el itinerario          (generalmente en 3 días). Estos cambios no permiten un reembolso en efectivo de nuestra parte y requieren que el participante desembolse cualquier gastos adicionales como tren, comida u otro para continuar el recorrido.</P>
                               <br>
                               <div class="titlepoliticas">
                                        <h1 class="titleh1p">SEGURO DE VIAJE:                                            </h1>
                                      </div>
                                      <p>Antes de comenzar su viaje, le recomendamos que obtenga un seguro de viaje que cubra accidentes médicos. gastos y repatriación de emergencia, incluyendo rescate aéreo o ambulancia aérea. También te recomendamos que incluyas cancelaciones y pérdidas en su equipaje seguro. Puede enviar una copia escaneada de su póliza a nuestro correo electrónico o pedido una copia a un familiar o amigo de confianza.</p>
                                      <br>
                                      <div class="titlepoliticas">
                                                <h1 class="titleh1p">RIESGOS                                                    </h1>
                                              </div>
                                              <p>Usted comprende los riesgos involucrados en la reserva de cualquiera de nuestras excursiones o tours de aventura (Camino Inca, caminata Salkantay,Ausangate trek, Choquekirao trek, Inca Jungle, Lares trek, etc.) asumiendo completamente los riesgos involucrados en hacer tales excursiones. Typical Trips no acepta ninguna responsabilidad con respecto a los eventos que puedan ocurrir durante el viaje a través de la negligencia del turista o eventos fuera de nuestro control.</p>
                                              <br>
                                     <div class="titlepoliticas">
                                             <h1 class="titleh1p">RESPONSABILIDAD:</h1>
                                          </div>
                                          <p>Typical Trips declara que no asume ninguna responsabilidad u obligación en Absoluto debido a accidentes,daños, enfermedades, muerte, demoras, lesiones a otras personas o bienes. Ninguno asume responsabilidad por causas de fuerza mayor, huelgas, condiciones climáticas, terremotos, situaciones políticas, etc. para determinar cancelaciones, cambios, demoras, etc. Si el cliente paga algún gasto causado por esta situación. Asimismo, no es responsable por pérdida de pertenencias, robo o daños al equipaje. Typical Trips se reserva el derecho de cancelar o modificar el itinerario programado cuando considera que es para un mejor desarrollo del servicio y / o seguridad de los viajeros. <br>
                                            Es responsabilidad de los pasajeros contar con la documentación correspondiente, pasaportes, visas, SEGURO DE VIAJE,           vacunas, vales, tarjeta ISIC, etc. Typical Trips. No es responsable por demoras o gastos debido a documentos inapropiados o falta de documentación para el viaje. Al enviar su información personal para la reserva, su número de pasaporte o identificación debe ser válido, tenga en cuenta por favor, porque las autoridades que regulan los accesos a las principales atracciones turísticas del Perú no son flexibles con respecto a la verificación del número de pasaportes en el control de ingresos. También la información que proporciona en  El formulario de reserva de cualquiera de nuestras páginas web o por correo electrónico se certificará como información válida entregada por el pasajero para poder hacer la reserva final. En el caso de que la información proporcionada por el pasajero sea incorrecta, estamos no se hace responsable de la penalidad que pueden cobrar los proveedores de servicios externos como PERU RAIL y el MINISTERIO DE CULTURA que controla el acceso al tren y al Parque Arqueológico de Machupicchu respectivamente.</p>
                                               <br> <div class="titlepoliticas">
                                                                <h1 class="titleh1p">PRECIOS Y RESERVAS (DEPÓSITO):</h1>
                                                             </div>
                                                             <p>Los precios de los recorridos se administran según la temporada (alta o baja), la cantidad (privada o grupal), las estaciones del año (verano o invierno), y formas de reserva anticipada (en el sitio, transferencia, Paypal, Western Union, etc.), por lo tanto, comprende y acepta el Diferencias de precios que pueden surgir por pasajero por separado. Para garantizar su reserva debe pagar al menos el 50% del           costo total del recorrido, el resto se pagará en nuestra oficina principal una vez que llegue a la ciudad del Cusco.  
                                                                 <br>Para obtener el descuento como estudiante universitario nacional (peruano), debe dejar una fotocopia y / o enviarnos por correo electrónico el escaneado imagen de su respectivo cuaderno válido en el momento de hacer la reserva. Para obtener el descuento como estudiante universitario internacional, debe dejar una fotocopia y / o enviarnos por correo electrónico el imagen escaneada de su respectiva tarjeta ISIC válida al momento de hacer la reserva. La tarjeta ISIC (si corresponde) debe ser válido, también deberá presentar los documentos de identidad (DNI o pasaporte, tarjeta ISIC) antes de comenzar el contrato recorrido y al momento de ingresar a los diferentes atractivos turísticos (Machupicchu, Valle Sagrado, etc.). Comisiones por envío el anticipo del 50% para la reserva y otros deben ser cubiertos por el cliente y no están incluidos en los costos de nuestros tours. Una o dos noches antes de su excursión, habrá una sesión informativa preliminar en su hotel, la hora será confirmado previamente.</p>
                                                             <br>
                                                             <div class="titlepoliticas">
                                                                        <h1 class="titleh1p">Pago del saldo final:</h1>
                                                                     </div>
                                                                     <p>
                                                                            Requerimos que complete el pago restante en nuestra oficina y debe hacerlo antes de comenzar su recorrido. El pago debe ser en efectivo (dólares estadounidenses o moneda nacional). Nos reservamos el DERECHO de cancelar su viaje si no realiza el pago dentro del período establecido.
                                                                     </p>
                                                        <br>

                                                        <div class="titlepoliticas">
                                                                        <h1 class="titleh1p"> Regreso a Cusco:</h1>
                                                                     </div>
                                                                     <p>El boleto de tren para el regreso ofrecido por  Typical Trips. Pertenece a la categoría EXPEDICIONES y está sujeto a la variaciones del horario de devolución reservadas por el participante.Si el participante desea utilizar otras categorías como VISTADOME o HIRAM BINGHAM, deberá solicitar este servicio.en el momento de la reserva o por adelantado.</p>
                                                                     <br>
                                                                     <div class="titlepoliticas">
                                                                                <h1 class="titleh1p">Devolución con cambio de fecha:</h1>
                                                                             </div>
                                                                             <p>Si el pasajero desea permanecer en Aguas Calientes por una noche extra sin haberlo solicitado al momento de la reserva durante el recorrido, podemos ayudarlo a comprar o cambiar su boleto de tren para el día siguiente, pero el pasajero deberá cubrir el            Multa por gastos que implica el cambio de fecha o la compra del nuevo boleto. Todos los gastos asociados con este cambio de fecha o horario ejecutado en nombre del cliente (comida, alojamiento, traslado de regreso, etc.).</p>
                                                                             <div class="titlepoliticas">
                                                                                        <h1 class="titleh1p">Billetes de tren:</h1>
                                                                                     </div>
                                                                        <p>Debido a que la empresa PERURAIL gestiona la venta de boletos de tren en sus diferentes horarios, estamos sujetos a esta modalidad,por lo tanto, podemos ofrecer los siguientes horarios con sus respectivas variantes de precio:</p>
                                                                                     <br>
                                                                                     <div class="titlepoliticas">
                                                                                                <h1 class="titleh1p">Categoría del horario del tren EXPEDICIONES:                                                                                                    </h1>
                                                                                             </div>
                                                                                        <p> Los participantes pueden solicitar al momento de la reserva otras categorías VISTADOME o HIRAM BINGHAM No tenemos control sobre la hora exacta de salida del tren fijada por PERURAIL para que usted acepta estar de acuerdo con el horario reservado del boleto de regreso. En caso de querer cambiar horario de boletos de tren y si existe la posibilidad de que sea en la misma categoría de tren o            En otra categoría, el cliente acepta asumir los cargos adicionales que esto implica.</p>
                                                                                             <br>
                                                                                             <ul>
                                                                                                     <li>1.<span>2:55 p.m. (+ 10 dollars)</span></li>
                                                                                                     <li>2.<span>4:22 pm (+15 dollars)</span> </li>
                                                                                                     <li>3.<span>6:45 pm (+ 5 dollars)</span> </li>
                                                                                                     <li>4.<span>9:30 p.m. (included)</span></li>
                                                                                             </ul>
                                                                                             <br>
                                                                                             <div class="titlepoliticas">
                                                                                                        <h1 class="titleh1p">CANCELACIONES</h1>
                                                                                                     </div>
                                                                                                     <p>
                                                                                                                (1) El depósito enviado para la reserva NO es reembolsable ni transferible. <br>
                                                                                                                (2)  Typical Trips debe ser notificado por correo electrónico o en persona de cualquier cambio en la fecha al menos 48 horas antes la fecha programada para su recorrido (NO APLICABLE AL CAMINO INCA TOUR). Typical Trips intentará hacer Las modificaciones solicitadas siempre que haya disponibilidad. El pasajero deberá cubrir los gastos adicionales. gastos que implican estos cambios. En caso contrario, Typical Trips no será responsable de ningún resultado de tal fracaso.<br>
                                                                                                                (3) Si el pasajero realizó el anticipo del 50% por la reserva del tour y luego decide cancelar el recorrido 30 días antes de la fecha reservada Typical Trips. Solo puede devolver el 50% del pago realizado por el partícipe. De lo contrario, Typical Trips adverso o diferente E.I.R.L. no devolverá ninguna cantidad monetaria a la participante cubriendo así los gastos derivados de la reserva. <br>
                                                                                                                (4) Si el pasajero realizó el pago completo de la reserva del tour y luego decidió cancelar el tour con menos menos de 30 días antes de la fecha reservada Typical Trips. Puede devolver el 50% del pago realizado por el participante. De lo contrario, Typical Trips adverso o diferente E.I.R.L. solo puede devolver algunos recursos comprados en nombre del Pasajero (entrada al Parque Arqueológico de Machupicchu, boleto de tren o autobús)<br>
                                                                                                                (5) También podemos proporcionar una carta de reclamo para su compañía de seguros a pedido. Además, debes aceptar y acepta las siguientes cláusulas:
                                                                                                     </p>
                                                                                                     <br>
                                                                                                     <div class="titlepoliticas">
                                                                                                                <h1 class="titleh1p">CAPÍTULO I. CONDICIONES DURANTE LA COLECCIÓN</h1>
                                                                                                             </div>
                                                                                                             <ul>
                                                                                                                     <li>Los horarios de recogida se determinan en el programa, el participante debe estar listo y esperando en el albergue, si no encuentre listo en el tiempo establecido que la agencia no se hace responsable de los retrasos y / o abandono por el transporte, para seguir este horario establecido.</li>
                                                                                                                     <li>Si el participante se encuentra en estado de intoxicación, la agencia tiene el derecho de cancelar y no reembolsar el pago por el servicio.                                                                                                                        </li>
                                                                                                                     <li>Cancelaciones debido a razones de emergencia tales como: terremotos, accidentes, enfermedades (terminales o infecciosas) u otros graves deben ser informados con un período de no menos de 48 horas de anticipación para la recogida del participante.                                                                                                                        </li>
                                                                                                                     <li>Todas las cancelaciones tienen una penalización del 50% al 100% del costo del servicio turístico, según el motivo de la cancelación (50% si es enfermedad o accidente) (100% otras razones).                                                                                                                        </li>
                                                                                                                     <li>Los reembolsos se realizarán en efectivo o de acuerdo con las compras que la agencia haya realizado, como boletos de tren,entrada a Machu Picchu, etc.                                                                                                                        </li>  
                                                                                                             </ul>
                                                                                                             <br>
                                                                                                             <div class="titlepoliticas">
                                                                                                                        <h1 class="titleh1p">CAPITULO II. CONDICIONES DURANTE EL TRANSPORTE</h1>
                                                                                                                     </div>
                                                                                                                     <p>
                                                                                                                             <ul>
                                                                                                                                     <li>Typical Trips se compromete a proporcionar transporte privado a todos sus pasajeros, así como a la cantidad de asientos según al número de participantes, tanto dentro como fuera y de acuerdo con el itinerario del programa.</li>
                                                                                                                                     <li>Typical Trips acepta entregar un boleto de tren de regreso al participante, después de su visita al Santuario de Machu Picchu    y cómo se estipula en la descripción del recorrido.</li>
                                                                                                                                     <li>Los horarios de regreso son establecidos por la compañía privada de trenes PERURAIL, Typical Trips. está exento de las variaciones de el horario establecido por esa empresa.</li>
                                                                                                                                     <li>Typical Trips  no es responsable de los retrasos que puedan ocurrir durante el viaje, debido a factores climáticos, deslizamientos de tierra, huelgas, movilizaciones u otras que alteren el itinerario del programa o los horarios de salida.</li>
                                                                                                                                     <li>Typical Trips no será responsable por la pérdida de vuelos, alojamiento o viajes que el participante pueda tener para el razones mencionadas en la cláusula 4 de este capítulo.                                                                                                                                        </li>
                                                                                                                             </ul>
                                                                                                                     </p>
                                                                                                                     <br>
                                                                                                                     <div class="titlepoliticas">
                                                                                                                                <h1 class="titleh1p">CAPITULO III. CONDICIONES DEL TOUR EN BICICLETA, CONNOTACIÓN Y ZIPLINE
                                                                                                                                        </h1>
                                                                                                                             </div>
                                                                                                                             <br>
                                                                                                                             <p>
                                                                                                                                     <ul>
                                                                                                                                             <li>Typical Trips entregará en buenas condiciones el equipo requerido para el descenso en bicicleta, piragüismo y tirolesa, para su parte del participante será responsable de todo el equipo entregado por pérdida, daño u olvido causado por el participante                  al equipo (bicicletas, vehículos todo terreno, automóviles) durante el recorrido intencionalmente o intencionalmente.</li>
                                                                                                                                             <li>Typical Trips no es responsable de los accidentes que el participante pueda sufrir debido a la propia imprudencia o la de terceros,ni por las lesiones que pueden causar.</li>
                                                                                                                                             <li>Typical Trips no será responsable de los retrasos que puedan ocurrir durante el viaje, ya sea por factores climáticos, deslizamientos de tierra, huelgas, movilizaciones u otras que alteren el itinerario del programa o los horarios de llegada.</li>
                                                                                                                                     </ul>
                                                                                                                             </p>
                                                                                                                             <br>
                                                                                                                             <div class="titlepoliticas">
                                                                                                                                        <h1 class="titleh1p">CAPITULO IV. CONDICIONES SOBRE EL HOSPEDAJE DURANTE EL TOUR </h1>
                                                                                                                                     </div>
                                                                                                                                     <p>
                                                                                                                                             <ul>
                                                                                                                                                     <li>Typical Trips.coordinará las noches de alojamiento o campamento durante la realización del recorrido de acuerdo a como el programa especifica.</li>
                                                                                                                                                     <li>La calidad del alojamiento estará sujeta a las características del tour contratado. Esto significa que el participante puede elegir el tipo de alojamiento que necesita o prefiere.  Typical Trips ofrece varios tipos de alojamiento para cada recorrido.                                                                                                                                                        </li>
                                                                                                                                                     <li>El participante seguirá la provisión del alojamiento de acuerdo con el paquete contratado.
                                                                                                                                                        </li>
                                                                                                                                             </ul>
                                                                                                                                     </p>
                                                                                                                                <br>
                                                                                                                                <div class="titlepoliticas">
                                                                                                                                                <h1 class="titleh1p">CAPÍTULO V. CONDICIONES DURANTE EL CAMINO
                                                                                                                                                        </h1>
                                                                                                                                             </div>
                                                                                                                                             <p>
                                                                                                                                                     <ul>
                                                                                                                                                             <li>El guía siempre informara de los detalles de la caminata con anticipación.                                                                                                                                                                </li>
                                                                                                                                                             <li>Las caminatas se realizaran en las fechas y tiempos estipulados.                                                                                                                                                                </li>
                                                                                                                                                             <li>Los participantes que por algún motivo no deseen realizar la caminata, pueden omitirla pero la agencia no se hará cargo por los pagos de transportes ni alimentación u otros que los participantes efectúen fuera de la caminata.                                                                                                                                                                </li>
                                                                                                                                                             <li>La Agencia no se responsabiliza por las demoras o variaciones del programa de cualquier tipo que se pudieran presentar durante las caminatas ya sea esta por factores climáticos, derrumbes, huelgas, movilizaciones u otras que alteren el itinerario del programa o los tiempos establecidos.                                                                                                                                                                </li>
                                                                                                                                                     </ul>
                                                                                                                                             </p>
                                                                                                                                        <br>
                                                                                                                                        <div class="titlepoliticas">
                                                                                                                                                        <h1 class="titleh1p">CAPITULO VI. CONDICIONES SOBRE LA ALIMENTACIÓN
                                                                                                                                                                </h1>
                                                                                                                                                     </div>
                                                                                                                                                     <p>
                                                                                                                                                             <ul>
                                                                                                                                                                     <li> Typical Trips proporcionará a los participantes la comida correspondiente al recorrido contratado; la alimentación consta de tres comidas durante el día, pero estarán sujetos a diferentes variaciones en cada recorrido Se estipulará la cantidad de desayunos, almuerzos y cenas.en el programa.</li>
                                                                                                                                                                     <li>Todos los alimentos adicionales serán pagados por el participante.                                                                                                                                                                            .                                                                                                                                                                        </li>
                                                                                                                                                                     <li>Typical Trips will no incluirá bebidas adicionales fuera del programa.                                                                                                                                                                     </li>
                                                                                                                                                                     <li>El participante debe informar con anticipación sobre el tipo de dieta o dieta que desea tomar durante el desarrollo del recorrido.                                                                                                                                                                        </li>
                                                                                                                                                                     <li>La Agencia se compromete a proporcionar la dieta o el tipo de alimento requerido por el participante de acuerdo con la disponibilidad de productores del lugar, en caso de ser una dieta o alimentación específica o médica el pasajero debe consultar previamente con la agencia.                                                                                                                                                                        </li>
                                                                                                                                                             </ul>
                                                                                                                                                     </p>
                                                                                                                                                     <br>
                                                                                                                                                     <div class="titlepoliticas">
                                                                                                                                                                <h1 class="titleh1p">CONDICIONES DURANTE LA VISITA AL SANTUARIO DE MACHU PICCHU                                                                                                                                                                       </h1>
                                                                                                                                                             </div>
                                                                                                                                                             <p>
                                                                                                                                                                     <ul>
                                                                                                                                                                             <li>El participante debe cumplir con las reglas establecidas por el organismo a cargo del mantenimiento y conservación del parque arqueológico y cualquier otra atracción turística incluida en el recorrido, estos serán informados por el guía.                                                                                                                                                                                </li>
                                                                                                                                                                             <li>El participante tendrá una guía que acompañará y explicará en detalle sobre cada atracción durante el 2 Horas guiadas en el Parque Arqueológico de Machupicchu.                                                                                                                                                                                </li>
                                                                                                                                                                             <li>Durante el recorrido, el participante siempre tendrá tiempo libre para hacer una visita por su cuenta, para tomar fotos, videos, ingresar a otras atracciones adicionales o extras como la montaña Huayna Picchu o por cosas que él cree que son apropiadas.                                                                                                                                                                                </li>
                                                                                                                                                                             <li>Typical Trips  no garantiza las condiciones climáticas durante el curso de ninguno de nuestros tours                                                                                                                                                                                </li>
                                                                                                                                                                        </ul>
                                                                                                                                                             </p>
                                                                                                                                                             <br>
                                                                                                                                                             <p>MUY IMPORTANTE: Sugerimos encarecidamente una aclimatación o permanencia a gran altitud (por más de 3.000 metros, en Cusco u otra ciudad de gran altitud) durante 2 o 3 días (promedio) antes de emprender el recorrido. Esto para minimizar las posibles afecciones por la altura, también puede ayudar a su cuerpo a aclimatarse bebiendo mucho líquido, agregando un poco más de azúcar a sus bebidas, comiendo alimentos ricos en carbohidratos, evitando el tabaco y el alcohol y bebiendo té de coca (hoja antiguo y tradicional). Pídale a su médico la receta de cualquier medicamento adicional.                                                                                                                                                                </p>
                                                                                                                                                             <span>* Al confirmar su reserva, acepta expresamente que acepta nuestros términos y condiciones.              Nota: los términos y condiciones del servicio están sujetos a cambios sin previo aviso.                                                                                                                                                                </span>
                                                                                                                                                             

                                                                                                                                                             <div class="titlepoliticas">
                                                                                                                                                                        <h1 class="titleh1p">¡Gracias, estamos seguros de que tendrá una experiencia inolvidable!
                                                                                                                                                                                </h1>
                                                                                                                                                                     </div>
           </div>
    </div>


{% endblock %}
