{% extends "template.twig" %}

{% block content %}
 <div class="category-content">
   <div class="banner" style="background:url({{category.CategoryImgUri}})">
     <div class="container2">
       <div class="banner-title">
         <h1 style="padding:12px;">{{ category.CategoryName }}</h1>
         <p class="meta-description">{{ category.MetaDescription| raw }}<p>
       </div>
        <span class="breackumbs_category">
              <ul class="breacrumbs">
              <li class=""><a href="{{ language.CodLang }}/">Peru</a></li>
              <li class=""><a href="{{ language.CodLang }}/{{ category.UriCategory}}"><span>&nbsp;&nbsp;〉&nbsp;</span>{{ category.CategoryName}}</a></li>
              </ul>
        </span>
     </div>
   </div>
   <div class="container">
   
  
     <div class="items">
       {% for tourinfo in tour %}
      
        <div class="item">
          
          <div class="img">
            <a href="{{language.CodLang}}/{{category.UriCategory}}/{{tourinfo[1].UriTour}}">
            <img data-original="{{ tourinfo[1].TourBannerImg }}" alt="">
            </a>
          </div>
          <a style="color: #656e77;" href="{{language.CodLang}}/{{category.UriCategory}}/{{tourinfo[1].UriTour}}">
          <div class="description">
            <h3 class="title-tour-index">{{ tourinfo[1].TourTitle }}</h3>
            <div class="details">
              <div class="duration">
                <dl>{{ data.duration }}</dl>
                <dd>{{ tourinfo[1].TourDurationText }}</dd>
              </div>
              <div class="price">
                <dl>{{ data.from }}</dl>
                <dd><span>US</span>${{ tourinfo[0].PriceMount }}</dd>
              </div>
            </div>
            <div class="descriptiondetails">
              <div class="item">
                <dt>{{ data.destinations }}</dt>
               {% set destino = tourinfo[1].TourDestinations|split(',') %}
                <dd>
                  {% for des in destino|slice(0,2) %}
                     {{ des }},
                  {% endfor %}
                    {% set mores =  destino|slice(3,length) %}
                  <span class="text-green"> {% if mores|length != 0 %} + {{ mores|length }} {{ data.more }} {% endif %}</span>
                              
              </dd>
              </div>
              <div class="item">
                <dt>{{ data.start_end }}</dt>
                <dd>{{ tourinfo[1].TourDeparture }} / {{ tourinfo[1].TourEnd }} </dd>
              </div>
              <div class="item">
                <dt>{{ data.agerange }}</dt>
                <dd>{{ tourinfo[1].AgeRange }}</dd>
              </div>
              <div class="item">
                <dt>{{ data.transport }}</dt>
                <dd>{{ tourinfo[1].TourTransport }}</dd>
              </div>
            </div>
            
          </div>
        </a>
        </div>
    
       {% endfor %}
     </div>
    
   </div>
 </div>




{% endblock %}

