{% extends "template.twig" %}

{% block content %}

      <div class="banner-index" >     
            <img src="{{language.bannerImg}}" alt="TypicalTrips to Machu Picchu">
          <div>
            <span>
              <strong>{{ data.title_Ban }}</strong>
              <br>
              <strong>{{ data.title_Ban2 }}</strong>  
              <br>
              <strong class="Subsli">{{ data.title_Sub }}</strong> <br>
              <strong class="Subsli" style="position: absolute;
              line-height: 7px;">{{ data.title_Sub2 }}</strong>
            </span>
              
          </div>
      </div>
      

   
      
      <div class="container">
              
     <div class="page-header">
      <div class="Header-page">
        <div class="container-header">
          <div class="header-cont">
            <div class="header-text">
              <div >
                <img class="icons-header" src="/src/images/comprobado.svg" alt="comprobado">
              </div>
              <span class="header-h2">
              {{ data.Categoria_text }}
              </span>
              <div class="header-par">               
              <!--  {{data.categoria_parr}}-->
              </div>
            </div>
            
          </div>
          <div class="header-cont">
           <div class="header-text">
             <div>
               <img class="icons-header" src="/src/images/amor.svg" alt="">
             </div>
             <span class="header-h2">
               
               {{ data.Categoria_text2 }}
             </span>
             <div class="header-par">               
               <!--{{data.categoria_parr2}}-->
             </div>
           </div>
           
         </div>
         <div class="header-cont">
           <div class="header-text">
             <div>
               <img class="icons-header" src="/src/images/medalla.svg" alt="">
             </div>
             <span class="header-h2">
               {{ data.Categoria_text3 }}
             </span>
             <div class="header-par">               
              <!-- {{data.categoria_parr3}}--> 
             </div>
           </div>
           
         </div>
         <div class="header-cont">
          <div class="header-text">
            <div>
              <img class="icons-header" src="/src/images/apoyo.svg" alt="">
            </div>
            <span class="header-h2">
              {{ data.Categoria_text4 }}
            </span>
            <div class="header-par">               
             <!-- {{data.categoria_parr3}}--> 
            </div>
          </div>
          
        </div>
    
   
         
        </div>
      </div>
    </div>
    
    <div class="Cov">
      <div class="titlecov"> {{data.titlecov}} </div>
      <p>{{data.subcov}}</p>
      <p>{{data.subcov1}}</p>
      <a href="">{{data.Information}}</a>
    </div>
              <section class="menu-categori">
                <div class="categor-title-index">
                  <h2>{{data.Regiones}}</h2>
                </div>
                <div class="slider-items-categori">
                    <div class="contenedor-items-categoria">
                        
                         <div class="CajaDesti">
                          <a href="{{ language.CodLang }}/{{data.link_cu}}">
                            <div class="container-img">
                                <img src="https://drscdn.500px.org/photo/79656825/q%3D80_m%3D2000/v2?sig=5727d9aabd976b66d8395e1e45b68ec8e8a3a9c59288fe420a81a16e9474aa6c" alt="">
                            </div>
                            <span>
                                <h2>Cusco</h2>
                            </span>
                    </a>
                         </div>
                               
                       
                       <div class="CajaDesti">
                        <a href="{{ language.CodLang }}/{{data.link_a}}">
                          <div class="container-img">
                              <img src="https://drscdn.500px.org/photo/201877479/q%3D80_m%3D2000_k%3D1/v2?sig=24a7117b15e9486ad8d53360d2337176480beb6b3e5049b811d91080493b962e" alt="">
                          </div>
                          <span>
                              <h2>Arequipa</h2>
                          </span>
                  </a>
                       </div>
                         
                 
                 <div class="CajaDesti">
                  <a href="{{ language.CodLang }}/{{data.link_m}}">
                    <div class="container-img">
                        <img src="https://drscdn.500px.org/photo/95245983/q%3D80_m%3D2000/v2?sig=15371ece0a122c0022d53170e7a33b05d6e88eaac8cf59761f0dda50b409bb81" alt="">
                    </div>
                    <span>
                        <h2>Madre de Dios</h2>
                    </span>
            </a>
                 </div>
   
                    </div>
                </div>
            </section>
                
    <div class="InfoCon">
      <div class="subcon">
        <div class="grcon"> <img src="https://drscdn.500px.org/photo/54315734/q%3D80_m%3D2000/v2?sig=57780b3328bc2109f45cb23e8c2f05eddac1a04d745928dc79a1435bde28ba1d" alt=""> </div>
        <div class="descon"> <h1>Perú</h1> 
          <p>{{data.subperu}}</p>
          <br>
          <p>{{data.subperu2}}</p>
          <br>
          <p>{{data.subperu3}}</p>
        </div>

      </div>
    </div>
            
            <div class="categor-title-index">
              <h1 >
               {{ data.title_d }}        
              </h1>
              <h2><span>  {{ data.subtitle_d }}</span></h2>    

            </div>          
            <div class="catergorys-index">
              {% for category in tourhome %}
                <div class="items" >         
                 
                  {% for tour in category[1] %}
                  <div class="item">
                   <a href="{{ language.CodLang }}/{{category[0].UriCategory}}/{{ tour[1].UriTour }}">                     
                    <div class="img" style="background-image: url({{tour[1].TourBannerImg}});" title="{{tour[1].TourTitle}}">                      
                      <span class="subimg">
                        {{data.subimg}}
                    </span>
                    </div>
                    <div class="Desitns">
                      <span class="desitntex">
                        {{data.desitntex}}
                      </span>
                    </div>
                    <div class="description" style="background-color: white;position: relative;">
                      
                  <div class="details">
                      <div class="duration">
                        <div class="rcotn">
                          <div class="titletourin"><h2>{{ tour[1].TourTitle }}</h2></div>   
                         
                        </div>
                        
                        <div class="describiciontourin"> 
                         
                          <div class="tourdestinoin"><img class="icondescripcion" src="/src/images/pin.svg" alt="Icond"> <span class="titlesdescribci" >{{ tour[1].TourDestinations }} </span></div>
                          
                          <div class="durationtourin"><img class="icondescripcion" src="/src/images/clock.svg" alt="Icond"> <span class="titlesdescribci">{{data.title_duration}}: {{ tour[1].TourDurationText }}</span>  </div>
                         </div>

                         <!----
                       <div class="describciontour">
                         <span>{{tour[1].MetaDescription}}</span>
                        </div> -->
                     
                      </div>

                      <div class="footeritems">
                        <div class="reviews">
                          <div class="starts" >
                           <span class="start full"></span>
                           <span class="start full"></span>
                           <span class="start full"></span>
                           <span class="start full"></span>
                           <span class="start half"></span>
                           <span class="fronreviews">4.5</span>
                         </div> 
                         <span class="reviers">15 REVIEWS</span>                   
                         </div>
                        <div class="PriceDs">
                          
                          <p>{{data.Price_de}}
                          </p>
                          <div class="curationtourprice"> 
                            <p>
                              {{ tour[0].PriceMount }} US$ 
                            </p>
                            
                          </div> 
                          <p>    {{data.Price_For}}
                          </p>
                        </div>                  
                      </div>

                    </div>                 
                  </div>
                  </a>                
                  </div>
                  
                {% endfor %}
                </div>
                {% endfor %}
            </div>

            <div class="Abaout1">
              <div>
                
                  <div> 
                    <span> <img src="https://static.viajesanepal.com/uploads/2020/01/why-us-2-e1588670029378.png" alt=""> </span> 
                  </div>
                  <div> 
                    <div>
                      <h3>{{data.expind}}</h3>
                  </div>
                  <p>
                    {{data.expparr}}
                  </p>
                </div>
                
              </div>
            </div>

            <div class="categor-title-index">
              <h2>
                <span>{{data.title_c}}</span>
              </h2>
            </div>

            <div class="slideshow-container" >
              <div class="mySlides1" >
                  <div class="mical" >
                  <div>
                    <div>
                      <img src="{{data.imgstart1}}" >
                    </div>
                   <div>
                    <strong>{{data.nombresstart}}</strong>
                   </div>
                    <div>
                      {{ data.destinostart }}
                    </div>
                    <div class="starts" >
                      <span class="start full"></span>
                      <span class="start full"></span>
                      <span class="start full"></span>
                      <span class="start full"></span>
                      <span class="start full"></span>
                     
                    </div> 
                  </div>
                  
                  <div>
                    {{data.opinionesstart}}
                  </div>
                  </div>
                  <div class="mical1" >
                    <div>
                      <div>
                        <img src="{{data.imgstart2}}" >
                      </div>
                     <div>
                      <strong >{{data.nombresstart2}}</strong>
                     </div>
                      <div>
                        {{ data.destinostart2 }}
                      </div>
                      <div class="starts" >
                        <span class="start full"></span>
                        <span class="start full"></span>
                        <span class="start full"></span>
                        <span class="start full"></span>
                        <span class="start half"></span>
                        
                      </div> 
                    </div>
                      
                    <div>
                      {{data.opinionesstart2}}
                    </div>
                    </div>
                    <div class="mical" >
                      <div>
                        <div>
                          <img src="{{data.imgstart3}}" >
                        </div>
                       <div>
                        <strong >{{data.nombresstart3}}</strong>
                       </div>
                        <div>
                          {{ data.destinostart3 }}
                        </div>
                        <div class="starts" >
                          <span class="start full"></span>
                          <span class="start full"></span>
                          <span class="start full"></span>
                          <span class="start full"></span>
                          <span class="start full"></span>
                          
                        </div> 
                      </div>
                      
                      <div>
                        {{data.opinionesstart3}} 
                      </div>
                      </div>
                
              </div>
            
              <div class="mySlides1">
                <div class="mical" >
                  <div>
                    <div>
                      <img src="{{data.imgstart4}}" >
                    </div>
                   <div>
                    <strong >{{data.nombresstart4}}</strong>
                   </div>
                    <div>
                      {{ data.destinostart4 }}
                    </div>
                    <div class="starts" >
                      <span class="start full"></span>
                      <span class="start full"></span>
                      <span class="start full"></span>
                      <span class="start full"></span>
                      <span class="start half"></span>
                      
                    </div> 
                  </div>
                  
                    <div>
                      {{data.opinionesstart4}}  
                    </div>
                  </div>
                  <div class="mical1" >
                    <div>
                      <div>
                        <img src="{{data.imgstart5}}" >
                      </div>
                     <div>
                      <strong >{{data.nombresstart5}}</strong>
                     </div>
                      <div>
                        {{ data.destinostart5 }}
                      </div>
                      <div class="starts" >
                        <span class="start full"></span>
                        <span class="start full"></span>
                        <span class="start full"></span>
                        <span class="start full"></span>
                        <span class="start full"></span>
                        
                      </div> 
                    </div>
                    
                    <div>
                      {{data.opinionesstart5}} 
                    </div>
                    </div>
                    <div class="mical" >
                      <div>
                        <div>
                          <img src="{{data.imgstart6}}" >
                        </div>
                       <div>
                        <strong >{{data.nombresstart6}}</strong>
                       </div>
                        <div>
                          {{ data.destinostart6 }}
                        </div>
                        <div class="starts" >
                          <span class="start full"></span>
                          <span class="start full"></span>
                          <span class="start full"></span>
                          <span class="start full"></span>
                          <span class="start full"></span>
                         
                        </div> 
                      </div>
                      
                      <div>
                        {{data.opinionesstart6}} 
                      </div>
                      </div>
                 
              </div>
            
             
            
              <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
              <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
            </div>
            <div class="Abaout1">
              
                <div>
                  <h4 class="p2">{{data.whyabout}}</h4>
                  
                </div>
                <hr >
                <div>
                  <p >
                    {{data.whyaboutp}}
                  </p>
                </div>
             
            </div>
           <!-- <div class="categor-index">
              <a href="{{ language.CodLang }}/{{data.link_t}}">
              <div class="categor-cont" style="background-image:url(https://i.postimg.cc/ZRwpWHcS/qweq.jpg);">
                <h3>  <span >{{data.title_cT}}</span>  </h3>
              </div>
            </a>
            <a href="{{ language.CodLang }}/{{data.link_c}}">
              <div class="categor-cont" style="background-image: url(https://i.postimg.cc/rmFXG1Bj/biking-cusco.jpg);">
                 <h3><span>{{data.title_cA}}</span> </h3> 
              </div>
            </a>
            <a href="{{ language.CodLang }}/{{data.link_h}}">
              <div class="categor-cont" style="background-image: url(https://i.postimg.cc/9fj0PkFh/trekking-cusco-peru.jpg);">
                 <h3><span>{{data.title_cH}}</span> </h3>
              </div>
            </a>
            <a href="{{ language.CodLang }}/{{data.link_j}}">
              <div class="categor-cont" style="background-image: url(https://i.postimg.cc/zGpDWGMn/trekking-selva-cusco-peru.jpg);">
                 <h3><span>{{data.title_cJ}}</span></h3> 
              </div>
            </a>
          </div>  -->   
  
          <br>
          </div>  
     
    
      
          <script>
            var slideIndex = [1,1];
            var slideId = ["mySlides1", "mySlides2"]
            showSlides(1, 0);
            showSlides(1, 1);
            
            function plusSlides(n, no) {
              showSlides(slideIndex[no] += n, no);
            }
            
            function showSlides(n, no) {
              var i;
              var x = document.getElementsByClassName(slideId[no]);
              if (n > x.length) {slideIndex[no] = 1}    
              if (n < 1) {slideIndex[no] = x.length}
              for (i = 0; i < x.length; i++) {
                 x[i].style.display = "none";  
              }
              x[slideIndex[no]-1].style.display = "flex";  
            }
            
            </script>
       <script type="application/ld+json">
     [{"@context":"http:\/\/schema.org","@type":"Organization","name":"Typical Trips","url":"https:\/\/www.typicaltrips.com\/","logo":{"@type":"ImageObject","url":"https:\/\/www.typicaltrips.com\/images\/logo.svg"},"foundingDate":"2015-01-01","founder":[{"@type":"Person","name":"Napoleon Arcondo"},{"@type":"Person","name":"Arcondo Saico"}],"foundingLocation":{"@type":"Place","name":"Cusco, Perú"},"sameAs":["https:\/\/www.facebook.com\/typicaltrips","https:\/\/twitter.com\/typicaltrips","https:\/\/www.facebook.com\/typicaltrips","https:\/\/instagram.com\/typicaltrips","https:\/\/en.wikipedia.org\/wiki\/typicaltrips"]},{"@context":"http:\/\/schema.org","@type":"Website","url":"https:\/\/www.typicaltrips.com\/","potentialAction":{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"http:\/\/schema.org\/True"search_term_string}"},"query-input":{"@type":"PropertyValueSpecification","valueRequired":,"valueName":"search_term_string"}}}]
 </script>
{% endblock %}
