{% extends "template.twig" %}

{% block content %}

<div class="PasarelaPago" >
  <form action="" method="POST"  id="payment-form">
  <div class="container">
    <div class="day-trip">
      <div class="day-tour">
        <div class="title">
          <div class="point"> 1 </div>
          <h3>Tu Fecha de Salida</h3>
        </div>
        <div class="trips">
        </div>
        <div class="add_information">
         <div class="form-group">
             <label class="">Alojamiento en Cusco *</label>
             <input type="text" class=""  name="hotelbooking">
         </div>
         <div class="form-group">
             <label class="">Peticiones*</label>
             <textarea  name="requestbooking" placeholder="Your Peticiones"></textarea>
         </div>
        </div>
      </div>
      <div class="my-trips">
          <h3 class="title">my trips </h3>
          <div class="my-trip">
          </div>
          <h3 class="totaltrip"><span>TOTAL TRIP </span><span></span></h3>
      </div>
    </div>
    <div class="traveler-detail">
     <div class="item">
       <div class="title">
         <div class="point"> 2 </div>
         <h3>Agregar de talle del viajero</h3>
       </div>
       <div class="traveler">
         
       </div>
     </div>
     <div class="item"></div>
    </div>
    <div class="detail-pago">
      <div class="item">
        <div class="title">
          <div class="point"> 3 </div>
          <h3>Agregar detalles de pago</h3>
        </div>
        <div class="seguity-pay">
          <img src="/src/images/bloquear.svg" class="icons" alt="">
          <p >Este es un pago seguro y encriptado SSL. Los datos de su tarjeta de crédito están seguros.</p>
        </div>
        <div class="subtitulado">Selecciona tu forma de pago: </div>
        <div class="pay-card">
          <label for="" class="pay-img">
            <div class="title-img">
                Pagar con Tarjeta
            </div>
            <div class="img-card">
                <img src="/src/images/MasterCard.png" class="iconosTarjetas" alt="">
                <img src="/src/images/Maestro.png" class="iconosTarjetas" alt="">
                <img src="/src/images/American-Express.png" class="iconosTarjetas" alt="">
                <img src="/src/images/Visa.png" class="iconosTarjetas" alt="">
            </div>
          </label>
          <div  class="form-pay-card active">
            <script src="https://checkout.culqi.com/v2"></script>
            <div class="form-group">
              <label for="">Nombre del titular de la tarjeta *</label>
              <input type="text" validate-culqi="true" texto="Nombre titular" name="name_pagante" class="input_data_culqi" placeholder="i.e John Smith"  id="titular_pay">
            </div>
            <div class="form-group">
              <label for="">Correo Electonico *</label>
              <input <input type="text" validate-culqi="true" texto="Correo electronico" name="email" class="input_data_culqi" size="50" data-culqi="card[email]" id="card[email]" placeholder="Ingrese su correo electronico">
            </div>
            <div class="form-group">
              <label for="">Número de tarjeta *</label>
              <input type="text" placeholder="**** **** ****" validate-culqi="true" texto="Numero de tarjeta" name="number" class="data-card" size="19" data-culqi="card[number]" id="card[number]"maxlength="19" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" onkeyup="Card(event, this)" >
            </div>
            <div class="form-group">
              <label for="">Fecha de caducidad *</label>
              <input size="2" validate-culqi="true" texto="Mes expirado" name="exp_month" class="input_data_culqi" data-culqi="card[exp_month]" id="card[exp_month]" placeholder="MM" maxlength="2" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
            </div>
            <div class="form-group">
              <label for="">Fecha de caducidad *</label>
              <input size="4" validate-culqi="true" texto="Año expirado" name="exp_year" class="input_data_culqi" data-culqi="card[exp_year]" id="card[exp_year]" placeholder="YYYY" maxlength="4" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
            </div>
            <div class="form-group">
              <label for="">CVV * <img src="/src/images/CARDS.png" class="iconosTarjetas" alt=""></label>
              <input type="text" validate-culqi="true" texto="Cvv" name="cvv" class="input_data_culqi" size="4" data-culqi="card[cvv]" id="card[cvv]" placeholder="CVV" maxlength="3" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" >
            </div>
          </div>
        </div>
        <div class="pay-paypal">
          <label for="" class="pay-img">
            <div class="title-img">
                Pagar con Paypal
            </div>
            <div class="img-card">
                <img src="https://cdn.tourradar.com//src/images/responsive/payment_providers/card_logos_b/PayPal.png" class="iconosTarjetas" alt="">
            </div>
          </label>
          <div class="form-paypal">
            <p>Haga clic aquí para iniciar sesión en su cuenta PayPal:</p>
            <script src="https://www.paypalobjects.com/api/checkout.js"></script>
            <div id="paypal-button" class="paypalImg">
            </div>
          </div>
        </div>
        <div class="condiciones">
        <input id="payteminsandconditions"type="checkbox" value="1">
        <label for="payteminsandconditions">He leído y acepto los términos y condiciones de uso</label>
        <a href="javascript:void(0);"  id="pay_now" class="but blue">Book Now</a>
      </div>
      </div>
      <div class="item"></div>
    </div>
  </div>
  </form>
</div>
<script src="/src/js/pasarela.js"></script>

{% endblock %}
