
<!DOCTYPE html>
<html lang="{{ language.CodLang }}">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  {#<base href="https://www.typicaltrips.com/">#}
   <base href="http://localhost/"> 
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/src/css/styles.css">
  <link rel="apple-touch-icon" href="/src/images/ico.png">
  <link rel="manifest" href="/src/js/manifest.json">
  <title>{{ meta.title }} | Typical Trips</title>
  <link rel="canonical" href="https://www.typicaltrips.com/{{ meta.url }}" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  {% if meta.description != "" %}
  <meta name="description" content="{{ meta.description }}">
  <meta property="og:locale" content="{{ meta.prefix }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ meta.title }} | Typical Trips" />
  <meta property="og:description" content="{{ meta.description }}" />
  <meta property="og:url" content="{{ meta.url }}" />
  <meta property="og:site_name" content="Typical Trips" />
  <meta property="article:section" content="Cusco" />
  <meta property="article:published_time" content="{{ meta.datepublish }}" />
  <meta property="article:modified_time" content="{{ meta.updatedate }}" />
  <meta property="og:updated_time" content="{{ meta.datepublish }}" />
  <meta property="og:image" content="{{ meta.img}}" />
  <meta property="og:image:secure_url" content="{{ meta.img}}" />
  <meta property="og:image:width" content="960" />
  <meta property="og:image:height" content="478" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="{{ meta.description }}" />
  <meta name="twitter:title" content="{{ meta.title }} | Typical Trips" />
  <meta name="twitter:image" content="{{ meta.img}}" />
  <meta name="theme-color" content="#018790"/>
  <meta name="google-site-verification" content="Ye3jK4FDGu4oaZh26cd-j_5f9Zx5kZJhHNwIFQvXbz8" />
   {% endif %}
  {% if noindex %}
  <meta name="robots" content="noindex, nofollow">
  {% else %}
  <meta name="robots" content="index, follow">
  {% endif %}
  
  <link rel="icon" href="/src/images/ico.png" sizes="32x32" />
  <link rel="icon" href="/src/images/ico.png"  sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="/src/images/ico.png"  />
  <link rel="stylesheet" href="/src/css/slider.css">
</head>
<body>
    <div class="load"></div>
    <script src="/src/js/jquery.js"></script>
    <div class="content_nav">
    </div>
    <div class="main">

    <div class="menssage_help">
    <div class="whatsapp">
      <div id="btn_help_send_message_whatsapp" data-href="https://api.whatsapp.com/send?phone=+51930703646&text=Hello,%20TypicalTrips">
        <i class=""><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="wh-messenger-svg-whatsapp wh-svg-icon"><path d=" M19.11 17.205c-.372 0-1.088 1.39-1.518 1.39a.63.63 0 0 1-.315-.1c-.802-.402-1.504-.817-2.163-1.447-.545-.516-1.146-1.29-1.46-1.963a.426.426 0 0 1-.073-.215c0-.33.99-.945.99-1.49 0-.143-.73-2.09-.832-2.335-.143-.372-.214-.487-.6-.487-.187 0-.36-.043-.53-.043-.302 0-.53.115-.746.315-.688.645-1.032 1.318-1.06 2.264v.114c-.015.99.472 1.977 1.017 2.78 1.23 1.82 2.506 3.41 4.554 4.34.616.287 2.035.888 2.722.888.817 0 2.15-.515 2.478-1.318.13-.33.244-.73.244-1.088 0-.058 0-.144-.03-.215-.1-.172-2.434-1.39-2.678-1.39zm-2.908 7.593c-1.747 0-3.48-.53-4.942-1.49L7.793 24.41l1.132-3.337a8.955 8.955 0 0 1-1.72-5.272c0-4.955 4.04-8.995 8.997-8.995S25.2 10.845 25.2 15.8c0 4.958-4.04 8.998-8.998 8.998zm0-19.798c-5.96 0-10.8 4.842-10.8 10.8 0 1.964.53 3.898 1.546 5.574L5 27.176l5.974-1.92a10.807 10.807 0 0 0 16.03-9.455c0-5.958-4.842-10.8-10.802-10.8z" fill-rule="evenodd"></path></svg></i>
      </div>
    </div>
  </div>
      {% include 'components/'~language.CodLang~'-nav.twig' %}

      {% block content %} {% endblock %}
    </div>
    {% include 'components/'~language.CodLang~'-footer.twig' %}

  <script src="/src/js/slider.js"></script>
  <script src="/src/js/lazy.js"></script> 
  <script src="/src/js/install.js"></script>
  <script src="/src/js/global.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141047195-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141047195-3');
</script>
  
</body>
</html>
