{% extends "template.twig" %}

{% block content %}
<!-- infomacion adicional de la compra del tour  -->
     
<div class="banner" style="background-image:url({{tour.Bannertourprincipal}});">
  <h2 class="bannertitletour">{{tour.MetaDescription}}</h2>
</div>
    

  <div class="tour_item">
    
    <div class="container">
      
      <div class="activity-top">
        
        <div class="item">
            <div class="breacrumbs-div">
              <ul class="breacrumbs">
                <li class=""> <img src="/src/images/home.svg" alt="home" class="breacrumbs-icon"> <a href="{{ language.CodLang }}/">Peru</a></li>
                <li class=""><a href="{{ language.CodLang }}/{{ category.UriCategory}}"><span>&nbsp;&nbsp;〉&nbsp;</span><img src="/src/images/pin.svg" alt="category" class="breacrumbs-icon">  {{ category.CategoryName}}</a></li>
                <li class=""> <a href="{{meta.url}}"><span>&nbsp;&nbsp;〉&nbsp;</span><img src="/src/images/etiqueta.svg" alt="tour" class="breacrumbs-icon"> {{ tour.TourTitle}}</a></li>
              </ul>
            </div>    
            
        </div>
        <div class="item">
          <div class="social-shaded">
            <a href="https://www.facebook.com/sharer.php?u=https://www.typicaltrips.com/{{ meta.url }}" target="_blank" >
              <div class="fb"></div>
            </a>
            <a href="https://twitter.com/home?status=leyendo%20https://www.typicaltrips.com/{{ meta.url }}" target="_blank" >
              <div class="tw"></div>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" >
              
              <div class="eml"></div>
            </a>
          </div>
        </div>
      </div>
      
      <div class="content-header-wper2">
        <div class="titlereserv">
          <div class="Table-meta">

          
          <h1>{{ tour.TourTitle}}</h1>
           <ul>
                <li class="icon-category-tickets">{{ data.bestprice }}</li>
                <li class="icon-category-tours">{{ data.localoperator }} </li>
                <li class="icon-credit-card">{{ data.payins }}</li>
                <li> <img src="/src/images/clockre.svg" alt="reloj" class="relojsvg"> {{ data.duration }} {{ tour.TourDurationInt }} {{ data.days }}(s)</li>
              </ul>
          <div class="reviews">
            <div class="starts" style="padding:3px">
             <span class="start full"></span>
             <span class="start full"></span>
             <span class="start full"></span>
             <span class="start full"></span>
             <span class="start half"></span>
             <span class="fronreviews">FROM 15 REVIEWS</span>
           </div>                    
           </div>
          </div>
           <div class="lantmenu">
            <a class="btnCajadetexto" href="/{{language.CodLang}}/{{category.UriCategory}}/{{tour.UriTour}}#Itinerario">{{data.Itinerary}} <svg fill="#1a2b49db" class="svgmenut" viewBox="0 0 24 24"  width="18px" height="18px" class="_2HBN-k68 _2JndpOur"><circle cx="14.001" cy="8.502" r="1"></circle><circle cx="14.001" cy="11.989" r="1"></circle><circle cx="14.001" cy="15.497" r="1"></circle><path d="M20 6.509v1.467a4.505 4.505 0 00-2.499 4.029A4.508 4.508 0 0020 16.033v1.457H4v-1.457a4.506 4.506 0 002.497-4.028A4.505 4.505 0 004 7.976V6.509h16m2-2H2v4.997a2.498 2.498 0 010 4.998v4.986h20v-4.986c-1.381 0-2.498-1.119-2.498-2.499S20.619 9.506 22 9.506V4.509z"></path></svg></a>
             <a class="btnCajadetexto" href="/{{language.CodLang}}/{{category.UriCategory}}/{{tour.UriTour}}#Incluye">{{data.Incluyed}} <svg fill="#1a2b49db" class="svgmenut" width="18px" height="18px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M383.841,171.838c-7.881-8.31-21.02-8.676-29.343-0.775L221.987,296.732l-63.204-64.893c-8.005-8.213-21.13-8.393-29.35-0.387c-8.213,7.998-8.386,21.137-0.388,29.35l77.492,79.561c4.061,4.172,9.458,6.275,14.869,6.275c5.134,0,10.268-1.896,14.288-5.694l147.373-139.762C391.383,193.294,391.735,180.155,383.841,171.838z"/></g></g><g><g><path d="M256,0C114.84,0,0,114.84,0,256s114.84,256,256,256s256-114.84,256-256S397.16,0,256,0z M256,470.487c-118.265,0-214.487-96.214-214.487-214.487c0-118.265,96.221-214.487,214.487-214.487c118.272,0,214.487,96.221,214.487,214.487C470.487,374.272,374.272,470.487,256,470.487z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg> </a>
             <a class="btnCajadetexto" href="/{{language.CodLang}}/{{category.UriCategory}}/{{tour.UriTour}}#llevar">{{data.Qllevar}} <svg fill="#1a2b49db" class="svgmenut" width="18px" height="18px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve"><g><g><path d="M361.054,297.151H150.946c-8.449,0-15.299,6.85-15.299,15.299v40.483c0,51.222,41.671,92.894,92.893,92.894h54.918c51.222,0,92.893-41.671,92.893-92.894v-40.483C376.352,304,369.503,297.151,361.054,297.151z M283.459,415.231h-54.918c-34.351,0-62.296-27.947-62.296-62.297v-25.185h179.51v25.185h0C345.755,387.284,317.81,415.231,283.459,415.231z"/></g></g><g><g><path d="M361.054,236.135H150.946c-8.449,0-15.299,6.85-15.299,15.299s6.85,15.299,15.299,15.299h210.107c8.449,0,15.299-6.85,15.299-15.299S369.503,236.135,361.054,236.135z"/></g></g><g><g><path d="M442.432,236.832v-19.633c0-23.213-4.276-45.443-12.063-65.958V41.072c0-20.367-16.569-36.936-36.937-36.936h-34.159c-20.368,0-36.937,16.569-36.937,36.936v1.902C301.715,35.097,279.355,30.767,256,30.767s-45.713,4.33-66.334,12.206v-1.902c0-20.367-16.569-36.936-36.936-36.936h-34.159c-20.367,0-36.936,16.569-36.936,36.936v110.158c-7.789,20.52-12.068,42.753-12.068,65.97v19.633C30.269,242.604,0,276.533,0,317.409v75.384c0,25.307,20.588,45.895,45.894,45.895h23.674v6.641c0,34.482,28.054,62.535,62.535,62.535h247.794c34.482,0,62.535-28.053,62.535-62.535v-6.641h23.674c25.307,0,45.894-20.588,45.894-45.895v-75.384C512,276.533,481.73,242.604,442.432,236.832z M69.568,408.09H45.894c-8.435,0-15.297-6.863-15.297-15.298v-75.384c0-23.951,16.642-44.088,38.971-49.453V408.09z M352.933,41.072c0-3.495,2.844-6.339,6.34-6.339h34.159c3.496,0,6.34,2.844,6.34,6.339v57.566c-13.218-16-29.052-29.763-46.838-40.632V41.072z M112.233,41.072c0-3.495,2.844-6.339,6.339-6.339h34.159c3.495,0,6.339,2.844,6.339,6.339v16.931c-17.785,10.869-33.618,24.63-46.836,40.629V41.072z M411.835,445.328L411.835,445.328c0,17.611-14.328,31.937-31.937,31.937H132.103c-17.611,0-31.937-14.327-31.937-31.937V217.199c0-85.927,69.908-155.835,155.835-155.835c64.634,0,120.199,39.556,143.771,95.729v0.033h0.013c7.757,18.497,12.05,38.793,12.05,60.074V445.328z M481.403,392.794c0,8.435-6.863,15.298-15.297,15.298h-23.674V267.956c22.329,5.366,38.971,25.502,38.971,49.453V392.794z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg> </a>
             <a class="btnCajadetexto" href="/{{language.CodLang}}/{{category.UriCategory}}/{{tour.UriTour}}#cancelation">{{data.Cancelacion}} <svg fill="#1a2b49db" class="svgmenut" width="18px" height="18px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 426.4 426.4" style="enable-background:new 0 0 426.4 426.4;" xml:space="preserve"><g><g><path d="M370.2,264.4c-12.2-8.3-28.2-8.3-40.5,0c-6-4.1-13-6.2-20.2-6.2c-20,0-36.1,16.2-36.1,36.1c0,19.9,16.1,36.2,36.1,36.2c7.2,0,14.2-2.1,20.2-6.2c16.5,11.2,39,6.8,50.2-9.7S386.7,275.6,370.2,264.4z M362.1,304.8c-5.7,6.8-15.8,7.7-22.6,2c-0.8-0.6-1.4-1.3-2.1-2.1c-1.9-2.3-4.8-3.6-7.7-3.5c-3,0-5.8,1.3-7.7,3.6c-3,3.7-7.6,5.9-12.4,5.8c-8.9,0-16.2-7.2-16.2-16.1c-0.1-9,7.1-16.2,16.1-16.2c4.8,0,9.4,2.2,12.4,5.9c3.5,4.3,9.8,5,14.1,1.5c0.5-0.4,1-0.9,1.5-1.5c5.7-6.8,15.8-7.7,22.6-2S367.8,298,362.1,304.8z"/></g></g><g><g><path d="M426,179.6c0-0.9,0.4-1.9,0.4-2.9s-0.4-1.9-0.4-2.8v-21.4c0-23.5-19.3-42.3-42.8-42.3H371V98.1c0-23.5-18.7-42.9-42.2-42.9H42.4C18.9,55.2,0,74.6,0,98.1v175.8c-0.1,23.3,18.8,42.2,42.1,42.3c0.1,0,0.2,0,0.3,0H54v12.1c0.1,23.6,19.1,42.8,42.7,42.9h286.5c23.6-0.2,42.7-19.3,42.8-42.9V226.5c0-0.9,0.4-1.9,0.4-2.8s-0.4-1.9-0.4-2.8V179.6z M54,152.5v143.7H42.4c-12.2,0.1-22.3-9.7-22.4-21.9c0-0.1,0-0.2,0-0.3V98.1c0-12.4,9.9-22.9,22.4-22.9h286.5c12.5,0,22.2,10.5,22.2,22.9v12.1H96.7C73.2,110.2,54,129,54,152.5z M406,328.3c-0.1,12.6-10.2,22.8-22.8,22.9H96.7C84.1,351.1,74,340.9,74,328.3v-95.1h332V328.3z M406,213.2H74v-26h332V213.2z M406.1,167.2H406H74v-14.7c0.1-12.4,10.2-22.4,22.7-22.3h0.1h286.5c12.5,0,22.8,9.8,22.8,22.3V167.2z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg> </a>
             <a class="btnCajadetexto" href="/{{language.CodLang}}/{{category.UriCategory}}/{{tour.UriTour}}#faq">{{data.faqi}} <svg fill="#1a2b49db" class="svgmenut" viewBox="0 0 24 24" width="18px" height="18px" class="_2HBN-k68 _2JndpOur"><path d="M2 21.257h2.118l3.271-3h10.604l.02-11.513H2v14.513zM4 8.744h12.009l-.013 7.512H6.61L4 18.65V8.744z"></path><path d="M7.004 2.743v2h12.995v8.512H22V2.743z"></path></svg></a>
           </div>
           <div class="Table-meta">
            <div class="details-table-highlights">   
              <div class="titletablemta">                              
          <strong class="title_content"><svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25px" height="20px" x="0" y="0" viewBox="0 0 363.2 363.2" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" style="" d="M83,7.2C62.6,7.2,45.8,24,45.8,44.4V318c0,20.4,16.8,37.2,37.2,37.2h197.2 c20.4,0,37.2-16.8,37.2-37.2V83.6L249.8,7.2H83z" fill="#f4f4f4" data-original="#f4f4f4" class=""/><polygon xmlns="http://www.w3.org/2000/svg" style="" points="249.8,83.6 317.4,83.6 249.8,7.2 " fill="#144775" data-original="#c6c6c6" class=""/><g xmlns="http://www.w3.org/2000/svg"><path style="" d="M323.8,80c-0.4-0.4-0.4-0.8-0.8-1.2L255,2.4l0,0c-0.4-0.4-1.2-0.8-1.6-1.2c-0.4,0-0.4-0.4-0.8-0.4 c-0.8-0.4-2-0.8-2.8-0.8H83C58.2,0,38.2,20,38.2,44.8v273.6c0,24.8,20,44.8,44.8,44.8h197.2c24.8,0,44.8-20,44.8-44.8V83.6 c0-0.8-0.4-2-0.4-2.8C324.2,80.4,324.2,80,323.8,80z M257,26.8L301,76h-44V26.8z M310.2,318c0,16.4-13.2,29.6-29.6,29.6H83 c-16.4,0-29.6-13.2-29.6-29.6V44.4C53.4,28,66.6,14.8,83,14.8h159.2v68.8c0,4,3.2,7.6,7.6,7.6h60.4V318z" fill="#0d2f4e" data-original="#191919" class=""/><path style="" d="M157.8,76h-66c-4,0-7.6,3.2-7.6,7.6s3.2,7.6,7.6,7.6h66c4,0,7.6-3.2,7.6-7.6S161.8,76,157.8,76z" fill="#0d2f4e" data-original="#191919" class=""/><path style="" d="M157.8,272h-66c-4,0-7.6,3.2-7.6,7.6c0,4,3.2,7.6,7.6,7.6h66c4,0,7.6-3.2,7.6-7.6 C165,275.6,161.8,272,157.8,272z" fill="#0d2f4e" data-original="#191919" class=""/><path style="" d="M268.2,125.6h-176c-4,0-7.6,3.2-7.6,7.6c0,4,3.2,7.6,7.6,7.6h176c4,0,7.6-3.2,7.6-7.6 C275.4,129.2,272.2,125.6,268.2,125.6z" fill="#0d2f4e" data-original="#191919" class=""/><path style="" d="M268.2,162.4h-176c-4,0-7.6,3.2-7.6,7.6c0,4,3.2,7.6,7.6,7.6h176c4,0,7.6-3.2,7.6-7.6 C275.4,166,272.2,162.4,268.2,162.4z" fill="#0d2f4e" data-original="#191919" class=""/><path style="" d="M268.2,199.2h-176c-4,0-7.6,3.2-7.6,7.6c0,4,3.2,7.6,7.6,7.6h176c4,0,7.6-3.2,7.6-7.6 C275.4,202.8,272.2,199.2,268.2,199.2z" fill="#0d2f4e" data-original="#191919" class=""/><path style="" d="M268.2,236h-176c-4,0-7.6,3.2-7.6,7.6c0,4,3.2,7.6,7.6,7.6h176c4,0,7.6-3.2,7.6-7.6 C275.4,239.6,272.2,236,268.2,236z" fill="#0d2f4e" data-original="#191919" class=""/></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g></g></svg>{{data.TtileDescription}}</strong>
        </div>   
        <div class="ptablemeta">
          {{ higth.Description | raw }}
        </div> 
        </div>
    </div>
        </div>    
     
          
        
        <div id="box-reserv">
          <div class="reserva20">
           <span>Reservalo con tan solo el 15%</span> 
          </div>
          <div id="reservas-tour">

            
            <div class="reserv-header">             
              <div class="duration">                   
                   <dl></dl>
                   <dd></dd>
              </div>
              <div class="price">
                   <dl>{{ data.from }}</dl>
                   <pc>{{ pricetour.PriceMount }},00 <mc>USD$</mc> </pc>
                   
              </div>
              <span>For person</span>
           </div>             
           <div class="reserv-body">
            <div class="segure_pay">
             <span class="div_pay"> <img src="/src/images/padlock.svg" alt="candadoseguro"><b class="text-green-linght">{{data.compra}}</b> </span>
            </div>
            <div class="imgpagos"><img src="https://www.howlanders.com/assets/img/payment.png" alt=""></div>
           
          </div>
           <div class="h2booking">
              <span>{{data.availableview }}</span>
           </div>
           <div class="terminospago">
            <a href="" >Términos y condiciones de Reserva</a>
          
           </div>
          
           

          </div>
        </div>
      
       </div>
       
      <div class="content-header-wper">
        <div class="slider-tour tag_bg tag_bg_{{tour.TourStyle}}">
          <div class="swiper-container activity-header">
            <div class="swiper-wrapper">
              {% for slide in slider %}
              <div class="swiper-slide " >
                <img  data-src="{{slide.UrlImage}}" alt="{{ tour.TourTitle}}"  class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              {% endfor %}
            </div>
            <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
        </div>

      </div>


      <div class="tour-conten-details">
        
          <div class="box-details">

            <!-- Biking data for carrito  -->
          
          
            <div class="Table-meta">
              <div class="div-highlights">
               
                <iframe class="googlemaps-i" src="{{ tour.TourMap }}"  frameborder="0"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                
               
              </div>
            </div>

         

            <div class="Table-meta">
              <div class="details-table-highlights">
              
              <div class="titletablemta">
                <strong class="title_content"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="30px" height="25px" x="0" y="0" viewBox="0 0 64 64" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg" id="Travel"><path d="M32,60a27.916,27.916,0,0,1-11.909-2.677l4.687-4.687c.229-.229.441-.469.647-.713A20.983,20.983,0,1,0,11.011,31.579l-6.888,2.87C4.05,33.641,4,32.825,4,32A28.032,28.032,0,0,1,32,4V2A30.034,30.034,0,0,0,2,32a29.025,29.025,0,0,0,.213,3.4A.989.989,0,0,0,2,36v8.858a10.927,10.927,0,0,0,3.222,7.778l9.071,9.071a1,1,0,0,0,1.414,0L18.6,58.815A29.959,29.959,0,0,0,62,32H60A28.032,28.032,0,0,1,32,60Zm0-47c2.242,0,4.57,2.583,6.134,6.962a18.643,18.643,0,0,1-12.268,0C27.43,15.583,29.758,13,32,13Zm-7.977,6.227A19.014,19.014,0,0,1,20.375,17a19,19,0,0,1,6.694-3.341A17.963,17.963,0,0,0,24.023,19.227Zm12.908-5.568A19,19,0,0,1,43.625,17a19.014,19.014,0,0,1-3.648,2.227A17.963,17.963,0,0,0,36.931,13.659ZM32,23a20.93,20.93,0,0,0,6.731-1.131A37.8,37.8,0,0,1,39.977,31H24.023a37.8,37.8,0,0,1,1.246-9.131A20.93,20.93,0,0,0,32,23ZM24.039,33.683c-.01-.223-.019-.448-.025-.683H39.977a37.8,37.8,0,0,1-1.246,9.131A20.93,20.93,0,0,0,32,41a21.21,21.21,0,0,0-4,.383V36a1,1,0,0,0-.615-.923ZM32,51c-1.518,0-3.064-1.168-4.387-3.278A11.022,11.022,0,0,0,28,44.858V43.431A19.137,19.137,0,0,1,32,43a18.94,18.94,0,0,1,6.134,1.038C36.57,48.417,34.242,51,32,51Zm7.977-6.227A18.932,18.932,0,0,1,43.622,47a18.943,18.943,0,0,1-6.678,3.327A17.979,17.979,0,0,0,39.977,44.773ZM26.748,49.958c.1.127.2.265.3.384-.147-.039-.291-.094-.437-.137C26.656,50.122,26.7,50.041,26.748,49.958Zm18.414-4.287a21.013,21.013,0,0,0-4.573-2.81A39.693,39.693,0,0,0,41.977,33h8.972A18.926,18.926,0,0,1,45.162,45.671ZM50.946,31H41.977a39.693,39.693,0,0,0-1.388-9.861,20.97,20.97,0,0,0,4.566-2.8A18.945,18.945,0,0,1,50.946,31Zm-32.1-12.666a20.97,20.97,0,0,0,4.566,2.805A40.248,40.248,0,0,0,22,32c0,.293.007.563.012.838l-6.627-2.761a1.007,1.007,0,0,0-.77,0l-1.546.645A18.947,18.947,0,0,1,18.845,18.334ZM15,59.586,6.636,51.222A8.941,8.941,0,0,1,4,44.858V36.667l11-4.584,11,4.584v8.191a8.941,8.941,0,0,1-2.636,6.364Z" fill="#134471" data-original="#000000" style="" class=""/><path d="M46,9.243v5.242a1,1,0,0,0,1.707.707l2.122-2.121L52.3,15.546,51.667,20a1,1,0,0,0,.542,1.037,1.014,1.014,0,0,0,.447.105,1,1,0,0,0,.708-.293l8.485-8.485a1,1,0,0,0-.849-1.7l-4.454.636L54.071,8.829l2.121-2.122A1,1,0,0,0,55.485,5H50.243L49.122,3.879a3.073,3.073,0,0,0-4.243,0,3,3,0,0,0,0,4.243Zm.293-3.95a1.023,1.023,0,0,1,1.414,0l1.415,1.414A1,1,0,0,0,49.829,7h3.242L51.95,8.122a1,1,0,0,0,0,1.414l3.535,3.535a1,1,0,0,0,.849.283l1.979-.283-4.242,4.242.283-1.979a1,1,0,0,0-.283-.849L50.536,10.95a1,1,0,0,0-1.414,0L48,12.071V8.829a1,1,0,0,0-.293-.707L46.293,6.707a1,1,0,0,1,0-1.414Z" fill="#134471" data-original="#000000" style="" class=""/><rect x="36.036" y="2.44" width="2" height="2" transform="translate(27.228 39.319) rotate(-80.018)" fill="#134471" data-original="#000000" style="" class=""/><rect x="40.919" y="3.749" width="2" height="1.999" transform="translate(23.115 42.513) rotate(-69.994)" fill="#134471" data-original="#000000" style="" class=""/><rect x="58.251" y="21.082" width="2" height="1.999" transform="translate(-3.979 21.589) rotate(-19.993)" fill="#134471" data-original="#000000" style="" class=""/><rect x="59.56" y="25.964" width="2" height="2" transform="translate(-3.757 10.906) rotate(-9.982)" fill="#134471" data-original="#000000" style="" class=""/><path d="M12.878,43.464l-1.414,1.414,2.829,2.829a1,1,0,0,0,1.414,0l5.657-5.657L19.95,40.636,15,45.586Z" fill="#134471" data-original="#000000" style="" class=""/><path d="M25,38a1,1,0,0,0-.615-.923l-9-3.75a1.007,1.007,0,0,0-.77,0l-9,3.75A1,1,0,0,0,5,38v6.858a7.954,7.954,0,0,0,2.342,5.657h0l6.95,6.949a1,1,0,0,0,1.414,0l6.951-6.949A7.954,7.954,0,0,0,25,44.858Zm-2,6.858A5.965,5.965,0,0,1,21.243,49.1L15,55.343,8.757,49.1A5.966,5.966,0,0,1,7,44.858V38.667l8-3.334,8,3.334Z" fill="#134471" data-original="#000000" style="" class=""/></g></g></svg>{{data.Saf}} </strong>
              </div>
             <div class="ptablemeta">
              <p>{{data.Safp}}</p>
             </div>            
            </div>
            </div>
            
            <!-- Itinerary Content -->
            <div id="itinerary">
                  <div class="div-itinerary-title">
                    <h3 id="Itinerario" ><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="30" height="30" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><g><path d="m102.788 96.001h208.793v295.123h-208.793z" fill="#ffffff" data-original="#ffffff" style="" class=""/><path d="m131.063 120.877h208.793v295.123h-208.793z" fill="#ffffff" data-original="#ffffff" style="" class=""/><path d="m405.133 286.053c-5.438 5.438-14.254 5.438-19.691 0l-64.446-64.446 19.691-19.691 64.446 64.446c5.438 5.437 5.438 14.254 0 19.691z" fill="#134471" data-original="#ced1e0" style="" class=""/><path d="m389.996 273.129-60.261-60.261-8.739 8.739 64.446 64.446c5.438 5.438 14.254 5.438 19.691 0 3.344-3.344 4.623-7.964 3.854-12.292-5.469 4.782-13.778 4.581-18.991-.632z" fill="#a3a8b7" data-original="#a3a8b7" style="" class=""/><ellipse cx="294.347" cy="175.268" fill="#134471" rx="79.268" ry="79.268" transform="matrix(.707 -.707 .707 .707 -37.721 259.469)" data-original="#ced1e0" style="" class=""/><path d="m350.397 217.905c-30.956 30.956-81.146 30.956-112.102 0-13.771-13.77-21.399-31.348-22.918-49.344-1.896 22.459 5.733 45.572 22.918 62.757 30.956 30.956 81.146 30.956 112.102 0 17.186-17.186 24.814-40.298 22.918-62.757-1.518 17.996-9.147 35.574-22.918 49.344z" fill="#a3a8b7" data-original="#a3a8b7" style="" class=""/><ellipse cx="294.347" cy="175.268" fill="#278eed" rx="55.788" ry="55.788" transform="matrix(.707 -.707 .707 .707 -37.721 259.469)" data-original="#defcff" style="" class=""/><path d="m254.898 151.361c21.787-21.787 57.11-21.787 78.896 0 8.912 8.912 14.173 20.089 15.794 31.677 2.342-16.742-2.919-34.344-15.794-47.219-21.787-21.787-57.11-21.787-78.896 0-12.875 12.875-18.136 30.477-15.794 47.219 1.622-11.588 6.883-22.765 15.794-31.677z" fill="#ffffff" data-original="#ffffff" style="" class=""/></g><g fill="#17171d"><path d="m164.823 281.643h70.933c2.209 0 4-1.791 4-4s-1.791-4-4-4h-70.933c-2.209 0-4 1.791-4 4s1.791 4 4 4z" fill="#134471" data-original="#17171d" style="" class=""/><path d="m306.688 298.647h-141.865c-2.209 0-4 1.791-4 4s1.791 4 4 4h141.864c2.209 0 4-1.791 4-4 .001-2.209-1.79-4-3.999-4z" fill="#134471" data-original="#17171d" style="" class=""/><path d="m164.823 332.561h73.735c2.209 0 4-1.791 4-4s-1.791-4-4-4h-73.735c-2.209 0-4 1.791-4 4s1.791 4 4 4z" fill="#134471" data-original="#17171d" style="" class=""/><path d="m238.559 373.927h-73.735c-2.209 0-4 1.791-4 4s1.791 4 4 4h73.735c2.209 0 4-1.791 4-4s-1.791-4-4-4z" fill="#134471" data-original="#17171d" style="" class=""/><path d="m306.688 349.706h-141.865c-2.209 0-4 1.791-4 4s1.791 4 4 4h141.864c2.209 0 4-1.791 4-4 .001-2.209-1.79-4-3.999-4z" fill="#134471" data-original="#17171d" style="" class=""/><path d="m407.961 263.533-43.449-43.45c20.578-32.207 16.829-75.581-11.286-103.695-10.853-10.854-23.986-18.059-37.869-21.655-.533-1.583-2.012-2.731-3.775-2.731h-208.794c-2.209 0-4 1.791-4 4v295.123c0 2.209 1.791 4 4 4h24.274v20.875c0 2.209 1.791 4 4 4h208.793c2.209 0 4-1.791 4-4v-165.876l38.759 38.758c3.494 3.494 8.083 5.241 12.674 5.241 4.589 0 9.18-1.747 12.673-5.241 3.386-3.385 5.251-7.886 5.251-12.674 0-4.789-1.865-9.29-5.251-12.675zm-60.392-35.043c-29.348 29.348-77.098 29.348-106.445 0-29.347-29.347-29.347-77.098 0-106.444 14.674-14.674 33.948-22.01 53.223-22.01 19.274 0 38.549 7.336 53.223 22.01 29.346 29.346 29.346 77.097-.001 106.444zm-136.361-49.451h-49.537v-20.993h51.254c-1.45 6.909-2.033 13.965-1.717 20.993zm-104.42 208.086v-287.123h151.958c-8.426 3.975-16.322 9.43-23.279 16.387-.16.16-.307.328-.465.489h-103.94c-2.209 0-4 1.791-4 4v266.247zm28.275 24.875v-287.123h93.016c-5.885 7.729-10.235 16.254-13.053 25.168h-57.355c-2.209 0-4 1.791-4 4v28.993c0 2.209 1.791 4 4 4h54.28c2.442 17.247 10.279 33.871 23.517 47.108 6.042 6.042 12.79 10.955 19.98 14.748h-90.625c-2.209 0-4 1.791-4 4s1.791 4 4 4h112.342c.212 0 .416-.031.62-.063 5.461 1.1 11.011 1.664 16.562 1.664 14.356 0 28.706-3.696 41.509-11.055v164.56zm267.242-128.775c-3.87 3.87-10.166 3.868-14.034 0l-42.494-42.494c2.578-2.028 5.074-4.208 7.449-6.584 2.376-2.376 4.557-4.873 6.585-7.451l42.494 42.494c1.875 1.875 2.907 4.366 2.907 7.017s-1.032 5.143-2.907 7.018z" fill="#134471" data-original="#17171d" style="" class=""/><path d="m252.07 132.991c-23.311 23.311-23.311 61.242 0 84.554 11.655 11.655 26.966 17.483 42.276 17.483s30.621-5.828 42.276-17.483c23.312-23.312 23.312-61.242 0-84.554-23.309-23.311-61.241-23.311-84.552 0zm78.897 78.896c-20.193 20.192-53.049 20.191-73.24 0-20.191-20.192-20.191-53.047 0-73.239 10.097-10.096 23.358-15.144 36.62-15.144s26.523 5.048 36.62 15.144c20.191 20.192 20.191 53.047 0 73.239z" fill="#134471" data-original="#17171d" style="" class=""/><path d="m263.666 159.163-2.803 2.785c-1.405 1.395-.844 3.782 1.035 4.406l20.662 6.857c1.879.623 2.44 3.01 1.035 4.406l-5.324 5.289c-.337.335-.757.573-1.217.69l-14.876 3.788c-.924.235-1.651.948-1.905 1.867l-.285 1.03c-.426 1.542.598 3.108 2.182 3.337l8.786 1.266c.571.082 1.099.348 1.506.757l1.561 1.571 1.56 1.57c.406.409.669.939.747 1.511l1.207 8.794c.218 1.585 1.777 2.62 3.322 2.204l1.031-.278c.921-.248 1.638-.97 1.879-1.892l3.887-14.847c.12-.459.361-.877.698-1.212l5.412-5.376c1.405-1.395 3.788-.819 4.399 1.065l6.801 20.962c.611 1.883 2.994 2.46 4.399 1.065l2.803-2.785c.52-.516.803-1.224.783-1.956l-.951-35.288c-.02-.732.264-1.44.783-1.956l5.023-4.882c8.054-8.001 9.233-13.687 6.448-16.491s-8.479-1.663-16.533 6.337l-5.182 5.04c-.52.516-1.229.795-1.961.77l-34.95-1.176c-.733-.023-1.443.255-1.962.772z" fill="#134471" data-original="#17171d" style="" class=""/></g></g></g></svg>{{ data.itinerary }}</h3>
                  </div>
                  <div class="itinerary-details">
                    
                      <ol class="del">
                       {% for iter in itinerary %}
                        <li class="{% if iter[0].ItineraryDay == 1 %}active{%endif%}"><h2>{{ data.day }} {{ iter[0].ItineraryDay}} {{ iter[0].RutaDay}}</h2>
                        <span class="icon icon-chevron-down"></span>
                        <div class="i">
                          {% for iterday in iter[1] %}
                          <div class="description-div">
                         
                            <div class="description-subdiv">
                            <div class="description-content">{{ iterday.DescriptionItem | raw }}</div></div>                    
                            
                            
                          </div>
                          {% endfor %}
                        </div>
                         </li>
                        {% endfor %}
                      </ol>
                  </div>
            </div>

        

          </div>

      </div>
     

      
      <div id="included">
        <div class="BarrainferiorBox">

          <div class="Indeta">
            
              <div class="box">
                <h3 id="Incluye">{{ data.included}} {{tour.TourTitle}} </h3>
              </div>
              <div class="">
                <ol>
                  {% for include in includes %}
                  
                  <li>
                    <img src="/src/images/check.svg" alt="incluye" class="icon-check">
                    {{ include.Title}}                  
                    <div >
                 
                      {%for adetail in detail %}
                        {% endfor %}
                    </div>
                  </li>
                  {% endfor %}
                </ol>
                {% for noinclude in noincludes %}
                <ol>
                <li>
                  <img src="/src/images/x.svg" alt="incluye" class="icon-check">
                  {{ noinclude.Title}}                
                
                </li>
              </ol>
                {% endfor %}
              </div>

          </div> 


          <div class="LLevinde">
            <div>
              <div class="box-included">
                <h3 id="llevar">{{ data.noincluded}} {{tour.TourTitle}} </h3>
              </div>
              <div class="Moretour">
                <p>{{tour.Llevartour}}</p>  
                  <ul>
                    <li>
                      {{tour.Llevarto}}
                    </li>
                    <li>
                      {{tour.Llevarto2}}
                    </li>
                    <li>
                      {{tour.Llevarto3}}
                    </li>
                  </ul>
                </div>
                <div>
                  <div class="box-included">
                    <h3 id="cancelation">{{data.Canp}}</h3>  
                    </div>
                   <div class="Moretour">
                      <p>{{tour.politicas}}</p>
                   </div>
                </div>
            </div>  
        
        
          </div>
        
        </div>
        
       
     
    
      
       
           <div class="">
             <h2 id="faq">{{data.titlefaq}} {{tour.TourTitle}} </h2>
            <div class="no-included-details">
              <ol>
                {% for tfaq in faq %}
                <li>
                  <h3 id="faq">{{ tfaq.Title}}</h3>
                  
                  <span class="icon icon-chevron-down"></span>
                  <div class="i">
                   {% set tofaq = tfaq.Details|split(';') %}
                   {%for adetail in tofaq %}

                      <div> {{ adetail | raw}}</div>
                    {% endfor %}
                  </div>
                </li>
                {% endfor %}
              </ol>
            </div>
           </div>
       
    </div>
      <div>
        <h2>{{data.Destinosmas}}</h2>
      </div>
      
  <div class="catergorys-index">
    
    <div class="items" >         
     
      
      <div class="item">
       <a href="{{ language.CodLang }}/{{category[0].UriCategory}}/{{ tour[1].UriTour }}">                     
        <div class="img" style="background-image: url(https://i.postimg.cc/3RZZngKN/machupicchu-per.jpg);" title="{{tour[1].TourTitle}}">                      
          <span class="subimg">
            {{data.subimg}}
        </span>
        </div>
        <div class="Desitns">
          <span class="desitntex">
            {{data.desitntex}}
          </span>
        </div>
        <div class="description" style="background-color: white;position: relative;">
          
      <div class="details">
          <div class="duration">
            <div class="rcotn">
              <div class="titletourin"><h2>Machu Picchu By Car </h2></div>   
             
            </div>
            
            <div class="describiciontourin"> 
             
              <div class="tourdestinoin"><img class="icondescripcion" src="/src/images/pin.svg" alt="Icond"> <span class="titlesdescribci" >santa teresa , Hidroelectrica , Aguas Calientes , Machu Picchu </span></div>
              
              <div class="durationtourin"><img class="icondescripcion" src="/src/images/clock.svg" alt="Icond"> <span class="titlesdescribci">{{data.duracion}}2{{data.dias}}</span>  </div>
             </div>

             <!----
           <div class="describciontour">
             <span>{{tour[1].MetaDescription}}</span>
            </div> -->
         
          </div>

          <div class="footeritems">
            <div class="reviews">
              <div class="starts" >
               <span class="start full"></span>
               <span class="start full"></span>
               <span class="start full"></span>
               <span class="start full"></span>
               <span class="start full"></span>
               <span class="fronreviews">5</span>
             </div> 
             <span class="reviers">15 REVIEWS</span>                   
             </div>
            <div class="PriceDs">
              
              <p>{{data.Price_de}}
              </p>
              <div class="curationtourprice"> 
                <p>
                  170 US$ 
                </p>
                
              </div> 
              <p>      {{data.Price_For}}
              </p>
            </div>                  
          </div>

        </div>                 
      </div>
      </a>                
      </div>
      
      <div class="item">
        <a href="{{ language.CodLang }}/{{category[0].UriCategory}}/{{ tour[1].UriTour }}">                     
         <div class="img" style="background-image: url(https://i.postimg.cc/W4hKd96j/laguna-humantay.jpg);" title="{{tour[1].TourTitle}}">                      
           <span class="subimg">
             {{data.subimg}}
         </span>
         </div>
         <div class="Desitns">
           <span class="desitntex">
             {{data.desitntex}}
           </span>
         </div>
         <div class="description" style="background-color: white;position: relative;">
           
       <div class="details">
           <div class="duration">
             <div class="rcotn">
               <div class="titletourin"><h2>Humantay lake</h2></div>   
              
             </div>
             
             <div class="describiciontourin"> 
              
               <div class="tourdestinoin"><img class="icondescripcion" src="/src/images/pin.svg" alt="Icond"> <span class="titlesdescribci" >Chequerec, Maras, Moray, Salineras ,Cusco </span></div>
               
               <div class="durationtourin"><img class="icondescripcion" src="/src/images/clock.svg" alt="Icond"> <span class="titlesdescribci"> {{data.duration}} 1 {{data.dias}} </span>  </div>
              </div>

              <!----
            <div class="describciontour">
              <span>{{tour[1].MetaDescription}}</span>
             </div> -->
          
           </div>

           <div class="footeritems">
             <div class="reviews">
               <div class="starts" >
                <span class="start full"></span>
                <span class="start full"></span>
                <span class="start full"></span>
                <span class="start full"></span>
                <span class="start half"></span>
                <span class="fronreviews">4.5</span>
              </div> 
              <span class="reviers">15 REVIEWS</span>                   
              </div>
             <div class="PriceDs">
               
               <p>{{data.Price_de}}
               </p>
               <div class="curationtourprice"> 
                 <p>
                  40 US$ 
                 </p>
                 
               </div> 
               <p>    {{data.Price_For}}
               </p>
             </div>                  
           </div>

         </div>
                          
       </div>
       </a>                
       </div>
      
       <div class="item">
        <a href="{{ language.CodLang }}/{{category[0].UriCategory}}/{{ tour[1].UriTour }}">                     
         <div class="img" style="background-image: url(https://i.postimg.cc/d1BMMHRK/Salkantay-Trek.jpg);" title="{{tour[1].TourTitle}}">                      
           <span class="subimg">
             {{data.subimg}}
         </span>
         </div>
         <div class="Desitns">
           <span class="desitntex">
             {{data.desitntex}}
           </span>
         </div>
         <div class="description" style="background-color: white;position: relative;">
           
       <div class="details">
           <div class="duration">
             <div class="rcotn">
               <div class="titletourin"><h2>Salkantay Trek 4 days</h2></div>   
              
             </div>
             
             <div class="describiciontourin"> 
              
               <div class="tourdestinoin"><img class="icondescripcion" src="/src/images/pin.svg" alt="Icond"> <span class="titlesdescribci" >Mollepata,Huayracmachay , Playa Sahuayaco , Hidroelectrica ,Machu Picchu</span></div>
               
               <div class="durationtourin"><img class="icondescripcion" src="/src/images/clock.svg" alt="Icond"> <span class="titlesdescribci">{{data.duration}} 4 {{data.dias}}</span>  </div>
              </div>

              <!----
            <div class="describciontour">
              <span>{{tour[1].MetaDescription}}</span>
             </div> -->
          
           </div>

           <div class="footeritems">
             <div class="reviews">
               <div class="starts" >
                <span class="start full"></span>
                <span class="start full"></span>
                <span class="start full"></span>
                <span class="start full"></span>
                <span class="start half"></span>
                <span class="fronreviews">4.5</span>
              </div> 
              <span class="reviers">15 REVIEWS</span>                   
              </div>
             <div class="PriceDs">
               
               <p>{{data.Price_de}}
               </p>
               <div class="curationtourprice"> 
                 <p>
                  330 US$ 
                 </p>
                 
               </div> 
               <p>      {{data.Price_For}}
               </p>
             </div>                  
           </div>

         </div>                 
       </div>
       </a>    
                   
       </div>
     
       <div class="item">
        <a href="{{ language.CodLang }}/{{category[0].UriCategory}}/{{ tour[1].UriTour }}">                     
         <div class="img" style="background-image: url(https://i.postimg.cc/ryPVz7kn/inca-trail-01.jpg);" title="{{tour[1].TourTitle}}">                      
           <span class="subimg">
             {{data.subimg}}
         </span>
         </div>
         <div class="Desitns">
           <span class="desitntex">
             {{data.desitntex}}
           </span>
         </div>
         <div class="description" style="background-color: white;position: relative;">
           
       <div class="details">
           <div class="duration">
             <div class="rcotn">
               <div class="titletourin"><h2>Inca Trail Classic</h2></div>   
              
             </div>
             
             <div class="describiciontourin"> 
              
               <div class="tourdestinoin"><img class="icondescripcion" src="/src/images/pin.svg" alt="Icond"> <span class="titlesdescribci" >   Wayllabamba, Urubamba , Picaymayo , Wiñaywayna , Machu Picchu</span></div>
               
               <div class="durationtourin"><img class="icondescripcion" src="/src/images/clock.svg" alt="Icond"> <span class="titlesdescribci">{{data.duration}} 4 {{data.dias}}</span>  </div>
              </div>

              <!----
            <div class="describciontour">
              <span>{{tour[1].MetaDescription}}</span>
             </div> -->
          
           </div>

           <div class="footeritems">
             <div class="reviews">
               <div class="starts" >
                <span class="start full"></span>
                <span class="start full"></span>
                <span class="start full"></span>
                <span class="start full"></span>
                <span class="start half"></span>
                <span class="fronreviews">4.5</span>
              </div> 
              <span class="reviers">15 REVIEWS</span>                   
              </div>
             <div class="PriceDs">
               
               <p>{{data.Price_de}}
               </p>
               <div class="curationtourprice"> 
                 <p>
                  680 US$ 
                 </p>
                 
               </div> 
               <p>    {{data.Price_For}}
               </p>
             </div>                  
           </div>

         </div>                 
       </div>
       </a>                
       </div>
    </div>
    
  </div>




         
 
    </div> 
  </div>


<script src="/src/js/main.js"></script>

<script type="application/ld+json">
[{"@context":"http:\/\/schema.org","@type":"FAQPage","mainEntity":[{"@type":"Question","name":"Do I need a visa for this tour? ","suggestedAnswer":{"@type":"Answer","text":"Visa requirements are always changing so it is best to contact your local embassy or consulate for the most up-to-date information."},"acceptedAnswer":{"@type":"Answer","text":"Visa requirements are always changing so it is best to contact your local embassy or consulate for the most up-to-date information."}},{"@type":"Question","name":"Is travel insurance recommended? ","suggestedAnswer":{"@type":"Answer","text":"Travel insurance is highly recommended. TourRadar has partnered with World Nomads to ensure you are adequately covered whilst travelling. For more information please contact our Travel Experts."},"acceptedAnswer":{"@type":"Answer","text":"Travel insurance is highly recommended. TourRadar has partnered with World Nomads to ensure you are adequately covered whilst travelling. For more information please contact our Travel Experts."}},{"@type":"Question","name":"Is there a guide?","suggestedAnswer":{"@type":"Answer","text":"A guide will accompany you on the tour."},"acceptedAnswer":{"@type":"Answer","text":"A guide will accompany you on the tour."}},{"@type":"Question","name":"Is transport included?","suggestedAnswer":{"@type":"Answer","text":"Transport is included on this tour."},"acceptedAnswer":{"@type":"Answer","text":"Transport is included on this tour."}}]},{"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"\/d\/Machupicchu","name":"Machupicchu"}},{"@type":"ListItem","position":3,"item":{"@id":"\/i\/Machupicchu-overland-truck","name":"Overland Truck"}}]}]
</script>

<script type="application/ld+json">
{"@context": "http:\/\/schema.org","@type": "BreadcrumbList","itemListElement":[{"@type": "ListItem","position": 1,"item":{"@id": "\/{{ language.CodLang }}\/","name": "Excursion"}},{"@type": "ListItem","position": 2,"item":{"@id": "\/{{ language.CodLang }}\/{{ category.UriCategory}}","name": "{{ category.CategoryName}}" }},{"@type": "ListItem","position": 3,"item":{"@id": "\/{{ language.CodLang }}\/{{ category.UriCategory}}\/{{ tour.UriTour}}","name": "{{ tour.TourTitle}}"}}]}
</script>

<script type="application/ld+json">
{"@context": "http:\/\/schema.org","@type": "Product","aggregateRating": {"@type": "AggregateRating","ratingValue": "4.8","reviewCount": "11"},"description": "{{ tour.MetaTitle}}", "name": "{{ tour.MetaDescription}}","image": "{{ tour.TourBannerImg}}","offers": {"@type": "Offer","availability": "http://schema.org/InStock","price": "00.00","priceCurrency": "USD","url": "\/{{ language.CodLang }}\/{{ category.UriCategory}}\/{{ tour.UriTour}}"}}
</script>

{% endblock %}
 