/***** ESTILOS DEL CALENDARIO FECHAS *****/
.calendarT {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  border: 1px solid #ccc;
  height: auto;
  text-align: center; }

.calendarT calendar-month {
  width: 100%;
  height: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr; }

.calendarT calendar-month div {
  height: 100%;
  background: #2793db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.calendarT calendar-month a {
  color: #fff;
  background: #3a4848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer; }

.calendarT calendar-head {
  width: 100%;
  padding: 5px 0;
  color: #60696d;
  font-weight: bold;
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #ccc; }

.calendarT day-row {
  width: 100%;
  color: #4a5a5a;
  font-weight: bold;
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ccc; }

.calendarT day-row:last-child {
  border-bottom: 0px solid #ccc; }

.calendarT day-item {
  border-right: 1px solid #ccc;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  font-weight: normal; }

.calendarT day-item:last-child {
  border-right: 0px solid #ccc; }

.calendarT day-item:hover {
  background: #2793db;
  color: #fff; }

.calendarT .hoy {
  background: #2793db;
  color: #fff;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }

.calendarT #hoverEnabled {
  background: #fff !important; }

.calendarT #block {
  background: #fff !important;
  color: #ccc !important; }

/***** ESTILOS DEL CALENDARIO FECHAS *****/
