.social-shaded div {
  display: inline-block;
  cursor: pointer;
  width: 26px;
  height: 26px;
  margin-right: 8px;
  background-repeat: no-repeat; }

.social-shaded .fb {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 32 32'%3E%3Cpath fill='%23CCC' d='M16 0c8.8 0 16 7.2 16 16 0 8.2-6.1 14.9-14 15.9V20h5.5l.5-4h-6v-2c0-1.1.9-2 2-2h4V8h-4c-3.3 0-6 2.7-6 6v2h-3v4h3v11.9C6.1 30.9 0 24.2 0 16 0 7.2 7.2 0 16 0z'/%3E%3C/svg%3E"); }
  .social-shaded .fb:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 32 32'%3E%3Cpath fill='%23409CD1' d='M16 0c8.8 0 16 7.2 16 16 0 8.2-6.1 14.9-14 15.9V20h5.5l.5-4h-6v-2c0-1.1.9-2 2-2h4V8h-4c-3.3 0-6 2.7-6 6v2h-3v4h3v11.9C6.1 30.9 0 24.2 0 16 0 7.2 7.2 0 16 0z'/%3E%3C/svg%3E"); }

.social-shaded .tw {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 32 32'%3E%3Cpath fill='%23CCC' d='M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0zm9.2 11.3v.6c0 6.3-4.8 13.5-13.5 13.5-2.7 0-5.2-.8-7.3-2.1.4 0 .7.1 1.1.1 2.2 0 4.3-.8 5.9-2-2.1 0-3.8-1.4-4.4-3.3.3.1.6.1.9.1.4 0 .9-.1 1.3-.2-2.2-.4-3.8-2.4-3.8-4.7v-.1c.6.4 1.4.6 2.1.6-1.3-.9-2.1-2.3-2.1-3.9 0-.9.2-1.7.6-2.4 2.3 2.9 5.8 4.8 9.8 5-.1-.3-.1-.7-.1-1.1 0-2.6 2.1-4.7 4.7-4.7 1.4 0 2.6.6 3.5 1.5C25 8 26 7.6 26.9 7c-.4 1.1-1.1 2-2.1 2.6 1-.1 1.9-.4 2.7-.7-.6 1-1.4 1.8-2.4 2.5z'/%3E%3C/svg%3E"); }
  .social-shaded .tw:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 32 32'%3E%3Cpath fill='%23409CD1' d='M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0zm9.2 11.3v.6c0 6.3-4.8 13.5-13.5 13.5-2.7 0-5.2-.8-7.3-2.1.4 0 .7.1 1.1.1 2.2 0 4.3-.8 5.9-2-2.1 0-3.8-1.4-4.4-3.3.3.1.6.1.9.1.4 0 .9-.1 1.3-.2-2.2-.4-3.8-2.4-3.8-4.7v-.1c.6.4 1.4.6 2.1.6-1.3-.9-2.1-2.3-2.1-3.9 0-.9.2-1.7.6-2.4 2.3 2.9 5.8 4.8 9.8 5-.1-.3-.1-.7-.1-1.1 0-2.6 2.1-4.7 4.7-4.7 1.4 0 2.6.6 3.5 1.5C25 8 26 7.6 26.9 7c-.4 1.1-1.1 2-2.1 2.6 1-.1 1.9-.4 2.7-.7-.6 1-1.4 1.8-2.4 2.5z'/%3E%3C/svg%3E"); }

.social-shaded .eml {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 32 32'%3E%3Cpath fill='%23CCC' d='M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0zM8 8h16c.3 0 .6.1.8.2L16 18.5 7.2 8.2c.3-.1.5-.2.8-.2zM6 22V10v-.1l5.9 6.8-5.8 5.8c0-.2-.1-.3-.1-.5zm18 2H8c-.2 0-.3 0-.5-.1l5.7-5.7 2.8 3.3 2.8-3.3 5.7 5.7c-.2 0-.3.1-.5.1zm2-2c0 .2 0 .4-.1.5l-5.8-5.8L26 9.9V22z'/%3E%3C/svg%3E"); }
  .social-shaded .eml:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 32 32'%3E%3Cpath fill='%23409CD1' d='M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0zM8 8h16c.3 0 .6.1.8.2L16 18.5 7.2 8.2c.3-.1.5-.2.8-.2zM6 22V10v-.1l5.9 6.8-5.8 5.8c0-.2-.1-.3-.1-.5zm18 2H8c-.2 0-.3 0-.5-.1l5.7-5.7 2.8 3.3 2.8-3.3 5.7 5.7c-.2 0-.3.1-.5.1zm2-2c0 .2 0 .4-.1.5l-5.8-5.8L26 9.9V22z'/%3E%3C/svg%3E"); }

/*
  @ Estilos lang 
*/
.language_es_lang_ico, .language_en_lang_ico {
  background-image: url("/src/images/language-selector-sprite.png");
  width: 24px;
  height: 18px;
  padding: 0 !important;
  display: inline-block;
  position: relative;
  bottom: -4px;
  border: 1px solid #e8e9ec;
  background-position: -1px -28px; }

.language_en_lang_ico {
  background-position: -49px -100px; }

/* 
@Estilos de textos 
*/
.text-linght {
  font-weight: 300; }

/*
@Colores de Textos 
*/
.text-green-linght {
  color: #41c4ab; }

/*
@font awesome XD
*/
.tour_title_icon svg {
  width: 30px; }
  .tour_title_icon svg .fa-secondary {
    color: #96bc34; }

.donwload_pdf_icon svg {
  width: 12px; }
  .donwload_pdf_icon svg .fa-primary {
    color: white; }
  .donwload_pdf_icon svg .fa-secondary {
    color: #409cd1; }

#btn_add_manifest {
  background-color: #fff;
  padding: 10px;
  font-size: 15px;
  line-height: 18px;
  border: 0;
  border-radius: 0;
  width: 80%;
  margin: 20px 0;
  height: 39px;
  color: #1a2a4a;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px; }
