/******************** Estilos Index ******************/
.main {
  background: #F1F1F1;
  padding-bottom: 10px;
  position: relative;
}
.main .banner-index {
  height: 70vh;
  position: relative;
}
.main .banner-index img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  border-style: cover;
}
.main .banner-index span {
  position: absolute;
  top: 30%;
  left: 2%;
  font-size: 3em;
  color: #fff;
  font-weight: 600;
  text-align: left;
  text-shadow: 2px 2px 6px #1a2d4c;
  line-height: 50px;
}
.main .banner-index span .Subsli {
  font-size: 23px;
  font-weight: 600;
  color: #eae9e9;
}

.page-header .Header-page .container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-header .Header-page .container-header .header-cont {
  -ms-flex-preferred-size: calc(100% - 128px);
      flex-basis: calc(100% - 128px);
  margin-top: 2em;
}
.page-header .Header-page .container-header .header-cont .header-text {
  text-align: center;
}
.page-header .Header-page .container-header .header-cont .header-text div .icons-header {
  margin: 0 auto;
  max-width: 100%;
  height: 25px;
}
.page-header .Header-page .container-header .header-cont .header-text .header-h2 {
  font-size: 13px;
  line-height: 2rem;
  color: #9b9a9d;
}
.page-header .Header-page .container-header .header-cont .header-text .header-par {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6d7688;
}

.InfoCon {
  margin-bottom: 40px;
  margin-top: 4em;
}
.InfoCon .subcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 96px;
  padding-right: 96px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.InfoCon .subcon .grcon {
  border-right: 16px solid transparent;
  width: 50%;
}
.InfoCon .subcon .grcon img {
  width: 100%;
  display: block;
}
.InfoCon .subcon .descon {
  border-left: 16px solid transparent;
  width: 50%;
}
.InfoCon .subcon .descon h1 {
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
  text-align: left;
  line-height: 4.75rem;
}
.InfoCon .subcon .descon p {
  margin-bottom: 16px;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 2px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
  width: 100%;
  background: #e2e2e2;
  position: relative;
  -webkit-box-shadow: 0 0px 5px 1px #789090;
          box-shadow: 0 0px 5px 1px #789090;
}
.container .menu-categori .slider-items-categori .contenedor-items-categoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .menu-categori .slider-items-categori .contenedor-items-categoria .CajaDesti {
  width: 26em;
  padding: 5px;
}
.container .menu-categori .slider-items-categori .contenedor-items-categoria .CajaDesti img {
  width: 100%;
}
.container .Cov {
  text-align: center;
  font-size: 19px;
  margin: 2em;
}
.container .Cov p {
  color: #808080;
  font-size: 16px;
  line-height: 30px;
}
.container .Cov a {
  color: #01b3a7;
  font-size: 14px;
  text-decoration: underline;
}
.container .Cov .titlecov {
  font-size: 20px;
  margin-bottom: 13px;
  color: #4e4e4e;
}
.container .categor-index {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.container .categor-index .categor-cont {
  height: 305px;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 5em;
  margin: 1em;
  -webkit-box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.44);
}
.container .categor-index .categor-cont h3 {
  position: relative;
  top: 40%;
}
.container .categor-index .categor-cont span {
  font-size: 42px;
  color: white;
  text-shadow: -2px 6px 11px #000000;
}

/****************** Categoryus index *************/
.Abaout1 {
  text-align: center;
  background: white;
  max-width: 45%;
  margin: 0 auto;
  margin-top: 5em;
}
.Abaout1 h3 {
  font-size: 23px;
  border-bottom: 3px solid #2a2d2c !important;
  line-height: 1.5em;
}
.Abaout1 p {
  font-size: 18px;
  line-height: 1.75;
  margin: 36px 0px 0px 0px;
  color: #858f99;
}
.Abaout1 .p2 {
  font-size: 23px;
  line-height: 1.5em;
}
.Abaout1 hr {
  border-color: #eaeaea;
  width: 90px;
  border-top-width: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.categor-title-index {
  padding: 30px 0;
}
.categor-title-index h1 span, .categor-title-index h2 span {
  display: block;
}
.categor-title-index h1 span:nth-child(1), .categor-title-index h2 span:nth-child(1) {
  font-size: 22px;
  padding: 0.8em;
  font-weight: 500;
}
.categor-title-index h1 span:nth-child(2), .categor-title-index h2 span:nth-child(2) {
  font-size: 20px;
}

.slideshow-container {
  max-width: 1400px;
  position: relative;
  margin: auto;
}
.slideshow-container .mySlides1 {
  display: none;
}
.slideshow-container .mySlides1 .mical {
  margin-right: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  color: #4a5a5a;
  line-height: 1.6666666667em;
  background: white;
}
.slideshow-container .mySlides1 .mical img {
  border-radius: 50px;
  width: 100px;
  margin-bottom: 15px;
}
.slideshow-container .mySlides1 .mical strong {
  font-weight: 600;
}
.slideshow-container .mySlides1 .mical1 {
  margin-right: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  color: #4a5a5a;
  line-height: 1.6666666667em;
  background: white;
}
.slideshow-container .mySlides1 .mical1 img {
  border-radius: 50px;
  width: 100px;
  margin-bottom: 15px;
}
.slideshow-container .mySlides1 .mical1 strong {
  font-weight: 600;
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(255, 1, 64, 0.66);
  color: #fff;
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.catergorys-index .items {
  margin-top: 10px;
}
.catergorys-index .items .item .description {
  font-size: 16px;
  height: 255px;
  -webkit-box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.4);
  border-radius: 0 0 6px 6px;
}
.catergorys-index .items .item .description .details {
  line-height: 18px;
  padding: 0.8em;
}
.catergorys-index .items .item .description .details .footeritems {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  padding: 0px 16px;
}
.catergorys-index .items .item .description .details .footeritems .PriceDs {
  color: #1a2b49;
  text-align: right;
}
.catergorys-index .items .item .description .details .footeritems .PriceDs p {
  margin-bottom: 0;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: #6d7688;
}
.catergorys-index .items .item .description .details .footeritems .PriceDs .curationtourprice p {
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 900;
  color: #1a2b49;
  white-space: nowrap;
  margin: 0 0 2px;
}
.catergorys-index .items .item .description .details .fronreviews {
  font-size: 15px;
  color: #1a2b49;
  font-weight: 900;
}
.catergorys-index .items .item .description .details .reviers {
  color: #6d7688;
  font-size: 10px;
  line-height: 0.75rem;
}
.catergorys-index .items .item .description .duration {
  padding: 4px 5px 7px 8px;
}
.catergorys-index .items .item .description .duration .reviews {
  margin-top: 1em;
}
.catergorys-index .items .item .description .duration .rcotn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catergorys-index .items .item .description .duration .rcotn .titletourin {
  display: block;
  color: #161A2B;
  width: calc(87% - 60px);
  margin: 0;
  padding: 0;
  font-size: 11px;
}
.catergorys-index .items .item .description .duration .titletourin {
  padding-bottom: 5px;
  color: #080867;
  margin-top: 5px;
  padding-left: 5px;
}
.catergorys-index .items .item .description .duration .describciontour {
  display: block;
  margin: 20px 0 18px;
  color: #444;
  opacity: 0.9;
  line-height: 20px;
  font-size: 14px;
}
.catergorys-index .items .item .description .describiciontourin {
  top: 0;
  right: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.catergorys-index .items .item .description .describiciontourin .tourdestinoin {
  font-size: 14px;
  color: #444;
  padding-top: 14px;
}
.catergorys-index .items .item .description .describiciontourin .tourdestinoin .titlesdescribci {
  margin-left: 6px;
}
.catergorys-index .items .item .description .describiciontourin .icondescripcion {
  width: 14px;
}
.catergorys-index .items .item .description .describiciontourin .durationtourin {
  font-size: 14px;
  color: #1a2b49;
  padding-top: 11px;
}
.catergorys-index .items .item .description .describiciontourin .durationtourin .titlesdescribci {
  margin-left: 6px;
}
.catergorys-index .items .item .img {
  height: 190px;
  border-radius: 6px 6px 0 0;
  background-size: cover;
  -webkit-box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.4);
}
.catergorys-index .items .item .img .subimg {
  padding: 5px;
  border-radius: 6px;
  color: #fff;
  width: -moz-max-content;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.65rem;
  line-height: 0.75rem;
  background-color: rgba(255, 1, 64, 0.66);
  letter-spacing: 0.5px;
  position: absolute;
  margin: 1em;
}
.catergorys-index .items .item .Desitns {
  margin-bottom: -10px;
  margin-top: -25px;
  padding: 0 8px;
  z-index: 1;
  position: absolute;
}
.catergorys-index .items .item .Desitns .desitntex {
  padding: 5px;
  border-radius: 6px;
  color: #fff;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.65rem;
  line-height: 0.75rem;
  background-color: #1593ffa3;
  letter-spacing: 0.5px;
}