

// Declarando Las Varibles Globales

$primary-text-color : #1a2b49;
$text-color1 : #768092;
$leter: .015em;
$text-color: #1a2b49;
$height-header: 70px;
$header-background:white;
$header-color: #1a2b49;
$header-font-size: 14px;
$font-size: 14px;
$text-gray-color:#818d99;
$blue-link-color:#1593ff;
//Importando los estilos de texto
/*@font-face{
  font-family:"GT Eesti";
  font-style:normal;
  font-display:fallback;
  font-weight:200;
  src:url("GT-Eesti-Pro-Display-Light.woff2") format("woff2"),
  url("GT-Eesti-Pro-Display-Light.woff") format("woff")}
  @font-face{
    font-family:"GT Eesti";
    font-style:normal;
    font-display:fallback;
    font-weight:400;
    src:url("GT-Eesti-Pro-Display-Regular.woff2") format("woff2"),
    url("GT-Eesti-Pro-Display-Regular.woff") format("woff")}
    @font-face{font-family:"GT Eesti";
      font-style:normal;
      font-display:fallback;font-weight:500;
      src:url("GT-Eesti-Pro-Display-Medium.woff2") format("woff2"),
      url("GT-Eesti-Pro-Display-Medium.woff") format("woff")}
      @font-face{
        font-family:"GT Eesti";
        font-style:normal;
        font-display:fallback;
        font-weight:700;
        src:url("GT-Eesti-Pro-Display-Bold.woff2") format("woff2"),
        url("GT-Eesti-Pro-Display-Bold.woff") format("woff")}*/
        @font-face{
          font-family:"icons";
          src:url("icons.woff2") format("woff2"),
          url("icons.woff") format("woff");
          font-weight:normal;
          font-style:normal}

[class^=icon-]:before,[class*=" icon-"]:before,.icon:before{font-family:"icons";display:inline-block;text-align:center;text-decoration:inherit;text-transform:none !important;font-weight:normal !important;font-style:normal !important;font-variant:normal !important;line-height:1;speak:none;position:relative}.icon-arrow-down-thin:before{content:""}.icon-arrow-left:before{content:""}.icon-arrow-right:before{content:""}.icon-arrow-up-thin:before{content:""}.icon-attention:before{content:""}.icon-audio-guide:before{content:""}.icon-authorized-checkmark:before{content:""}.icon-basket:before{content:""}.icon-bookings:before{content:""}.icon-booklet:before{content:""}.icon-bus-transfer:before{content:""}.icon-bus:before{content:""}.icon-calendar-alt:before{content:""}.icon-calendar:before{content:""}.icon-camera:before{content:""}.icon-cancel-circled:before{content:""}.icon-cancel:before{content:""}.icon-category-activities:before{content:""}.icon-category-air-and-helicopter-tours:before{content:""}.icon-category-all:before{content:""}.icon-category-bundles:before{content:""}.icon-category-city-cards:before{content:""}.icon-category-cruises-and-water-tours:before{content:""}.icon-category-culinary-and-nightlife:before{content:""}.icon-category-culture-and-history-tours:before{content:""}.icon-category-discounts-and-bundles:before{content:""}.icon-category-ground-transportation-and-transfers:before{content:""}.icon-category-nature-and-adventure-tours:before{content:""}.icon-category-rentals:before{content:""}.icon-category-seasonal-and-holiday-tours:before{content:""}.icon-category-shore-excursions:before{content:""}.icon-category-sightseeing-tours:before{content:""}.icon-category-snow-and-winter-sports:before{content:""}.icon-category-theme-tours:before{content:""}.icon-category-tickets:before{content:""}.icon-category-tours:before{content:""}.icon-chat-icon:before{content:""}.icon-checkmark:before{content:""}.icon-chevron-down:before{content:""}.icon-chevron-up:before{content:""}.icon-clock:before{content:""}.icon-close-light:before{content:""}.icon-close:before{content:""}.icon-cog:before{content:""}.icon-comment-bubble:before{content:""}.icon-credit-card:before{content:""}.icon-crown:before{content:""}.icon-currency-usd-light:before{content:""}.icon-currency-usd:before{content:""}.icon-deal:before{content:""}.icon-disabled:before{content:""}.icon-dollar:before{content:""}.icon-down-dir:before{content:""}.icon-duration:before{content:""}.icon-email:before{content:""}.icon-exclamation:before{content:""}.icon-eye:before{content:""}.icon-facebook:before{content:""}.icon-filter:before{content:""}.icon-fire:before{content:""}.icon-flash:before{content:""}.icon-free-cancellation:before{content:""}.icon-gift:before{content:""}.icon-globe:before{content:""}.icon-globe2:before{content:""}.icon-gplus:before{content:""}.icon-gyg-badge:before{content:""}.icon-heart-default:before{content:""}.icon-heart:before{content:""}.icon-help:before{content:""}.icon-hotel-pickup-car:before{content:""}.icon-hourglass:before{content:""}.icon-info-circled-empty:before{content:""}.icon-info-circled:before{content:""}.icon-information-symbol:before{content:""}.icon-instagram:before{content:""}.icon-key:before{content:""}.icon-linkedin:before{content:""}.icon-live-guide:before{content:""}.icon-location:before{content:""}.icon-lock:before{content:""}.icon-map:before{content:""}.icon-menu:before{content:""}.icon-minus:before{content:""}.icon-ok-circle-filled:before{content:""}.icon-ok-circled:before{content:""}.icon-ok:before{content:""}.icon-participants:before{content:""}.icon-phone:before{content:""}.icon-pinterest:before{content:""}.icon-plus:before{content:""}.icon-pointer-right:before{content:""}.icon-print:before{content:""}.icon-profile:before{content:""}.icon-question-circled:before{content:""}.icon-right:before{content:""}.icon-search:before{content:""}.icon-skip-line:before{content:""}.icon-smartphone:before{content:""}.icon-sort:before{content:""}.icon-spots-left:before{content:""}.icon-star:before{content:""}.icon-stop:before{content:""}.icon-thumbs-down:before{content:""}.icon-thumbs-up:before{content:""}.icon-tick:before{content:""}.icon-ticket-star:before{content:""}.icon-twitter:before{content:""}.icon-type-bundle:before{content:""}.icon-type-meal:before{content:""}.icon-type-pass:before{content:""}.icon-type-special:before{content:""}.icon-type-ticket:before{content:""}.icon-type-tour:before{content:""}.icon-up-dir:before{content:""}.icon-user:before{content:""}.icon-users:before{content:""}.icon-voucher:before{content:""}.icon-weather-atmosphere:before{content:""}.icon-weather-clear:before{content:""}.icon-weather-clouds:before{content:""}.icon-weather-drizzle:before{content:""}.icon-weather-extreme:before{content:""}.icon-weather-other:before{content:""}.icon-weather-rain:before{content:""}.icon-weather-snow:before{content:""}.icon-weather-thunderstorm:before{content:""}

//Reseteo del padding y margin de todo los elementos

@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,700|Work+Sans:500,600,700&display=swap&subset=latin-ext');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5{
  font-family: 'Ubuntu', sans-serif;
}
// Estilos Al Body

body{
  font-family: 'Ubuntu', sans-serif;

  font-kerning: normal;
  font-size: 14px;
  position: relative;
  color: $text-color;
  background-color: #f1f1f1;
}
/**************************** Carriro ******************/
nav li a{
  position: relative;
}
#cant_carrito{
  background: #409cd1;
  color: white;
  position: absolute;
  width: 15px;
  height: 15px;
  font-size: 13px;
  bottom: 29px;
  left: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  visibility: hidden;
}

// .form-group{
//   input:hover{
//     border: 1px solid #2793db;
//   }
//   input[type="text"]:active,input[type="password"]:active{
//     border: 1px solid #2793db;
//   }
// }

/************************ Estilos GLoblaes  Begin **************************/
.icon-chevron-right{
 position: absolute;
 right: -2px;
 font-size: 18px;
 transform: rotate(-90deg);
}
.start{
  display: inline-block;
  height: 16px;
  width: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.half{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.55 1.4l-2.6 5.28-6.83 1 4.94 4.8-1.17 6.8 6.1-3.2 6.1 3.2-1.16-6.8 4.94-4.8-6.83-1L10 .48l-.45.92zM10 14.95V2.75l2.4 4.84 5.33.77-3.86 3.77.9 5.32-4.77-2.5z' fill='rgb(255, 217, 56)'/%3E%3C/svg%3E");
  }
  &.full{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgb(255, 217, 56)' d='M9.55 1.4l-2.6 5.28-6.83 1 4.94 4.8-1.17 6.8 6.1-3.2 6.1 3.2-1.16-6.8 4.94-4.8-6.83-1L10 .48'/%3E%3C/svg%3E");
  }
  &.empty{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.55 1.4l-2.6 5.28-6.83 1 4.94 4.8-1.17 6.8 6.1-3.2 6.1 3.2-1.16-6.8 4.94-4.8-6.83-1L10 .48l-.45.92zM6.13 12.14L2.27 8.37 7.6 7.6 10 2.74l2.4 4.84 5.33.77-3.86 3.77.9 5.32-4.77-2.5-4.78 2.5.9-5.32z' fill='rgb(255, 217, 56)'/%3E%3C/svg%3E");
  }
}
a{
  text-decoration: none;
}
.h100{
  height: 100% !important;
}

.mr-1{
  margin-right: 5px;
}
.mt-5{
  margin-top: 25px;
}
.btn{
  padding: 6px 8px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  display: block;
  line-height: 30px;
}
.border-top{
  border-top: 1px solid #c7d0d9;
}
.sub-title{
  font-size: 12px;
  color: #818d99;
  text-transform: uppercase;
}
.point{
  width: 30px;
  height: 30px;
  border: 2px solid #409cd1;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  color: #409cd1;
  font-weight: 700;
}
.btn-add{
  padding: 10px;
    // background: #1593ff;
    // border-color: #1593ff;
    // border-style: solid;
    display: block;
    color: white;
    border-radius: 10px;
    font-size: .9rem;
    
    margin: 15px auto;
    outline: 0px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
}
.btn-find-tours{
  padding: 6px 8px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 30px;
  text-align: center;
  display: block;
  width: auto;
  line-height: 30px;
  margin: auto;
  border: 1px solid $primary-text-color;
  color: $primary-text-color;
  white-space: nowrap;
  transition: .4s ease;
  &:hover{
    background: $primary-text-color;
    color: white;
  }
}
.btn-primary{
  background-color: #fff;
  color: #161a2b;
  white-space: nowrap;
  transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 21px;
  font-weight: 900;
  &.br{
    border-radius: 10px;
  }
  &:hover{
    background: #e0602f;
    color: white;
    .donwload_pdf_icon svg{
        .fa-primary{
            color:#787978;
        }
        .fa-secondary{
            color:white;
        }
    }
  }
}
.separator{
  display: block;
  height: 1px;
  width: 100%;
  background: #9ca0ad;
}


.btn-brochure{
  background-color: #fff;
  border: 1px solid #409cd1;
  color: #409cd1;
  white-space: nowrap;
  transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
  &.br{
    border-radius: 50px;
  }
  &:hover{
    background: #409cd1;
    color: white;
    .donwload_pdf_icon svg{
        .fa-primary{
            color:#409cd1;
        }
        .fa-secondary{
            color:white;
        }
    }
  }
}
.swiper-button-next, .swiper-button-prev{
  color: white !important;
  outline: 0px;
}
.link-primary {
  color:#08aca2;
  font-size: 11px;

}

.rating-stars{
  display: inline-block;
  width: 100px;
  background-size: 90px 170px;
  height: 15px;
  background-image: url(https://cdn.getyourguide.com/assets/594408306dbd/customer/desktop/static/images/yellow-stars.svg);
  background-repeat: no-repeat;
  background-position: 0px -30px;
  text-indent: 10px;
  direction: ltr;
  vertical-align: middle;
}

.text-green{
  color: #41c4ab !important;
}

/************************ Importando los componentes Begin **************************/

@import "components/stylenav";
@import "components/index";
@import "components/media";
@import "components/tour";

@import "components/pasarela";
@import "components/footer";
@import "components/category";
@import "components/about";
@import "components/globals";
@import "components/politicas";
@import "components/error404";

/************************ Importando los componentes End **************************/
